<div class="p-grid">
    <div class="p-col-12 p-md-6">
        <app-targetSector></app-targetSector>
    </div>
    <div class="p-col-12 p-md-6">
        <app-targetRegion></app-targetRegion>

    </div>
</div>
<div class="p-grid">
    <div class="p-col-12 p-md-12">
        <p-card header="Last Month Target Sectors">
            <div class="spin">
                <ngx-spinner name="sector-spinner" bdOpacity=0.9 bdColor="#f4f4f9" size="medium" color="#1010ee"
                             type="ball-clip-rotate" [fullScreen]="false"></ngx-spinner>
            </div>
            <p-tabView>
                <p-tabPanel header="Attacks/Campaigns">
                    <div class="table-responsive p-mt-3" style="margin-bottom:0;">

                        <div *ngIf="showtargetSectorAttackCampaign" class="p-grid p-fluid">

                            <div class="p-col-12 p-md-6" *ngFor="let sectorObject of targetSectorAttackCampaign.slice(0, targetSectorAttackCampaign?.length/2)">
                                <table class="app-table">
                                    <tr>
                                        <td width="100">
                                            <img src="../../../assets/icons/{{sectorObject?.value}}.svg">
                                        </td>
                                        <td width="30%" [ngStyle]="{'text-transform':sectorObject.value === 'NGOs' ? 'none' : 'uppercase' }">
                                            <h5>
                                                <a (click)="routetoCamA(sectorObject.id)">{{sectorObject?.value}}</a>
                                            </h5>
                                        </td>
                                        <td class="p-text-center">{{sectorObject?.count}} </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="p-col-12 p-md-6" *ngFor="let sectorObject of targetSectorAttackCampaign.slice(targetSectorAttackCampaign?.length/2)">
                                <table class="app-table">
                                    <tr>
                                        <td width="100">
                                            <img src="../../../assets/icons/{{sectorObject?.value}}.svg">
                                        </td>
                                        <td width="30%" [ngStyle]="{'text-transform':sectorObject.value === 'NGOs' ? 'none' : 'uppercase' }">
                                            <h5>
                                                <a (click)="routetoCamA(sectorObject.id)">{{sectorObject?.value}}</a>
                                            </h5>
                                        </td>
                                        <td class="p-text-center">{{sectorObject?.count}} </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div *ngIf="hidetargetSectorAttackCampaign" class="card">
                            <ul class="list-group list-group-flush p-text-center p-mt-3">
                                <li class="list-group-item">No Record Found</li>
                            </ul>
                        </div>
                    </div>
                </p-tabPanel>
                <p-tabPanel header="Indicators">
                    <div class="table-responsive p-mt-3" style="margin-bottom:0;">

                        <div *ngIf="showtargetSectorIndicator" class="p-grid p-fluid">

                            <div class="p-col-12 p-md-6" *ngFor="let sectorObject of targetSectorIndicator.slice(0, targetSectorIndicator?.length/2)">
                                <table class="app-table">
                                    <tr>
                                        <td width="100">
                                            <img src="../../../assets/icons/{{sectorObject?.value}}.svg">
                                        </td>
                                        <td width="30%" [ngStyle]="{'text-transform':sectorObject.value === 'NGOs' ? 'none' : 'uppercase' }">
                                            <h5>
                                                <a (click)="routetoCam(sectorObject.id)">{{sectorObject?.value}}</a>
                                            </h5>
                                        </td>
                                        <td class="p-text-center">{{sectorObject?.count}} </td>
                                    </tr>
                                </table>
                            </div>

                            <div class="p-col-12 p-md-6" *ngFor="let sectorObject of targetSectorIndicator.slice(targetSectorIndicator?.length/2)">
                                <table class="app-table">
                                    <tr>
                                        <td width="100">
                                            <img src="../../../assets/icons/{{sectorObject?.value}}.svg">
                                        </td>
                                        <td width="30%" [ngStyle]="{'text-transform':sectorObject.value === 'NGOs' ? 'none' : 'uppercase' }">
                                            <h5>
                                                <a (click)="routetoCam(sectorObject.id)">{{sectorObject?.value}}</a>
                                            </h5>
                                        </td>
                                        <td class="p-text-center">{{sectorObject?.count}} </td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div *ngIf="hidetargetSectorIndicator" class="card">
                            <ul class="list-group list-group-flush p-text-center p-mt-3">
                                <li class="list-group-item">No Record Found</li>
                            </ul>
                        </div>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </p-card>

    </div>
</div>
<div class="p-grid">
    <div class="p-col-12 p-md-12">
        <p-card header="Last Month Target Countries">
            <div class="spin">
                <ngx-spinner name="sector-spinner" bdOpacity=0.9 bdColor="#f4f4f9" size="medium" color="#1010ee"
                             type="ball-clip-rotate" [fullScreen]="false"></ngx-spinner>
            </div>
            <p-tabView (onChange)="changeDatamapTab($event)">
                <p-tabPanel header="Attacks/Campaigns">
                    <app-datamapA></app-datamapA>
                </p-tabPanel>
                <p-tabPanel header="Indicators">
                    <div *ngIf="sh">
                        <app-datamapI></app-datamapI>
                    </div>
                </p-tabPanel>
            </p-tabView>
        </p-card>

    </div>
</div>
<div class="p-grid">
    <div class="p-col-12 p-md-6">
        <p-card header="Top Groups">
            <div class="spin">
                <ngx-spinner name="topGroups-spinner" bdOpacity=0.9 bdColor="#f4f4f9" size="medium" color="#1010ee"
                             type="ball-clip-rotate" [fullScreen]="false"></ngx-spinner>
            </div>
            <table *ngIf="showTopGroups" class="app-table">
                <thead>
                <tr>
                    <th>Group Name</th>
                    <th class="p-text-center">Attacks/Campaigns</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let requestGroupsElement of requestGroups">
                    <td>
                        <a (click)="viewGroups(requestGroupsElement.id)">{{requestGroupsElement?.groupName}}
                            <span *ngIf="requestGroupsElement?.mitreName">,</span> {{requestGroupsElement?.mitreName}}</a>
                    </td>
                    <td class="p-text-center">{{requestGroupsElement.attackCampaignCount}}</td>
                </tr>
                </tbody>
            </table>
            <div class="card-body" *ngIf="!showTopGroups">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center">No Record Found</li>
                    </ul>
                </div>
            </div>
        </p-card>

    </div>
    <div class="p-col-12 p-md-6">
        <p-card header="Top Attacks/Campaigns">
            <div class="spin">
                <ngx-spinner name="topAttacks-spinner" bdOpacity=0.9 bdColor="#f4f4f9" size="medium" color="#1010ee"
                             type="ball-clip-rotate" [fullScreen]="false"></ngx-spinner>
            </div>
            <table *ngIf="showTopAttacks" class="app-table">
                <thead>
                <tr>
                    <th>Attack/Campaign Name</th>
                    <th class="p-text-center">Indicator Count</th>

                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let requestIncidentElement of requestIncident">
                    <td>
                        <a (click)="viewAttackCampaign(requestIncidentElement.id)">{{requestIncidentElement.caseName}}</a>
                    </td>
                    <td class="p-text-center">{{requestIncidentElement.indicatorCount}}</td>
                </tr>
                </tbody>
            </table>
            <div class="card-body" *ngIf="!showTopAttacks">
                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-center">No Record Found</li>
                    </ul>
                </div>
            </div>
        </p-card>

    </div>
</div>
<div class="p-grid">
    <div class="spin">
        <ngx-spinner name="totalAttack-spinner" bdOpacity=0.9 bdColor="#f4f4f9" size="medium" color="#1010ee"
                     type="ball-clip-rotate" [fullScreen]="false"></ngx-spinner>
    </div>
    <div class="p-col-12 p-md-4">
        <p-card header="Total Groups">
            <h1 class="p-text-center">{{totalGroups}}
            </h1>
        </p-card>
    </div>
    <div class="p-col-12 p-md-4">
        <p-card header="Total Attacks/Campaigns">
            <h1 class="p-text-center">{{totalAttacks}}
            </h1>
        </p-card>
    </div>
    <div class="p-col-12 p-md-4">
        <p-card header="Total Indicators">
            <h1 class="p-text-center">{{totalIndicators}}
            </h1>
        </p-card>
    </div>
</div>
