
<p-card header="Target Regions">
  <div *ngIf="showRA || hideRA">
    <input type="text" ngxDaterangepickerMd [(ngModel)]="selected" [showCustomRangeLabel]="false"
           [alwaysShowCalendars]="false" [ranges]="ranges" [linkedCalendars]="true"
           (rangeClicked)="selectedDateRA($event)" placeholder="Select please.../" class="p-inputtext custom-daterange p-mb-3" style="width: 170px;">
  </div>
  <div *ngIf="showRC  || hideRC">
    <input type="text" ngxDaterangepickerMd [(ngModel)]="selected" [showCustomRangeLabel]="false"
           [alwaysShowCalendars]="false" [ranges]="ranges" [linkedCalendars]="true"
           (rangeClicked)="selectedDateRC($event)" placeholder="Select please.../" class="p-inputtext custom-daterange p-mb-3" style="width: 170px;">
  </div>
  <div *ngIf="showIA || hideIA">
    <input type="text" ngxDaterangepickerMd [(ngModel)]="selected" [showCustomRangeLabel]="false"
           [alwaysShowCalendars]="false" [ranges]="ranges" [linkedCalendars]="true"
           (rangeClicked)="selectedDateIA($event)" placeholder="Select please.../" class="p-inputtext custom-daterange p-mb-3" style="width: 170px;">
  </div>
  <div *ngIf="showIC  || hideIC">
    <input type="text" ngxDaterangepickerMd [(ngModel)]="selected" [showCustomRangeLabel]="false"
           [alwaysShowCalendars]="false" [ranges]="ranges" [linkedCalendars]="true"
           (rangeClicked)="selectedDateIC($event)" placeholder="Select please.../" class="p-inputtext custom-daterange p-mb-3" style="width: 170px;">
  </div>
  <p-tabView (onChange)="tabIndex($event)">
    <p-tabPanel header="Attacks/Campaigns" >
      <div class="spin">
        <ngx-spinner name="targetRegion-spinner" bdOpacity = 0.9 bdColor = "#f4f4f9" size = "medium" color = "#1010ee"
                     type = "ball-clip-rotate" [fullScreen] = "false"></ngx-spinner>
      </div>
      <div *ngIf="showRA">
          <div class="wsh-chart" id="region"
               echarts [options]="chartOption" (chartClick)="getCountries($event)">
          </div>
      </div>
      <div *ngIf="showRC">
        <div class="row">
          <div class="col-md-6 p-mt-3">
            <button type="button" class="p-button p-component ng-star-inserted w-auto p-mr-2" (click)="getRegions()">
              Back
            </button>
          </div>
        </div>
          <div class="wsh-chart"  echarts [options]="chartOptionCountries" (chartClick)="routeToListingAttackCampaign($event)">
        </div>
      </div>
      <div *ngIf="hideRA" class="card">
        <ul class="list-group list-group-flush p-d-flex p-justify-center p-mt-3">
          <li class="list-group-item text-center">No Record Found</li>
        </ul>
      </div>
      <div *ngIf="hideRC" class="card">
        <div class="row">
          <div class="col-md-6 p-mt-3">
            <button type="button" class="p-button p-component ng-star-inserted w-auto p-mr-2" (click)="getRegions()">
              Back
            </button>
          </div>
        </div>
        <ul class="list-group list-group-flush p-d-flex p-justify-center p-mt-3">
          <li class="list-group-item text-center">No Record Found</li>
        </ul>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Indicators" >
      <div class="spin">
        <ngx-spinner name="targetRegion-spinner" bdOpacity = 0.9 bdColor = "#f4f4f9" size = "medium" color = "#1010ee"
                     type = "ball-clip-rotate" [fullScreen] = "false"></ngx-spinner>
      </div>
      <div *ngIf="showIA">
          <div class="wsh-chart"
               echarts [options]="chartOption" (chartClick)="getCountriesIndicator($event)">
          </div>
      </div>
      <div *ngIf="showIC">
        <div class="row">
          <div class="col-md-6 p-mt-3">
            <button type="button" class="p-button p-component ng-star-inserted w-auto p-mr-2" (click)="getRegionsIndicator()">
              Back
            </button>
          </div>
        </div>
          <div class="wsh-chart"  echarts [options]="chartOptionCountries" (chartClick)="routeToListing($event)">
        </div>
      </div>
      <div *ngIf="hideIA" class="card">
        <ul class="list-group list-group-flush p-d-flex p-justify-center p-mt-3">
          <li class="list-group-item text-center">No Record Found</li>
        </ul>
      </div>
      <div *ngIf="hideIC" class="card">
        <div class="row">
          <div class="col-md-6 p-mt-3">
            <button type="button" class="p-button p-component ng-star-inserted w-auto p-mr-2" (click)="getRegionsIndicator()">
              Back
            </button>
          </div>
        </div>
        <ul class="list-group list-group-flush p-d-flex p-justify-center p-mt-3">
          <li class="list-group-item text-center">No Record Found</li>
        </ul>
      </div>
    </p-tabPanel>
  </p-tabView>
</p-card>
 
