<p-card header="Target Sectors">

  <div *ngIf="showRA || hideRA">
    <input type="text" ngxDaterangepickerMd [(ngModel)]="selected" [showCustomRangeLabel]="false"
           [alwaysShowCalendars]="false" [ranges]="ranges" [linkedCalendars]="true"
           (ngModelChange)="selectedDateRA()" placeholder="Select please.../" class="p-inputtext custom-daterange p-mb-3" style="width: 170px;">
  </div>
  <div *ngIf="showIA || hideIA" >
    <input type="text" ngxDaterangepickerMd [(ngModel)]="selected" [showCustomRangeLabel]="false"
           [alwaysShowCalendars]="false" [ranges]="ranges" [linkedCalendars]="true"
           (ngModelChange)="selectedDateIA()" placeholder="Select please.../" class="p-inputtext custom-daterange p-mb-3" style="width: 170px;">
  </div>
  <p-tabView (onChange)="changeTab($event)">
    <p-tabPanel header="Attacks/Campaigns" >
      <div class="spin">
        <ngx-spinner name="targetSector-spinner" bdOpacity = 0.9 bdColor = "#f4f4f9" size = "medium" color = "#1010ee"
                     type = "ball-clip-rotate" [fullScreen] = "false"></ngx-spinner>
      </div>
      <div *ngIf="showRA">
        <div class="wsh-chart"
             echarts [options]="chartOption" (chartClick)="routeToListingAttackCampaign($event)">
        </div>
      </div>
      <div *ngIf="hideRA" class="card">
        <ul class="list-group list-group-flush p-d-flex p-justify-center p-mt-3">
          <li class="list-group-item text-center">No Record Found</li>
        </ul>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Indicators" >
      <div class="spin">
        <ngx-spinner name="targetSector-spinner" bdOpacity = 0.9 bdColor = "#f4f4f9" size = "medium" color = "#1010ee"
                     type = "ball-clip-rotate" [fullScreen] = "false"></ngx-spinner>
      </div>
      <div *ngIf="showIA">
        <div class="wsh-chart"
             echarts [options]="chartOption" (chartClick)="routeToListing($event)">
        </div>
      </div>
      <div *ngIf="hideIA" class="card">
        <ul class="list-group list-group-flush p-d-flex p-justify-center p-mt-3">
          <li class="list-group-item text-center">No Record Found</li>
        </ul>
      </div>
    </p-tabPanel>
  </p-tabView>
</p-card>


