<header>
    <div class="logo">
        <app-router-link router="/landing" label=""></app-router-link>
    </div>
    <!-- <div>
        <p-avatar image="../../../../assets/user.jpg" styleClass="" size="xlarge" shape="circle"></p-avatar>
    </div> -->
</header>