<div class="p-grid">
  <div class="p-col">
    <p-breadcrumb [model]="breadCrumbs"></p-breadcrumb>
    <p-card header="Update Group">
      <ngx-spinner name="updategroup-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
                   type="ball-clip-rotate"
                   [fullScreen]="true"><p> Loading... </p></ngx-spinner>
      <form [formGroup]="updateGroupForm" (ngSubmit)="onSubmit()">
        <div class="p-field">
          <label type="text" class="col-form-label"><span class="red-star">*</span> Group Name:</label>
          <input type="text" pInputText class="p-inputtext animation" formControlName="groupName"/>
          <div *ngIf="errorControl.groupName.errors">
          <span class="p-error" *ngIf="((errorControl.groupName.dirty || errorControl.groupName.touched) && errorControl.groupName.errors?.required && !errorControl.groupName.errors?.pattern && !submitNextOne)">
            Group Name is required
          </span>
            <span class="p-error" *ngIf="((submitNextOne) && errorControl.groupName.errors?.required && !errorControl.groupName.errors?.pattern)">
            Group Name is required
          </span>
          </div>
        </div>
        <div class="p-grid">
          <div class="p-col-12 p-md-4  p-field">
            <label type="text" class="col-form-label">MITRE Name:</label>
            <input type="text" pInputText class="p-inputtext animation" formControlName="mitreName"/>
            <div *ngIf="errorControl.mitreName.errors">
            <span class="p-error" *ngIf="((errorControl.mitreName.dirty || errorControl.mitreName.touched) && errorControl.mitreName.errors?.required  && !submitNextOne)">
              MITRE Name is required
            </span>
              <span class="p-error" *ngIf="((submitNextOne) && errorControl.mitreName.errors?.required)">MITRE Name is required</span>
            </div>
          </div>
          <div class="p-col-12 p-md-8  p-field  p-fluid">
            <label type="text" class="col-form-label">Alias:</label>
            <p-chips  [addOnBlur]="true" [max]="25" [allowDuplicate]="false" formControlName="alias"
                      placeholder="Enter Alias"
                      (onAdd)="add($event)" (onRemove)="remove($event)"></p-chips>
          </div>
        </div>
        <div class="p-field">
          <label type="text" class="col-form-label">Summary:</label>
          <textarea type="text" pInputText class="p-inputtext animation" formControlName="summary"></textarea>
        </div>
        <div class="p-grid">

          <div class="p-col-12 p-md-6 p-field">
            <label type="text" class="col-form-label">Sectors:</label>
            <angular2-multiselect [data]="sectorResult"
                                  [(ngModel)]="selectedItemsS"
                                  [settings]="settingsSector"
                                  formControlName="sectors">
            </angular2-multiselect>
          </div>
          <div class="p-col-12 p-md-6 p-field">
            <label type="text" class="col-form-label">Countries:</label>
            <angular2-multiselect [data]="itemList"
                                  [(ngModel)]="selectedItems"
                                  [settings]="settings"
                                  formControlName="regions">
            </angular2-multiselect>
          </div>
        </div>
        <p-card header="MITRE Attack Mapping">
          <p-accordion class="accordion" [multiple]="true" (onOpen)="getTechnique($event)">
            <span class="btn btn-default btn-file">
              <input type="file" [attr.disabled]="file_loading ? '' : null" formControlName="filess"
                     class="form-control" accept=".csv" #file (change)="onFilesAdded()"
                     placeholder="Enter CSV file">
            </span>
            <ngx-spinner  name="mitre-spinner" bdOpacity = 0.9 bdColor = "#f4f4f9" size = "medium" color = "#1010ee"
                          type = "ball-clip-rotate" [fullScreen] = "false"></ngx-spinner>
            <p-accordionTab header="Reconnaissance" [selected]="reconopen">
              <div formArrayName="mitreReconnaissance" class="p-grid"
                   *ngFor="let unit of updateGroupForm.get('mitreReconnaissance')['controls']; let updateGroupIndex = index;">
                <div class="p-col "  [formGroupName]="updateGroupIndex">
                  <div class="p-col-12">
                    <h3 class="form-add">
                            <span *ngIf="updateGroupIndex===0 || updateGroupIndex===updateGroupForm.get('mitreReconnaissance')['controls'].length - 1"
                                  (click)="addMitreInitial('Reconnaissance')"> <i class="pi pi-plus"></i> </span>
                      <span *ngIf="updateGroupIndex!=0" (click)="removeMitreInitial(updateGroupIndex, 'Reconnaissance')"><i class="pi pi-times"></i>  </span>
                      <span *ngIf="updateGroupIndex==0" (click)="removeMitreInitialZ(updateGroupIndex, 'mitreReconnaissance')"> <i class="pi pi-times"></i>  </span>

                    </h3>
                  </div>
                  <div class="block-div p-col-12 p-p-0">
                    <div class="p-col-12 p-md-6 p-field p-fluid">
                      <label type="text" class="col-form-label">Technique ID</label>
                      <p-autoComplete formControlName="techniqueId"  [forceSelection]="true"
                                      id="validationCustoms2111"
                                      [suggestions]="techniqueIdResult" [dropdown]="true"
                                      (completeMethod)="searchTechniqueById($event, 0)"
                                      (onClear)="clear('mitreReconnaissance', updateGroupIndex)"
                                      (ngModelChange)="patchMitreDetails(unit.controls, 'mitreReconnaissance', updateGroupIndex, 'id')"
                      >
                        <ng-template let-techniqueId pTemplate="item">
                          {{techniqueId}}
                        </ng-template>
                      </p-autoComplete>
                      <div *ngIf="unit.controls.techniqueId.errors">
                        <span class="p-error" *ngIf="((unit.controls.techniqueId.dirty || unit.controls.techniqueId.touched) && unit.controls.techniqueId.errors?.required && !submitNextThree)">
                          Technique ID required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.techniqueId.errors?.required)">
                          Technique ID is required
                        </span>
                      </div>
                    </div>
                    <div class="p-col-12 p-md-6 p-field">
                      <label type="text" class="col-form-label">Technique Name</label>
                      <input formControlName="name"
                             type="text" pInputText class="p-inputtext animation" readonly [disabled]="true"
                      >
                      <div *ngIf="unit.controls.name.errors">
                        <span class="p-error" *ngIf="((unit.controls.name.dirty || unit.controls.name.touched) && unit.controls.name.errors?.required && !submitNextThree)">
                          Technique Name is required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.name.errors?.required)">
                          Technique Name is required
                        </span>
                      </div>

                    </div>
                  </div>
                  <div class="p-col-12 p-md-12 p-field">
                    <label type="text" class="col-form-label">Description</label>
                    <textarea type="text" formControlName="description"
                              pInputText class="p-inputtext animation"
                    ></textarea>
                    <div *ngIf="unit.controls.description.errors">
                        <span class="p-error" *ngIf="((unit.controls.description.dirty || unit.controls.description.touched) && unit.controls.description.errors?.required && !submitNextThree)">
                          Description is required
                        </span>
                      <span class="p-error" *ngIf="((submitNextThree) && unit.controls.description.errors?.required)">
                          Description is required
                        </span>
                    </div>


                  </div>
                </div>
              </div>
            </p-accordionTab>
            <p-accordionTab header="Resource Development"  [selected]="resopen">
              <div formArrayName="mitreResourceDevelopment" class="p-grid"
                   *ngFor="let unit of updateGroupForm.get('mitreResourceDevelopment')['controls']; let updateGroupIndex = index;">
                <div class="p-col "  [formGroupName]="updateGroupIndex">
                  <div class="p-col-12">
                    <h3 class="form-add">
                            <span *ngIf="updateGroupIndex===0 || updateGroupIndex===updateGroupForm.get('mitreResourceDevelopment')['controls'].length - 1"
                                  (click)="addMitreInitial('Resource Development')"> <i class="pi pi-plus"></i> </span>
                      <span *ngIf="updateGroupIndex!=0" (click)="removeMitreInitial(updateGroupIndex, 'Resource Development')"><i class="pi pi-times"></i>  </span>
                      <span *ngIf="updateGroupIndex==0" (click)="removeMitreInitialZ(updateGroupIndex, 'mitreResourceDevelopment')"> <i class="pi pi-times"></i>  </span>

                    </h3>
                  </div>
                  <div class="block-div p-col-12 p-p-0">
                    <div class="p-col-12 p-md-6 p-field">
                      <label type="text" class="col-form-label">Technique ID</label>
                      <p-autoComplete formControlName="techniqueId"  [forceSelection]="true"
                                      [suggestions]="techniqueIdResult" [dropdown]="true"
                                      (completeMethod)="searchTechniqueById($event, 1)"
                                      (onClear)="clear('mitreResourceDevelopment', updateGroupIndex)"
                                      (ngModelChange)="patchMitreDetails(unit.controls, 'mitreResourceDevelopment', updateGroupIndex, 'id')"
                      >
                        <ng-template let-techniqueId pTemplate="item">
                          {{techniqueId}}
                        </ng-template>
                      </p-autoComplete>
                      <div *ngIf="unit.controls.techniqueId.errors">
                        <span class="p-error" *ngIf="((unit.controls.techniqueId.dirty || unit.controls.techniqueId.touched) && unit.controls.techniqueId.errors?.required && !submitNextThree)">
                          Technique ID required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.techniqueId.errors?.required)">
                          Technique ID is required
                        </span>
                      </div>
                    </div>
                    <div class="p-col-12 p-md-6 p-field">
                      <label type="text" class="col-form-label">Technique Name</label>
                      <input formControlName="name" type="text" pInputText class="p-inputtext animation" readonly [disabled]="true"
                      >
                      <div *ngIf="unit.controls.name.errors">
                        <span class="p-error" *ngIf="((unit.controls.name.dirty || unit.controls.name.touched) && unit.controls.name.errors?.required && !submitNextThree)">
                          Technique Name is required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.name.errors?.required)">
                          Technique Name is required
                        </span>
                      </div>

                    </div>
                  </div>
                  <div class="p-col-12 p-md-12 p-field">
                    <label type="text" class="col-form-label">Description</label>
                    <textarea type="text" formControlName="description"
                              pInputText class="p-inputtext animation"
                    ></textarea>
                    <div *ngIf="unit.controls.description.errors">
                        <span class="p-error" *ngIf="((unit.controls.description.dirty || unit.controls.description.touched) && unit.controls.description.errors?.required && !submitNextThree)">
                          Description is required
                        </span>
                      <span class="p-error" *ngIf="((submitNextThree) && unit.controls.description.errors?.required)">
                          Description is required
                        </span>
                    </div>


                  </div>
                </div>
              </div>
            </p-accordionTab>

            <p-accordionTab header="Initial Access"  [selected]="iaopen">
              <div formArrayName="mitreInitialAccess" class="p-grid"
                   *ngFor="let unit of updateGroupForm.get('mitreInitialAccess')['controls']; let updateGroupIndex = index;">
                <div class="p-col "  [formGroupName]="updateGroupIndex">
                  <div class="p-col-12">
                    <h3 class="form-add">
                            <span *ngIf="updateGroupIndex===0 || updateGroupIndex===updateGroupForm.get('mitreInitialAccess')['controls'].length - 1"
                                  (click)="addMitreInitial('Initial Access')"> <i class="pi pi-plus"></i> </span>
                      <span *ngIf="updateGroupIndex!=0" (click)="removeMitreInitial(updateGroupIndex, 'Initial Access')"><i class="pi pi-times"></i>  </span>
                      <span *ngIf="updateGroupIndex==0" (click)="removeMitreInitialZ(updateGroupIndex, 'mitreInitialAccess')"> <i class="pi pi-times"></i>  </span>

                    </h3>
                  </div>
                  <div class="block-div p-col-12">
                    <div class="p-col-12 p-md-6 p-field">
                      <label type="text" class="col-form-label">Technique ID</label>
                      <p-autoComplete formControlName="techniqueId"  [forceSelection]="true"
                                      [suggestions]="techniqueIdResult" [dropdown]="true"
                                      (completeMethod)="searchTechniqueById($event, 2)"
                                      (onClear)="clear('mitreInitialAccess', updateGroupIndex)"
                                      (ngModelChange)="patchMitreDetails(unit.controls, 'mitreInitialAccess', updateGroupIndex, 'id')"
                      >
                        <ng-template let-techniqueId pTemplate="item">
                          {{techniqueId}}
                        </ng-template>
                      </p-autoComplete>
                      <div *ngIf="unit.controls.techniqueId.errors">
                        <span class="p-error" *ngIf="((unit.controls.techniqueId.dirty || unit.controls.techniqueId.touched) && unit.controls.techniqueId.errors?.required && !submitNextThree)">
                          Technique ID required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.techniqueId.errors?.required)">
                          Technique ID is required
                        </span>
                      </div>
                    </div>
                    <div class="p-col-12 p-md-6 p-field">
                      <label type="text" class="col-form-label">Technique Name</label>
                      <input formControlName="name" type="text" pInputText class="p-inputtext animation" readonly [disabled]="true"
                      >
                      <div *ngIf="unit.controls.name.errors">
                        <span class="p-error" *ngIf="((unit.controls.name.dirty || unit.controls.name.touched) && unit.controls.name.errors?.required && !submitNextThree)">
                          Technique Name is required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.name.errors?.required)">
                          Technique Name is required
                        </span>
                      </div>

                    </div>
                  </div>
                  <div class="p-col-12 p-md-12 p-field">
                    <label type="text" class="col-form-label">Description</label>
                    <textarea type="text" formControlName="description"
                              pInputText class="p-inputtext animation"
                    ></textarea>
                    <div *ngIf="unit.controls.description.errors">
                        <span class="p-error" *ngIf="((unit.controls.description.dirty || unit.controls.description.touched) && unit.controls.description.errors?.required && !submitNextThree)">
                          Description is required
                        </span>
                      <span class="p-error" *ngIf="((submitNextThree) && unit.controls.description.errors?.required)">
                          Description is required
                        </span>
                    </div>


                  </div>
                </div>
              </div>
            </p-accordionTab>
            <p-accordionTab header="Execution"  [selected]="exeopen">
              <div formArrayName="mitreExecution" class="p-grid"
                   *ngFor="let unit of updateGroupForm.get('mitreExecution')['controls']; let updateGroupIndex = index;">
                <div class="p-col "  [formGroupName]="updateGroupIndex">
                  <div class="p-col-12">
                    <h3 class="form-add">
                            <span *ngIf="updateGroupIndex===0 || updateGroupIndex===updateGroupForm.get('mitreExecution')['controls'].length - 1"
                                  (click)="addMitreInitial('Execution')"> <i class="pi pi-plus"></i> </span>
                      <span *ngIf="updateGroupIndex!=0" (click)="removeMitreInitial(updateGroupIndex, 'Execution')"><i class="pi pi-times"></i>  </span>
                      <span *ngIf="updateGroupIndex==0" (click)="removeMitreInitialZ(updateGroupIndex, 'mitreExecution')"> <i class="pi pi-times"></i>  </span>

                    </h3>
                  </div>
                  <div class="block-div p-col-12">
                    <div class="p-col-12 p-md-6 p-field">
                      <label type="text" class="col-form-label">Technique ID</label>
                      <p-autoComplete formControlName="techniqueId"  [forceSelection]="true"
                                      [suggestions]="techniqueIdResult" [dropdown]="true"
                                      (completeMethod)="searchTechniqueById($event, 3)"
                                      (onClear)="clear('mitreExecution', updateGroupIndex)"
                                      (ngModelChange)="patchMitreDetails(unit.controls, 'mitreExecution', updateGroupIndex, 'id')"
                      >
                        <ng-template let-techniqueId pTemplate="item">
                          {{techniqueId}}
                        </ng-template>
                      </p-autoComplete>
                      <div *ngIf="unit.controls.techniqueId.errors">
                        <span class="p-error" *ngIf="((unit.controls.techniqueId.dirty || unit.controls.techniqueId.touched) && unit.controls.techniqueId.errors?.required && !submitNextThree)">
                          Technique ID required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.techniqueId.errors?.required)">
                          Technique ID is required
                        </span>
                      </div>
                    </div>
                    <div class="p-col-12 p-md-6 p-field">
                      <label type="text" class="col-form-label">Technique Name</label>
                      <input formControlName="name" type="text" pInputText class="p-inputtext animation" readonly [disabled]="true"
                      >
                      <div *ngIf="unit.controls.name.errors">
                        <span class="p-error" *ngIf="((unit.controls.name.dirty || unit.controls.name.touched) && unit.controls.name.errors?.required && !submitNextThree)">
                          Technique Name is required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.name.errors?.required)">
                          Technique Name is required
                        </span>
                      </div>

                    </div>
                  </div>
                  <div class="p-col-12 p-md-12 p-field">
                    <label type="text" class="col-form-label">Description</label>
                    <textarea type="text" formControlName="description"
                              pInputText class="p-inputtext animation"
                    ></textarea>
                    <div *ngIf="unit.controls.description.errors">
                        <span class="p-error" *ngIf="((unit.controls.description.dirty || unit.controls.description.touched) && unit.controls.description.errors?.required && !submitNextThree)">
                          Description is required
                        </span>
                      <span class="p-error" *ngIf="((submitNextThree) && unit.controls.description.errors?.required)">
                          Description is required
                        </span>
                    </div>


                  </div>
                </div>
              </div>
            </p-accordionTab>
            <p-accordionTab header="Persistence"  [selected]="persopen">
              <div formArrayName="mitrePersistence" class="p-grid"
                   *ngFor="let unit of updateGroupForm.get('mitrePersistence')['controls']; let updateGroupIndex = index;">
                <div class="p-col "  [formGroupName]="updateGroupIndex">
                  <div class="p-col-12">
                    <h3 class="form-add">
                            <span *ngIf="updateGroupIndex===0 || updateGroupIndex===updateGroupForm.get('mitrePersistence')['controls'].length - 1"
                                  (click)="addMitreInitial('Persistence')"> <i class="pi pi-plus"></i> </span>
                      <span *ngIf="updateGroupIndex!=0" (click)="removeMitreInitial(updateGroupIndex, 'Persistence')"><i class="pi pi-times"></i>  </span>
                      <span *ngIf="updateGroupIndex==0" (click)="removeMitreInitialZ(updateGroupIndex, 'mitrePersistence')"> <i class="pi pi-times"></i>  </span>

                    </h3>
                  </div>
                  <div class="block-div p-col-12">
                    <div class="p-col-12 p-md-6 p-field">
                      <label type="text" class="col-form-label">Technique ID</label>
                      <p-autoComplete formControlName="techniqueId"  [forceSelection]="true"
                                      [suggestions]="techniqueIdResult" [dropdown]="true"
                                      (completeMethod)="searchTechniqueById($event, 4)"
                                      (onClear)="clear('mitrePersistence', updateGroupIndex)"
                                      (ngModelChange)="patchMitreDetails(unit.controls, 'mitrePersistence', updateGroupIndex, 'id')"
                      >
                        <ng-template let-techniqueId pTemplate="item">
                          {{techniqueId}}
                        </ng-template>
                      </p-autoComplete>
                      <div *ngIf="unit.controls.techniqueId.errors">
                        <span class="p-error" *ngIf="((unit.controls.techniqueId.dirty || unit.controls.techniqueId.touched) && unit.controls.techniqueId.errors?.required && !submitNextThree)">
                          Technique ID required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.techniqueId.errors?.required)">
                          Technique ID is required
                        </span>
                      </div>
                    </div>
                    <div class="p-col-12 p-md-6 p-field">
                      <label type="text" class="col-form-label">Technique Name</label>
                      <input formControlName="name" type="text" pInputText class="p-inputtext animation" readonly [disabled]="true"
                      >
                      <div *ngIf="unit.controls.name.errors">
                        <span class="p-error" *ngIf="((unit.controls.name.dirty || unit.controls.name.touched) && unit.controls.name.errors?.required && !submitNextThree)">
                          Technique Name is required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.name.errors?.required)">
                          Technique Name is required
                        </span>
                      </div>

                    </div>
                  </div>
                  <div class="p-col-12 p-md-12 p-field">
                    <label type="text" class="col-form-label">Description</label>
                    <textarea type="text" formControlName="description"
                              pInputText class="p-inputtext animation"
                    ></textarea>
                    <div *ngIf="unit.controls.description.errors">
                        <span class="p-error" *ngIf="((unit.controls.description.dirty || unit.controls.description.touched) && unit.controls.description.errors?.required && !submitNextThree)">
                          Description is required
                        </span>
                      <span class="p-error" *ngIf="((submitNextThree) && unit.controls.description.errors?.required)">
                          Description is required
                        </span>
                    </div>


                  </div>
                </div>
              </div>
            </p-accordionTab>
            <p-accordionTab header="Privilege Escalation"  [selected]="privopen">
              <div formArrayName="mitrePrivilegeEscalation" class="p-grid"
                   *ngFor="let unit of updateGroupForm.get('mitrePrivilegeEscalation')['controls']; let updateGroupIndex = index;">
                <div class="p-col "  [formGroupName]="updateGroupIndex">
                  <div class="p-col-12">
                    <h3 class="form-add">
                            <span *ngIf="updateGroupIndex===0 || updateGroupIndex===updateGroupForm.get('mitrePrivilegeEscalation')['controls'].length - 1"
                                  (click)="addMitreInitial('Privilege Escalation')"> <i class="pi pi-plus"></i> </span>
                      <span *ngIf="updateGroupIndex!=0" (click)="removeMitreInitial(updateGroupIndex, 'Privilege Escalation')"><i class="pi pi-times"></i>  </span>
                      <span *ngIf="updateGroupIndex==0" (click)="removeMitreInitialZ(updateGroupIndex, 'mitrePrivilegeEscalation')"> <i class="pi pi-times"></i>  </span>

                    </h3>
                  </div>
                  <div class="block-div p-col-12">
                    <div class="p-col-12 p-md-6 p-field">
                      <label type="text" class="col-form-label">Technique ID</label>
                      <p-autoComplete formControlName="techniqueId"  [forceSelection]="true"
                                      [suggestions]="techniqueIdResult" [dropdown]="true"
                                      (completeMethod)="searchTechniqueById($event, 5)"
                                      (onClear)="clear('mitrePrivilegeEscalation', updateGroupIndex)"
                                      (ngModelChange)="patchMitreDetails(unit.controls, 'mitrePrivilegeEscalation', updateGroupIndex, 'id')"
                      >
                        <ng-template let-techniqueId pTemplate="item">
                          {{techniqueId}}
                        </ng-template>
                      </p-autoComplete>
                      <div *ngIf="unit.controls.techniqueId.errors">
                        <span class="p-error" *ngIf="((unit.controls.techniqueId.dirty || unit.controls.techniqueId.touched) && unit.controls.techniqueId.errors?.required && !submitNextThree)">
                          Technique ID required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.techniqueId.errors?.required)">
                          Technique ID is required
                        </span>
                      </div>
                    </div>
                    <div class="p-col-12 p-md-6 p-field">
                      <label type="text" class="col-form-label">Technique Name</label>
                      <input formControlName="name" type="text" pInputText class="p-inputtext animation" readonly [disabled]="true"
                      >
                      <div *ngIf="unit.controls.name.errors">
                        <span class="p-error" *ngIf="((unit.controls.name.dirty || unit.controls.name.touched) && unit.controls.name.errors?.required && !submitNextThree)">
                          Technique Name is required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.name.errors?.required)">
                          Technique Name is required
                        </span>
                      </div>

                    </div>
                  </div>
                  <div class="p-col-12 p-md-12 p-field">
                    <label type="text" class="col-form-label">Description</label>
                    <textarea type="text" formControlName="description"
                              pInputText class="p-inputtext animation"
                    ></textarea>
                    <div *ngIf="unit.controls.description.errors">
                        <span class="p-error" *ngIf="((unit.controls.description.dirty || unit.controls.description.touched) && unit.controls.description.errors?.required && !submitNextThree)">
                          Description is required
                        </span>
                      <span class="p-error" *ngIf="((submitNextThree) && unit.controls.description.errors?.required)">
                          Description is required
                        </span>
                    </div>


                  </div>
                </div>
              </div>
            </p-accordionTab>
            <p-accordionTab header="Defence Evasion"  [selected]="defEVAopen">
              <div formArrayName="mitreDefenseEvasion" class="p-grid"
                   *ngFor="let unit of updateGroupForm.get('mitreDefenseEvasion')['controls']; let updateGroupIndex = index;">
                <div class="p-col "  [formGroupName]="updateGroupIndex">
                  <div class="p-col-12">
                    <h3 class="form-add">
                            <span *ngIf="updateGroupIndex===0 || updateGroupIndex===updateGroupForm.get('mitreDefenseEvasion')['controls'].length - 1"
                                  (click)="addMitreInitial('Defense Evasion')"> <i class="pi pi-plus"></i> </span>
                      <span *ngIf="updateGroupIndex!=0" (click)="removeMitreInitial(updateGroupIndex, 'Defense Evasion')"><i class="pi pi-times"></i>  </span>
                      <span *ngIf="updateGroupIndex==0" (click)="removeMitreInitialZ(updateGroupIndex, 'mitreDefenseEvasion')"> <i class="pi pi-times"></i>  </span>

                    </h3>
                  </div>
                  <div class="block-div p-col-12">
                    <div class="p-col-12 p-md-6 p-field">
                      <label type="text" class="col-form-label">Technique ID</label>
                      <p-autoComplete formControlName="techniqueId"  [forceSelection]="true"
                                      [suggestions]="techniqueIdResult" [dropdown]="true"
                                      (completeMethod)="searchTechniqueById($event, 6)"
                                      (onClear)="clear('mitreDefenseEvasion', updateGroupIndex)"

                                      (ngModelChange)="patchMitreDetails(unit.controls, 'mitreDefenseEvasion', updateGroupIndex, 'id')"
                      >
                        <ng-template let-techniqueId pTemplate="item">
                          {{techniqueId}}
                        </ng-template>
                      </p-autoComplete>
                      <div *ngIf="unit.controls.techniqueId.errors">
                        <span class="p-error" *ngIf="((unit.controls.techniqueId.dirty || unit.controls.techniqueId.touched) && unit.controls.techniqueId.errors?.required && !submitNextThree)">
                          Technique ID required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.techniqueId.errors?.required)">
                          Technique ID is required
                        </span>
                      </div>
                    </div>
                    <div class="p-col-12 p-md-6 p-field">
                      <label type="text" class="col-form-label">Technique Name</label>
                      <input formControlName="name" type="text" pInputText class="p-inputtext animation" readonly [disabled]="true"
                      >
                      <div *ngIf="unit.controls.name.errors">
                        <span class="p-error" *ngIf="((unit.controls.name.dirty || unit.controls.name.touched) && unit.controls.name.errors?.required && !submitNextThree)">
                          Technique Name is required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.name.errors?.required)">
                          Technique Name is required
                        </span>
                      </div>

                    </div>
                  </div>
                  <div class="p-col-12 p-md-12 p-field">
                    <label type="text" class="col-form-label">Description</label>
                    <textarea type="text" formControlName="description"
                              pInputText class="p-inputtext animation"
                    ></textarea>
                    <div *ngIf="unit.controls.description.errors">
                        <span class="p-error" *ngIf="((unit.controls.description.dirty || unit.controls.description.touched) && unit.controls.description.errors?.required && !submitNextThree)">
                          Description is required
                        </span>
                      <span class="p-error" *ngIf="((submitNextThree) && unit.controls.description.errors?.required)">
                          Description is required
                        </span>
                    </div>


                  </div>
                </div>
              </div>
            </p-accordionTab>
            <p-accordionTab header="Credential Access"  [selected]="credAccopen">
              <div formArrayName="mitreCredentialAccess" class="p-grid"
                   *ngFor="let unit of updateGroupForm.get('mitreCredentialAccess')['controls']; let updateGroupIndex = index;">
                <div class="p-col "  [formGroupName]="updateGroupIndex">
                  <div class="p-col-12">
                    <h3 class="form-add">
                            <span *ngIf="updateGroupIndex===0 || updateGroupIndex===updateGroupForm.get('mitreCredentialAccess')['controls'].length - 1"
                                  (click)="addMitreInitial('Credential Access')"> <i class="pi pi-plus"></i> </span>
                      <span *ngIf="updateGroupIndex!=0" (click)="removeMitreInitial(updateGroupIndex, 'Credential Access')"><i class="pi pi-times"></i>  </span>
                      <span *ngIf="updateGroupIndex==0" (click)="removeMitreInitialZ(updateGroupIndex, 'mitreCredentialAccess')"> <i class="pi pi-times"></i>  </span>

                    </h3>
                  </div>
                  <div class="block-div p-col-12">
                    <div class="p-col-12 p-md-6 p-field">
                      <label type="text" class="col-form-label">Technique ID</label>
                      <p-autoComplete formControlName="techniqueId"  [forceSelection]="true"
                                      [suggestions]="techniqueIdResult" [dropdown]="true"
                                      (completeMethod)="searchTechniqueById($event, 7)"
                                      (onClear)="clear('mitreCredentialAccess', updateGroupIndex)"

                                      (ngModelChange)="patchMitreDetails(unit.controls, 'mitreCredentialAccess', updateGroupIndex, 'id')"
                      >
                        <ng-template let-techniqueId pTemplate="item">
                          {{techniqueId}}
                        </ng-template>
                      </p-autoComplete>
                      <div *ngIf="unit.controls.techniqueId.errors">
                        <span class="p-error" *ngIf="((unit.controls.techniqueId.dirty || unit.controls.techniqueId.touched) && unit.controls.techniqueId.errors?.required && !submitNextThree)">
                          Technique ID required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.techniqueId.errors?.required)">
                          Technique ID is required
                        </span>
                      </div>
                    </div>
                    <div class="p-col-12 p-md-6 p-field">
                      <label type="text" class="col-form-label">Technique Name</label>
                      <input formControlName="name" type="text" pInputText class="p-inputtext animation" readonly [disabled]="true"
                      >
                      <div *ngIf="unit.controls.name.errors">
                        <span class="p-error" *ngIf="((unit.controls.name.dirty || unit.controls.name.touched) && unit.controls.name.errors?.required && !submitNextThree)">
                          Technique Name is required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.name.errors?.required)">
                          Technique Name is required
                        </span>
                      </div>

                    </div>
                  </div>
                  <div class="p-col-12 p-md-12 p-field">
                    <label type="text" class="col-form-label">Description</label>
                    <textarea type="text" formControlName="description"
                              pInputText class="p-inputtext animation"
                    ></textarea>
                    <div *ngIf="unit.controls.description.errors">
                        <span class="p-error" *ngIf="((unit.controls.description.dirty || unit.controls.description.touched) && unit.controls.description.errors?.required && !submitNextThree)">
                          Description is required
                        </span>
                      <span class="p-error" *ngIf="((submitNextThree) && unit.controls.description.errors?.required)">
                          Description is required
                        </span>
                    </div>


                  </div>
                </div>
              </div>
            </p-accordionTab>
            <p-accordionTab header="Discovery"  [selected]="discopen">
              <div formArrayName="mitreDiscovery" class="p-grid"
                   *ngFor="let unit of updateGroupForm.get('mitreDiscovery')['controls']; let updateGroupIndex = index;">
                <div class="p-col "  [formGroupName]="updateGroupIndex">
                  <div class="p-col-12">
                    <h3 class="form-add">
                            <span *ngIf="updateGroupIndex===0 || updateGroupIndex===updateGroupForm.get('mitreDiscovery')['controls'].length - 1"
                                  (click)="addMitreInitial('Discovery')"> <i class="pi pi-plus"></i> </span>
                      <span *ngIf="updateGroupIndex!=0" (click)="removeMitreInitial(updateGroupIndex, 'Discovery')"><i class="pi pi-times"></i>  </span>
                      <span *ngIf="updateGroupIndex==0" (click)="removeMitreInitialZ(updateGroupIndex, 'mitreDiscovery')"> <i class="pi pi-times"></i>  </span>

                    </h3>
                  </div>
                  <div class="block-div p-col-12">
                    <div class="p-col-12 p-md-6 p-field">
                      <label type="text" class="col-form-label">Technique ID</label>
                      <p-autoComplete formControlName="techniqueId"  [forceSelection]="true"
                                      [suggestions]="techniqueIdResult" [dropdown]="true"
                                      (completeMethod)="searchTechniqueById($event, 8)"
                                      (onClear)="clear('mitreDiscovery', updateGroupIndex)"
                                      (ngModelChange)="patchMitreDetails(unit.controls, 'mitreDiscovery', updateGroupIndex, 'id')"
                      >
                        <ng-template let-techniqueId pTemplate="item">
                          {{techniqueId}}
                        </ng-template>
                      </p-autoComplete>
                      <div *ngIf="unit.controls.techniqueId.errors">
                        <span class="p-error" *ngIf="((unit.controls.techniqueId.dirty || unit.controls.techniqueId.touched) && unit.controls.techniqueId.errors?.required && !submitNextThree)">
                          Technique ID required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.techniqueId.errors?.required)">
                          Technique ID is required
                        </span>
                      </div>
                    </div>
                    <div class="p-col-12 p-md-6 p-field">
                      <label type="text" class="col-form-label">Technique Name</label>
                      <input formControlName="name" type="text" pInputText class="p-inputtext animation" readonly [disabled]="true"
                      >
                      <div *ngIf="unit.controls.name.errors">
                        <span class="p-error" *ngIf="((unit.controls.name.dirty || unit.controls.name.touched) && unit.controls.name.errors?.required && !submitNextThree)">
                          Technique Name is required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.name.errors?.required)">
                          Technique Name is required
                        </span>
                      </div>

                    </div>
                  </div>
                  <div class="p-col-12 p-md-12 p-field">
                    <label type="text" class="col-form-label">Description</label>
                    <textarea type="text" formControlName="description"
                              pInputText class="p-inputtext animation"
                    ></textarea>
                    <div *ngIf="unit.controls.description.errors">
                        <span class="p-error" *ngIf="((unit.controls.description.dirty || unit.controls.description.touched) && unit.controls.description.errors?.required && !submitNextThree)">
                          Description is required
                        </span>
                      <span class="p-error" *ngIf="((submitNextThree) && unit.controls.description.errors?.required)">
                          Description is required
                        </span>
                    </div>


                  </div>
                </div>
              </div>
            </p-accordionTab>
            <p-accordionTab header="Lateral Movement"  [selected]="lateralopen">
              <div formArrayName="mitreLateralMovement" class="p-grid"
                   *ngFor="let unit of updateGroupForm.get('mitreLateralMovement')['controls']; let updateGroupIndex = index;">
                <div class="p-col "  [formGroupName]="updateGroupIndex">
                  <div class="p-col-12">
                    <h3 class="form-add">
                            <span *ngIf="updateGroupIndex===0 || updateGroupIndex===updateGroupForm.get('mitreLateralMovement')['controls'].length - 1"
                                  (click)="addMitreInitial('Lateral Movement')"> <i class="pi pi-plus"></i> </span>
                      <span *ngIf="updateGroupIndex!=0" (click)="removeMitreInitial(updateGroupIndex, 'Lateral Movement')"><i class="pi pi-times"></i>  </span>
                      <span *ngIf="updateGroupIndex==0" (click)="removeMitreInitialZ(updateGroupIndex, 'mitreLateralMovement')"> <i class="pi pi-times"></i>  </span>

                    </h3>
                  </div>
                  <div class="block-div p-col-12">
                    <div class="p-col-12 p-md-6 p-field">
                      <label type="text" class="col-form-label">Technique ID</label>
                      <p-autoComplete formControlName="techniqueId"  [forceSelection]="true"
                                      [suggestions]="techniqueIdResult" [dropdown]="true"
                                      (completeMethod)="searchTechniqueById($event, 9)"
                                      (onClear)="clear('mitreLateralMovement', updateGroupIndex)"

                                      (ngModelChange)="patchMitreDetails(unit.controls, 'mitreLateralMovement', updateGroupIndex, 'id')"
                      >
                        <ng-template let-techniqueId pTemplate="item">
                          {{techniqueId}}
                        </ng-template>
                      </p-autoComplete>
                      <div *ngIf="unit.controls.techniqueId.errors">
                        <span class="p-error" *ngIf="((unit.controls.techniqueId.dirty || unit.controls.techniqueId.touched) && unit.controls.techniqueId.errors?.required && !submitNextThree)">
                          Technique ID required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.techniqueId.errors?.required)">
                          Technique ID is required
                        </span>
                      </div>
                    </div>
                    <div class="p-col-12 p-md-6 p-field">
                      <label type="text" class="col-form-label">Technique Name</label>
                      <input formControlName="name" type="text" pInputText class="p-inputtext animation" readonly [disabled]="true"
                      >
                      <div *ngIf="unit.controls.name.errors">
                        <span class="p-error" *ngIf="((unit.controls.name.dirty || unit.controls.name.touched) && unit.controls.name.errors?.required && !submitNextThree)">
                          Technique Name is required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.name.errors?.required)">
                          Technique Name is required
                        </span>
                      </div>

                    </div>
                  </div>
                  <div class="p-col-12 p-md-12 p-field">
                    <label type="text" class="col-form-label">Description</label>
                    <textarea type="text" formControlName="description"
                              pInputText class="p-inputtext animation"
                    ></textarea>
                    <div *ngIf="unit.controls.description.errors">
                        <span class="p-error" *ngIf="((unit.controls.description.dirty || unit.controls.description.touched) && unit.controls.description.errors?.required && !submitNextThree)">
                          Description is required
                        </span>
                      <span class="p-error" *ngIf="((submitNextThree) && unit.controls.description.errors?.required)">
                          Description is required
                        </span>
                    </div>


                  </div>
                </div>
              </div>
            </p-accordionTab>
            <p-accordionTab header="Collection"  [selected]="collecopen">
              <div formArrayName="mitreCollection" class="p-grid"
                   *ngFor="let unit of updateGroupForm.get('mitreCollection')['controls']; let updateGroupIndex = index;">
                <div class="p-col "  [formGroupName]="updateGroupIndex">
                  <div class="p-col-12">
                    <h3 class="form-add">
                            <span *ngIf="updateGroupIndex===0 || updateGroupIndex===updateGroupForm.get('mitreCollection')['controls'].length - 1"
                                  (click)="addMitreInitial('Collection')"> <i class="pi pi-plus"></i> </span>
                      <span *ngIf="updateGroupIndex!=0" (click)="removeMitreInitial(updateGroupIndex, 'Collection')"><i class="pi pi-times"></i>  </span>
                      <span *ngIf="updateGroupIndex==0" (click)="removeMitreInitialZ(updateGroupIndex, 'mitreCollection')"> <i class="pi pi-times"></i>  </span>

                    </h3>
                  </div>
                  <div class="block-div p-col-12">
                    <div class="p-col-12 p-md-6 p-field">
                      <label type="text" class="col-form-label">Technique ID</label>
                      <p-autoComplete formControlName="techniqueId"  [forceSelection]="true"
                                      [suggestions]="techniqueIdResult" [dropdown]="true"
                                      (completeMethod)="searchTechniqueById($event, 10)"
                                      (onClear)="clear('mitreCollection', updateGroupIndex)"

                                      (ngModelChange)="patchMitreDetails(unit.controls, 'mitreCollection', updateGroupIndex, 'id')"
                      >
                        <ng-template let-techniqueId pTemplate="item">
                          {{techniqueId}}
                        </ng-template>
                      </p-autoComplete>
                      <div *ngIf="unit.controls.techniqueId.errors">
                        <span class="p-error" *ngIf="((unit.controls.techniqueId.dirty || unit.controls.techniqueId.touched) && unit.controls.techniqueId.errors?.required && !submitNextThree)">
                          Technique ID required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.techniqueId.errors?.required)">
                          Technique ID is required
                        </span>
                      </div>
                    </div>
                    <div class="p-col-12 p-md-6 p-field">
                      <label type="text" class="col-form-label">Technique Name</label>
                      <input formControlName="name" type="text" pInputText class="p-inputtext animation" readonly [disabled]="true"
                      >
                      <div *ngIf="unit.controls.name.errors">
                        <span class="p-error" *ngIf="((unit.controls.name.dirty || unit.controls.name.touched) && unit.controls.name.errors?.required && !submitNextThree)">
                          Technique Name is required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.name.errors?.required)">
                          Technique Name is required
                        </span>
                      </div>

                    </div>
                  </div>
                  <div class="p-col-12 p-md-12 p-field">
                    <label type="text" class="col-form-label">Description</label>
                    <textarea type="text" formControlName="description"
                              pInputText class="p-inputtext animation"
                    ></textarea>
                    <div *ngIf="unit.controls.description.errors">
                        <span class="p-error" *ngIf="((unit.controls.description.dirty || unit.controls.description.touched) && unit.controls.description.errors?.required && !submitNextThree)">
                          Description is required
                        </span>
                      <span class="p-error" *ngIf="((submitNextThree) && unit.controls.description.errors?.required)">
                          Description is required
                        </span>
                    </div>


                  </div>
                </div>
              </div>
            </p-accordionTab>
            <p-accordionTab header="Command and Control"  [selected]="cacopen">
              <div formArrayName="mitreCommandAndControl" class="p-grid"
                   *ngFor="let unit of updateGroupForm.get('mitreCommandAndControl')['controls']; let updateGroupIndex = index;">
                <div class="p-col "  [formGroupName]="updateGroupIndex">
                  <div class="p-col-12">
                    <h3 class="form-add">
                            <span *ngIf="updateGroupIndex===0 || updateGroupIndex===updateGroupForm.get('mitreCommandAndControl')['controls'].length - 1"
                                  (click)="addMitreInitial('Command and Control')"> <i class="pi pi-plus"></i> </span>
                      <span *ngIf="updateGroupIndex!=0" (click)="removeMitreInitial(updateGroupIndex, 'Command and Control')"><i class="pi pi-times"></i>  </span>
                      <span *ngIf="updateGroupIndex==0" (click)="removeMitreInitialZ(updateGroupIndex, 'mitreCommandAndControl')"> <i class="pi pi-times"></i>  </span>

                    </h3>
                  </div>
                  <div class="block-div p-col-12">
                    <div class="p-col-12 p-md-6 p-field">
                      <label type="text" class="col-form-label">Technique ID</label>
                      <p-autoComplete formControlName="techniqueId"  [forceSelection]="true"
                                      [suggestions]="techniqueIdResult" [dropdown]="true"
                                      (completeMethod)="searchTechniqueById($event, 11)"
                                      (onClear)="clear('mitreCommandAndControl', updateGroupIndex)"

                                      (ngModelChange)="patchMitreDetails(unit.controls, 'mitreCommandAndControl', updateGroupIndex, 'id')"
                      >
                        <ng-template let-techniqueId pTemplate="item">
                          {{techniqueId}}
                        </ng-template>
                      </p-autoComplete>
                      <div *ngIf="unit.controls.techniqueId.errors">
                        <span class="p-error" *ngIf="((unit.controls.techniqueId.dirty || unit.controls.techniqueId.touched) && unit.controls.techniqueId.errors?.required && !submitNextThree)">
                          Technique ID required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.techniqueId.errors?.required)">
                          Technique ID is required
                        </span>
                      </div>
                    </div>
                    <div class="p-col-12 p-md-6 p-field">
                      <label type="text" class="col-form-label">Technique Name</label>
                      <input formControlName="name" type="text" pInputText class="p-inputtext animation" readonly [disabled]="true"
                      >
                      <div *ngIf="unit.controls.name.errors">
                        <span class="p-error" *ngIf="((unit.controls.name.dirty || unit.controls.name.touched) && unit.controls.name.errors?.required && !submitNextThree)">
                          Technique Name is required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.name.errors?.required)">
                          Technique Name is required
                        </span>
                      </div>

                    </div>
                  </div>
                  <div class="p-col-12 p-md-12 p-field">
                    <label type="text" class="col-form-label">Description</label>
                    <textarea type="text" formControlName="description"
                              pInputText class="p-inputtext animation"
                    ></textarea>
                    <div *ngIf="unit.controls.description.errors">
                        <span class="p-error" *ngIf="((unit.controls.description.dirty || unit.controls.description.touched) && unit.controls.description.errors?.required && !submitNextThree)">
                          Description is required
                        </span>
                      <span class="p-error" *ngIf="((submitNextThree) && unit.controls.description.errors?.required)">
                          Description is required
                        </span>
                    </div>


                  </div>
                </div>
              </div>
            </p-accordionTab>
            <p-accordionTab header="Exfiltration"  [selected]="exifopen">
              <div formArrayName="mitreExfiltration" class="p-grid"
                   *ngFor="let unit of updateGroupForm.get('mitreExfiltration')['controls']; let updateGroupIndex = index;">
                <div class="p-col "  [formGroupName]="updateGroupIndex">
                  <div class="p-col-12">
                    <h3 class="form-add">
                            <span *ngIf="updateGroupIndex===0 || updateGroupIndex===updateGroupForm.get('mitreExfiltration')['controls'].length - 1"
                                  (click)="addMitreInitial('Exfiltration')"> <i class="pi pi-plus"></i> </span>
                      <span *ngIf="updateGroupIndex!=0" (click)="removeMitreInitial(updateGroupIndex, 'Exfiltration')"><i class="pi pi-times"></i>  </span>
                      <span *ngIf="updateGroupIndex==0" (click)="removeMitreInitialZ(updateGroupIndex, 'mitreExfiltration')"> <i class="pi pi-times"></i>  </span>

                    </h3>
                  </div>
                  <div class="block-div p-col-12">
                    <div class="p-col-12 p-md-6 p-field">
                      <label type="text" class="col-form-label">Technique ID</label>
                      <p-autoComplete formControlName="techniqueId"  [forceSelection]="true"
                                      [suggestions]="techniqueIdResult" [dropdown]="true"
                                      (completeMethod)="searchTechniqueById($event, 12)"
                                      (onClear)="clear('mitreExfiltration', updateGroupIndex)"

                                      (ngModelChange)="patchMitreDetails(unit.controls, 'mitreExfiltration', updateGroupIndex, 'id')"
                      >
                        <ng-template let-techniqueId pTemplate="item">
                          {{techniqueId}}
                        </ng-template>
                      </p-autoComplete>
                      <div *ngIf="unit.controls.techniqueId.errors">
                        <span class="p-error" *ngIf="((unit.controls.techniqueId.dirty || unit.controls.techniqueId.touched) && unit.controls.techniqueId.errors?.required && !submitNextThree)">
                          Technique ID required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.techniqueId.errors?.required)">
                          Technique ID is required
                        </span>
                      </div>
                    </div>
                    <div class="p-col-12 p-md-6 p-field">
                      <label type="text" class="col-form-label">Technique Name</label>
                      <input formControlName="name" type="text" pInputText class="p-inputtext animation" readonly [disabled]="true"
                      >
                      <div *ngIf="unit.controls.name.errors">
                        <span class="p-error" *ngIf="((unit.controls.name.dirty || unit.controls.name.touched) && unit.controls.name.errors?.required && !submitNextThree)">
                          Technique Name is required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.name.errors?.required)">
                          Technique Name is required
                        </span>
                      </div>

                    </div>
                  </div>
                  <div class="p-col-12 p-md-12 p-field">
                    <label type="text" class="col-form-label">Description</label>
                    <textarea type="text" formControlName="description"
                              pInputText class="p-inputtext animation"
                    ></textarea>
                    <div *ngIf="unit.controls.description.errors">
                        <span class="p-error" *ngIf="((unit.controls.description.dirty || unit.controls.description.touched) && unit.controls.description.errors?.required && !submitNextThree)">
                          Description is required
                        </span>
                      <span class="p-error" *ngIf="((submitNextThree) && unit.controls.description.errors?.required)">
                          Description is required
                        </span>
                    </div>


                  </div>
                </div>
              </div>
            </p-accordionTab>
            <p-accordionTab header="Impact"  [selected]="impopen">
              <div formArrayName="mitreImpact" class="p-grid"
                   *ngFor="let unit of updateGroupForm.get('mitreImpact')['controls']; let updateGroupIndex = index;">
                <div class="p-col "  [formGroupName]="updateGroupIndex">
                  <div class="p-col-12">
                    <h3 class="form-add">
                            <span *ngIf="updateGroupIndex===0 || updateGroupIndex===updateGroupForm.get('mitreImpact')['controls'].length - 1"
                                  (click)="addMitreInitial('Impact')"> <i class="pi pi-plus"></i> </span>
                      <span *ngIf="updateGroupIndex!=0" (click)="removeMitreInitial(updateGroupIndex, 'Impact')"><i class="pi pi-times"></i>  </span>
                      <span *ngIf="updateGroupIndex==0" (click)="removeMitreInitialZ(updateGroupIndex, 'mitreImpact')"> <i class="pi pi-times"></i>  </span>

                    </h3>
                  </div>
                  <div class="block-div p-col-12">
                    <div class="p-col-12 p-md-6 p-field">
                      <label type="text" class="col-form-label">Technique ID</label>
                      <p-autoComplete formControlName="techniqueId"  [forceSelection]="true"
                                      [suggestions]="techniqueIdResult" [dropdown]="true"
                                      (completeMethod)="searchTechniqueById($event, 13)"
                                      (onClear)="clear('mitreImpact', updateGroupIndex)"

                                      (ngModelChange)="patchMitreDetails(unit.controls, 'mitreImpact', updateGroupIndex, 'id')"
                      >
                        <ng-template let-techniqueId pTemplate="item">
                          {{techniqueId}}
                        </ng-template>
                      </p-autoComplete>
                      <div *ngIf="unit.controls.techniqueId.errors">
                        <span class="p-error" *ngIf="((unit.controls.techniqueId.dirty || unit.controls.techniqueId.touched) && unit.controls.techniqueId.errors?.required && !submitNextThree)">
                          Technique ID required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.techniqueId.errors?.required)">
                          Technique ID is required
                        </span>
                      </div>
                    </div>
                    <div class="p-col-12 p-md-6 p-field">
                      <label type="text" class="col-form-label">Technique Name</label>
                      <input formControlName="name" type="text" pInputText class="p-inputtext animation" readonly [disabled]="true"
                      >
                      <div *ngIf="unit.controls.name.errors">
                        <span class="p-error" *ngIf="((unit.controls.name.dirty || unit.controls.name.touched) && unit.controls.name.errors?.required && !submitNextThree)">
                          Technique Name is required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.name.errors?.required)">
                          Technique Name is required
                        </span>
                      </div>

                    </div>
                  </div>
                  <div class="p-col-12 p-md-12 p-field">
                    <label type="text" class="col-form-label">Description</label>
                    <textarea type="text" formControlName="description"
                              pInputText class="p-inputtext animation"
                    ></textarea>
                    <div *ngIf="unit.controls.description.errors">
                        <span class="p-error" *ngIf="((unit.controls.description.dirty || unit.controls.description.touched) && unit.controls.description.errors?.required && !submitNextThree)">
                          Description is required
                        </span>
                      <span class="p-error" *ngIf="((submitNextThree) && unit.controls.description.errors?.required)">
                          Description is required
                        </span>
                    </div>


                  </div>
                </div>
              </div>
            </p-accordionTab>
          </p-accordion>

        </p-card>
        <p-card header="Attacks/Campaigns">
          <p-accordion class="accordion" [multiple]="true">
            <p-accordionTab header="Attacks/Campaigns">
              <div formArrayName="attackCampaigns" class="p-grid"
                   *ngFor="let unit of updateGroupForm.get('attackCampaigns')['controls']; let updateGroupIndex = index;">
                <div class="p-col " [formGroupName]="updateGroupIndex">
                  <div class="p-col-12">
                    <h3 class="form-add">
                            <span *ngIf="updateGroupIndex===0 || updateGroupIndex===updateGroupForm.get('attackCampaigns')['controls'].length - 1"
                                  (click)="addAttackCampaigns()"> <i class="pi pi-plus"></i> </span>
                      <span *ngIf="updateGroupIndex!=0" (click)="removeAttackCampaigns(updateGroupIndex)"><i class="pi pi-times"></i>  </span>
                      <span *ngIf="updateGroupIndex==0" (click)="removeAttackCampaignsZ(updateGroupIndex)"> <i class="pi pi-times"></i>  </span>

                    </h3>
                  </div>
                  <div class="block-div p-col-12">
                    <div class="p-col-12 p-md-6 p-field">
                      <label type="text" class="col-form-label">Attack/Campaign Name</label>
                      <p-autoComplete  formControlName="caseName" [suggestions]="caseNameResult"
                                       (ngModelChange)="patchIndiactorDetails(unit.controls, 'attackCampaigns', updateGroupIndex)"
                                       (completeMethod)="searchCasename($event)"
                                       [dropdown]="true">
                        <ng-template let-caseName pTemplate="item">
                          {{caseName}}
                        </ng-template>
                      </p-autoComplete>
                      <div *ngIf="unit.controls.caseName.errors">
                                      <span class="p-error" *ngIf="((unit.controls.caseName.dirty || unit.controls.caseName.touched) && unit.controls.caseName.errors?.required && !submitNextThree)">
                                          Attack/Campaign Name is required
                                      </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.caseName.errors?.required)">
                                          Attack/Campaign Name is required
                                      </span>
                      </div>

                    </div>
                    <div class="p-col-12 p-md-6 p-field">
                      <label type="text" class="col-form-label">Associated Indicators</label>
                      <input type="number" formControlName="associatedIndicators"
                             readonly  pInputText class="p-inputtext animation"/>

                      <div *ngIf="unit.controls.associatedIndicators.errors">
                                      <span class="p-error" *ngIf="((unit.controls.associatedIndicators.dirty || unit.controls.associatedIndicators.touched) && unit.controls.associatedIndicators.errors?.required && !submitNextThree)">
                                          Associated Indicator is required
                                      </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.associatedIndicators.errors?.required)">
                                          Associated Indicator is required
                                      </span>
                      </div>
                    </div>
                  </div>
                  <div class="block-div p-col-12">
                    <div class="p-col-12 p-md-6 p-field p-fluid">
                      <label type="text" class="col-form-label">Countries</label>
                      <angular2-multiselect [data]="regionResult"
                                            [settings]="settings"
                                            formControlName="regions">
                      </angular2-multiselect>
                      <div *ngIf="unit.controls.regions.errors">
                                      <span class="p-error" *ngIf="((unit.controls.regions.dirty || unit.controls.regions.touched) && unit.controls.regions.errors?.required && !submitNextThree)">
                                          Country Name is required
                                      </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.regions.errors?.required)">
                                          Country Name is required
                                      </span>
                      </div>
                    </div>

                    <div class="p-col-12 p-md-6 p-field">
                      <label type="text" class="col-form-label">Sectors</label>
                      <angular2-multiselect [data]="sectorResult"
                                            [settings]="settingsSector"
                                            formControlName="sectors">
                      </angular2-multiselect>
                      <div *ngIf="unit.controls.sectors.errors">
                                      <span class="p-error" *ngIf="((unit.controls.sectors.dirty || unit.controls.sectors.touched) && unit.controls.sectors.errors?.required && !submitNextThree)">
                                          Sector is required
                                      </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.sectors.errors?.required)">
                                          Sector is required
                                      </span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </p-accordionTab>
          </p-accordion>

        </p-card>
        <div class="p-mt-4 p-d-flex">
          <button class="p-button p-component ng-star-inserted w-auto" type="submit">
            <span class="p-button-label">Update Group</span>
          </button>
          <button class="p-button p-component ng-star-inserted w-auto" type="button" (click)="onCancel()">
            <span class="p-button-label">Cancel</span>
          </button>

        </div>
      </form>
    </p-card>
  </div>

</div>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
