//@import "variables";
//.red-star {
//  color: red;
//}
//.p-error {
//  color: red;
//}
//.p-button {
//  width: 130px;
//  margin: 5px;
//}
//.block-div {
//  display: inline-flex;
//}
//.ui-autocomplete-input-token {
//  width: 100% !important;
//}
//:host ::ng-deep .p-multiselect {
//  min-width: 42rem;
//  width: 45rem;
//}
//:host ::ng-deep {
//  @media screen and (max-width: 640px) {
//    .p-multiselect {
//      width: 100%;
//    }
//  }
//}
//.btn-file {
//  margin-bottom: 30px;
//  display: block;
//}
//
//::ng-deep .p-accordion-tab {
//  margin-bottom: 10px;
//  padding-bottom: 10px;
//  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
//}
//
//.form-add {
//  display: flex;
//  justify-content: flex-end;
//  margin: 0;
//
//  span {
//    margin-left: 10px;
//    cursor: pointer;
//  }
//
//}
