<div class="p-grid">
  <div class="p-col">
    <p-breadcrumb [model]="breadCrumbs"></p-breadcrumb>
    <p-card header="Update Attack/Campaign">
      <ngx-spinner name="createattack-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
                   type="ball-clip-rotate"
                   [fullScreen]="true"><p> Loading... </p></ngx-spinner>
      <form [formGroup]="updateCampaignForm" (ngSubmit)="onSubmit()">
        <div class="p-field">
          <label type="text" class="col-form-label"><span class="red-star">*</span> Attack/Campaign Name:</label>
          <p-autoComplete formControlName="attackName" [suggestions]="caseNameResult"
                          (completeMethod)="searchCasename($event)"
                          (click)="getGroupData(updateCampaignControl.attackName)"
                          [dropdown]="true">
            <ng-template let-attackName pTemplate="item">
              {{attackName}}
            </ng-template>
          </p-autoComplete>
          <div *ngIf="updateCampaignControl.attackName.errors">
          <span class="p-error" *ngIf="((updateCampaignControl.attackName.dirty || updateCampaignControl.attackName.touched) && updateCampaignControl.attackName.errors?.required && !updateCampaignControl.attackName.errors?.pattern && !submitNextOne)">
            Case Name is required
          </span>
            <span class="p-error" *ngIf="((submitNextOne) && updateCampaignControl.attackName.errors?.required && !updateCampaignControl.attackName.errors?.pattern)">
            Case Name is required
          </span>
          </div>
        </div>
        <p-card>
          <div formArrayName="groups" class="p-grid"
               *ngFor="let unit of updateCampaignForm.get('groups')['controls']; let attackCampaignIndex = index;">
            <div class="p-col " [formGroupName]="attackCampaignIndex">
              <div class="p-col-12">
                <h3 class="form-add">
                            <span *ngIf="attackCampaignIndex===0 || attackCampaignIndex===updateCampaignForm.get('groups')['controls'].length - 1"
                                  (click)="addGroups()"> <i class="pi pi-plus"></i> </span>
                  <span *ngIf="attackCampaignIndex!=0" (click)="removeGroups(attackCampaignIndex)"><i class="pi pi-times"></i>  </span>
                  <span *ngIf="attackCampaignIndex==0" (click)="removeGroup(attackCampaignIndex)"> <i class="pi pi-times"></i>  </span>

                </h3>
              </div>
              <div class="p-grid">
                <div class="p-col-12 p-md-6 p-field">
                  <label type="text" class="col-form-label">Group Name</label>
                  <p-autoComplete formControlName="groupName" [suggestions]="groupNameResult"
                                  [readonly]="true"
                                  (completeMethod)="searchGroupName($event)" [dropdown]="true"
                                  (ngModelChange)="patchMitreDetails(unit.controls, 'groups', attackCampaignIndex)">
                    <ng-template let-groupName pTemplate="item">
                      {{groupName}}
                    </ng-template>
                  </p-autoComplete>
                  <div *ngIf="unit.controls.groupName.errors">
                    <span class="p-error" *ngIf="((unit.controls.groupName.dirty || unit.controls.groupName.touched) && unit.controls.groupName.errors?.required && !submitNextThree)">
                      Group Name is required
                    </span>
                    <span class="p-error" *ngIf="((submitNextThree) && unit.controls.groupName.errors?.required)">
                      Group Name is required
                    </span>
                  </div>

                </div>
                <div class="p-col-12 p-md-6 p-field">
                  <label type="text" class="col-form-label">MITRE Name</label>
                  <input type="text" formControlName="mitreName" readonly  pInputText class="p-inputtext animation"/>
                  <div *ngIf="unit.controls.mitreName.errors">
                    <span class="p-error" *ngIf="((unit.controls.mitreName.dirty || unit.controls.mitreName.touched) && unit.controls.mitreName.errors?.required && !submitNextThree)">
                      MITRE Name is required
                    </span>
                    <span class="p-error" *ngIf="((submitNextThree) && unit.controls.mitreName.errors?.required)">
                      MITRE Name is required
                    </span>
                  </div>
                </div>
              </div>
            </div>

          </div>


        </p-card>
        <div class="p-field  p-fluid">
          <label type="text" class="col-form-label">Alias:</label>
          <p-chips  [addOnBlur]="true" [max]="25" [allowDuplicate]="false" formControlName="alias"
                    placeholder="Enter Alias"
                    (onAdd)="add($event)" (onRemove)="remove($event)"></p-chips>
        </div>
        <div class="p-grid">

          <div class="p-col-12 p-md-6 p-field">
            <label type="text" class="col-form-label">Sectors:</label>
            <angular2-multiselect [data]="sectorResult"
                                  [(ngModel)]="selectedItemsS"
                                  [settings]="settingsSector"
                                  formControlName="sectors">
            </angular2-multiselect>
          </div>
          <div class="p-col-12 p-md-6 p-field">
            <label type="text" class="col-form-label">Countries:</label>
            <angular2-multiselect [data]="itemList"
                                  [(ngModel)]="selectedItems"
                                  [settings]="settings"
                                  formControlName="regions">
            </angular2-multiselect>
          </div>
        </div>
        <div class="p-grid">

          <div class="p-col-12 p-md-6 p-field">
            <label type="text" class="col-form-label">Methods/Tools Used:</label>
            <textarea formControlName="methodToolUsed" pInputText class="p-inputtext animation"></textarea>
          </div>
          <div class="p-col-12 p-md-6 p-field">
            <label type="text" class="col-form-label">Special Characteristics:</label>
            <textarea formControlName="specialCharacteristics" pInputText class="p-inputtext animation"></textarea>
          </div>
        </div>
        <div class="p-grid">
          <div class="p-col-12 p-md-6 p-field">
            <label type="text" class="col-form-label">Summary:</label>
            <textarea formControlName="summary" pInputText class="p-inputtext animation"></textarea>
          </div>
          <div class="p-col-12 p-md-6 p-field">
            <label type="text" class="col-form-label">Sources:</label>
            <textarea formControlName="sources" pInputText class="p-inputtext animation"></textarea>
          </div>
        </div>
        <p-card>
          <p-accordion class="accordion" [multiple]="true">
            <p-accordionTab [selected]="true" header="IoC">

            <span class="btn btn-default btn-file">
              <input type="file" [attr.disabled]="fileloading ? '' : null" formControlName="filess"
                     class="form-control" accept=".csv" #file (change)="onFilesAdded()"
                     placeholder="Enter CSV file">
            </span>
              <ngx-spinner  name="ioc-spinner" bdOpacity = 0.9 bdColor = "#f4f4f9" size = "medium" color = "#1010ee"
                            type = "ball-clip-rotate" [fullScreen] = "false"></ngx-spinner>
              <p-accordionTab header="Files" >
                <div formArrayName="dateIoc" class="p-grid"
                     *ngFor="let units of updateCampaignForm.get('dateIoc')['controls']; let attackCampaignIndex = index;">
                  <div class="p-col " [formGroupName]="attackCampaignIndex">
                    <div class="p-col-12">
                      <h3 class="form-add">
                            <span *ngIf="attackCampaignIndex===0 || attackCampaignIndex===updateCampaignForm.get('dateIoc')['controls'].length - 1"
                                  (click)="addDateHash()"> <i class="pi pi-plus"></i> </span>
                        <span *ngIf="attackCampaignIndex!=0" (click)="removeDateHash(attackCampaignIndex)"><i class="pi pi-times"></i>  </span>
                        <span *ngIf="attackCampaignIndex==0" (click)="removeDateHashZero(attackCampaignIndex)"> <i class="pi pi-times"></i>  </span>

                      </h3>
                    </div>
                    <div class="p-md-6 p-field p-fluid">
                      <label type="text" class="col-form-label">Date:</label>
                      <p-calendar formControlName="date" [maxDate]="minDateValue" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2021"
                      ></p-calendar>
                      <div *ngIf="units.controls.date.errors">
                        <span class="p-error" *ngIf="((units.controls.date.dirty || units.controls.date.touched) && units.controls.date.errors?.required && !submitNextThree)">
                          Date is required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && units.controls.date.errors?.required)">
                          Date is required
                        </span>
                      </div>
                    </div>
                    <div formArrayName="hashes" class="p-grid"
                         *ngFor="let unit of units.get('hashes')['controls']; let attackCampaignSubIndex = index;">
                      <div class="p-col "  [formGroupName]="attackCampaignSubIndex">
                        <p-accordionTab styleClass="someStyleClass">
                          <p-header class="p-col-12 p-grid">
                            <div class="p-md-12 p-field p-fluid">
                              <h3 class="form-add">
                                <span *ngIf="attackCampaignSubIndex===0 || attackCampaignSubIndex===units.get('hashes')['controls'].length - 1"
                                      (click)="addHash(units)"> <i class="pi pi-plus"></i>   </span>
                                <span *ngIf="attackCampaignSubIndex!=0" (click)="removeHash(attackCampaignSubIndex, units)"><i class="pi pi-times"></i>   </span>
                                <span *ngIf="attackCampaignSubIndex==0" (click)="removeHashz(attackCampaignSubIndex, units)"> <i class="pi pi-times"></i>  </span>
                              </h3>
                              <label type="text" class="col-form-label">Hash:</label>

                              <input type="text" formControlName="hash"  pInputText class="p-inputtext animation"/>
                              <div *ngIf="unit.controls.hash.errors && (unit.controls.hash.dirty || unit.controls.hash.touched)">
                                  <span class="p-error" *ngIf="((unit.controls.hash.dirty || unit.controls.hash.touched) && unit.controls.hash.errors?.required && !submitNextThree)">
                                    Hash is required
                                  </span>
                                <span class="p-error" *ngIf="((submitNextThree) && unit.controls.hash.errors?.required)">
                                    Hash is required
                                  </span>
                              </div>
                            </div>
                          </p-header>
                          <div class="p-field">
                            <label type="text" class="col-form-label">SHA1:</label>
                            <input type="text" formControlName="sha1" readonly pInputText class="p-inputtext animation" >

                          </div>
                          <div class="p-field">
                            <label type="text" class="col-form-label">SHA256:</label>
                            <input type="text" formControlName="sha256" readonly pInputText class="p-inputtext animation" >

                          </div>
                          <div class="p-field">
                            <label type="text" class="col-form-label">MD5:</label>
                            <input type="text" formControlName="md5" readonly pInputText class="p-inputtext animation" >

                          </div>
                          <div class="p-field">
                            <label type="text" class="col-form-label">File Type:</label>
                            <input type="text" formControlName="fileType"  pInputText class="p-inputtext animation" >

                          </div>
                          <div class="p-field">
                            <label type="text" class="col-form-label">File Description:</label>
                            <input type="text" formControlName="fileDescription"  pInputText class="p-inputtext animation" >

                          </div>
                          <div class="p-field">
                            <label type="text" class="col-form-label">Target Machine:</label>
                            <input type="text" formControlName="targetMachine"  pInputText class="p-inputtext animation" >

                          </div>
                          <div class="p-field">
                            <label type="text" class="col-form-label">Malware Signature/Type:</label>
                            <input type="text" formControlName="malwareSignatureType"  pInputText class="p-inputtext animation" >

                          </div>
                        </p-accordionTab>
                      </div>
                    </div>
                  </div>
                </div>
              </p-accordionTab>
              <p-accordionTab header="Process Name" >
                <div formArrayName="process" class="p-grid"
                     *ngFor="let units of updateCampaignForm.get('process')['controls']; let attackCampaignIndex = index;">
                  <div class="p-col "[formGroupName]="attackCampaignIndex">
                    <div class="p-col-12">
                      <h3 class="form-add">
                            <span *ngIf="attackCampaignIndex===0 || attackCampaignIndex===updateCampaignForm.get('process')['controls'].length - 1"
                                  (click)="addProcess()"> <i class="pi pi-plus"></i> </span>
                        <span *ngIf="attackCampaignIndex!=0" (click)="removeProcess(attackCampaignIndex)"><i class="pi pi-times"></i>  </span>
                        <span *ngIf="attackCampaignIndex==0" (click)="removeProcessZ(attackCampaignIndex, 'process', 'process')"> <i class="pi pi-times"></i>  </span>

                      </h3>
                    </div>
                    <div class="p-md-6 p-field  p-fluid">
                      <label type="text" class="col-form-label">Date:</label>
                      <p-calendar formControlName="date" [maxDate]="minDateValue" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2021"
                      ></p-calendar>
                      <div *ngIf="units.controls.date.errors">
                        <span class="p-error" *ngIf="((units.controls.date.dirty || units.controls.date.touched) && units.controls.date.errors?.required && !submitNextThree)">
                          Date is required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && units.controls.date.errors?.required)">
                          Date is required
                        </span>
                      </div>
                    </div>

                    <div class="p-md-12">
                      <p-accordionTab header="Process Name" >
                        <div formArrayName="process" class="p-grid"
                             *ngFor="let unit of units.get('process')['controls']; let attackCampaignSubIndex = index;">
                          <div class="p-col" [formGroupName]="attackCampaignSubIndex">
                            <div class="p-col-12">
                              <h3 class="form-add">
                                <span *ngIf="attackCampaignSubIndex===0 || attackCampaignSubIndex===units.get('process')['controls'].length - 1"
                                      (click)="addSubIoc(units, 'process')"> <i class="pi pi-plus"></i> </span>
                                <span *ngIf="attackCampaignSubIndex!=0" (click)="removeSubIocs(attackCampaignSubIndex, units, 'process')"><i class="pi pi-times"></i>  </span>
                                <span *ngIf="attackCampaignSubIndex==0" (click)="removeSubIocsZ(attackCampaignSubIndex, units, 'process')"> <i class="pi pi-times"></i>  </span>

                              </h3>
                            </div>
                            <div class="p-field">
                              <label type="text" class="col-form-label">Process:</label>
                              <input type="text" formControlName="value" pInputText class="p-inputtext animation" >

                            </div>
                          </div>

                        </div>
                      </p-accordionTab>
                    </div>
                  </div>

                </div>
              </p-accordionTab>
              <p-accordionTab header="DNS" >
                <div formArrayName="domains" class="p-grid"
                     *ngFor="let units of updateCampaignForm.get('domains')['controls']; let attackCampaignIndex = index;">
                  <div class="p-col "[formGroupName]="attackCampaignIndex">
                    <div class="p-col-12">
                      <h3 class="form-add">
                            <span *ngIf="attackCampaignIndex===0 || attackCampaignIndex===updateCampaignForm.get('domains')['controls'].length - 1"
                                  (click)="addDomain()"> <i class="pi pi-plus"></i> </span>
                        <span *ngIf="attackCampaignIndex!=0" (click)="removeDomain(attackCampaignIndex)"><i class="pi pi-times"></i>  </span>
                        <span *ngIf="attackCampaignIndex==0" (click)="removeProcessZ(attackCampaignIndex, 'domains', 'domains')"> <i class="pi pi-times"></i>  </span>

                      </h3>
                    </div>
                    <div class="p-md-6 p-field  p-fluid">
                      <label type="text" class="col-form-label">Date:</label>
                      <p-calendar formControlName="date" [maxDate]="minDateValue" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2021"
                      ></p-calendar>
                      <div *ngIf="units.controls.date.errors">
                        <span class="p-error" *ngIf="((units.controls.date.dirty || units.controls.date.touched) && units.controls.date.errors?.required && !submitNextThree)">
                          Date is required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && units.controls.date.errors?.required)">
                          Date is required
                        </span>
                      </div>
                    </div>

                    <div class="p-md-12">
                      <p-accordionTab header="DNS">
                        <div formArrayName="domains" class="p-grid"
                             *ngFor="let unit of units.get('domains')['controls']; let attackCampaignSubIndex = index;">
                          <div class="p-col" [formGroupName]="attackCampaignSubIndex">
                            <div class="p-col-12">
                              <h3 class="form-add">
                                <span *ngIf="attackCampaignSubIndex===0 || attackCampaignSubIndex===units.get('domains')['controls'].length - 1"
                                      (click)="addSubIoc(units, 'domains')"> <i class="pi pi-plus"></i> </span>
                                <span *ngIf="attackCampaignSubIndex!=0" (click)="removeSubIocs(attackCampaignSubIndex, units, 'domains')"><i class="pi pi-times"></i>  </span>
                                <span *ngIf="attackCampaignSubIndex==0" (click)="removeSubIocsZ(attackCampaignSubIndex, units, 'domains')"> <i class="pi pi-times"></i>  </span>

                              </h3>
                            </div>
                            <div class="p-field">
                              <label type="text" class="col-form-label">Domain:</label>
                              <input type="text" formControlName="value" pInputText class="p-inputtext animation" >

                            </div>
                          </div>

                        </div>
                      </p-accordionTab>
                    </div>
                  </div>

                </div>
              </p-accordionTab>
              <p-accordionTab header="IP Addresses">
                <div formArrayName="ips" class="p-grid"
                     *ngFor="let units of updateCampaignForm.get('ips')['controls']; let attackCampaignIndex = index;">
                  <div class="p-col "[formGroupName]="attackCampaignIndex">
                    <div class="p-col-12">
                      <h3 class="form-add">
                            <span *ngIf="attackCampaignIndex===0 || attackCampaignIndex===updateCampaignForm.get('ips')['controls'].length - 1"
                                  (click)="addIps()"> <i class="pi pi-plus"></i> </span>
                        <span *ngIf="attackCampaignIndex!=0" (click)="removeIps(attackCampaignIndex)"><i class="pi pi-times"></i>  </span>
                        <span *ngIf="attackCampaignIndex==0" (click)="removeProcessZ(attackCampaignIndex, 'ips', 'ips')"> <i class="pi pi-times"></i>  </span>

                      </h3>
                    </div>
                    <div class="p-md-6 p-field  p-fluid">
                      <label type="text" class="col-form-label">Date:</label>
                      <p-calendar formControlName="date" [maxDate]="minDateValue" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2021"
                      ></p-calendar>
                      <div *ngIf="units.controls.date.errors">
                        <span class="p-error" *ngIf="((units.controls.date.dirty || units.controls.date.touched) && units.controls.date.errors?.required && !submitNextThree)">
                          Date is required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && units.controls.date.errors?.required)">
                          Date is required
                        </span>
                      </div>
                    </div>

                    <div class="p-md-12">
                      <p-accordionTab header="IP Addresses">
                        <div formArrayName="ips" class="p-grid"
                             *ngFor="let unit of units.get('ips')['controls']; let attackCampaignSubIndex = index;">
                          <div class="p-col" [formGroupName]="attackCampaignSubIndex">
                            <div class="p-col-12">
                              <h3 class="form-add">
                                <span *ngIf="attackCampaignSubIndex===0 || attackCampaignSubIndex===units.get('ips')['controls'].length - 1"
                                      (click)="addSubIoc(units, 'ips')"> <i class="pi pi-plus"></i> </span>
                                <span *ngIf="attackCampaignSubIndex!=0" (click)="removeSubIocs(attackCampaignSubIndex, units, 'ips')"><i class="pi pi-times"></i>  </span>
                                <span *ngIf="attackCampaignSubIndex==0" (click)="removeSubIocsZ(attackCampaignSubIndex, units, 'ips')"> <i class="pi pi-times"></i>  </span>

                              </h3>
                            </div>
                            <div class="p-field">
                              <label type="text" class="col-form-label">IP:</label>
                              <input type="text" formControlName="value" pInputText class="p-inputtext animation" >

                            </div>
                          </div>

                        </div>
                      </p-accordionTab>
                    </div>
                  </div>

                </div>
              </p-accordionTab>
              <p-accordionTab header="HTTP Request">
                <div formArrayName="urls" class="p-grid"
                     *ngFor="let units of updateCampaignForm.get('urls')['controls']; let attackCampaignIndex = index;">
                  <div class="p-col "[formGroupName]="attackCampaignIndex">
                    <div class="p-col-12">
                      <h3 class="form-add">
                            <span *ngIf="attackCampaignIndex===0 || attackCampaignIndex===updateCampaignForm.get('urls')['controls'].length - 1"
                                  (click)="addUrls()"> <i class="pi pi-plus"></i> </span>
                        <span *ngIf="attackCampaignIndex!=0" (click)="removeUrls(attackCampaignIndex)"><i class="pi pi-times"></i>  </span>
                        <span *ngIf="attackCampaignIndex==0" (click)="removeProcessZ(attackCampaignIndex, 'urls', 'urls')"> <i class="pi pi-times"></i>  </span>

                      </h3>
                    </div>
                    <div class="p-md-6 p-field  p-fluid">
                      <label type="text" class="col-form-label">Date:</label>
                      <p-calendar formControlName="date" [maxDate]="minDateValue" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2021"
                      ></p-calendar>
                      <div *ngIf="units.controls.date.errors">
                        <span class="p-error" *ngIf="((units.controls.date.dirty || units.controls.date.touched) && units.controls.date.errors?.required && !submitNextThree)">
                          Date is required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && units.controls.date.errors?.required)">
                          Date is required
                        </span>
                      </div>
                    </div>

                    <div class="p-md-12">
                      <p-accordionTab header="HTTP Request">
                        <div formArrayName="urls" class="p-grid"
                             *ngFor="let unit of units.get('urls')['controls']; let attackCampaignSubIndex = index;">
                          <div class="p-col" [formGroupName]="attackCampaignSubIndex">
                            <div class="p-col-12">
                              <h3 class="form-add">
                                <span *ngIf="attackCampaignSubIndex===0 || attackCampaignSubIndex===units.get('urls')['controls'].length - 1"
                                      (click)="addSubIoc(units, 'urls')"> <i class="pi pi-plus"></i> </span>
                                <span *ngIf="attackCampaignSubIndex!=0" (click)="removeSubIocs(attackCampaignSubIndex, units, 'urls')"><i class="pi pi-times"></i>  </span>
                                <span *ngIf="attackCampaignSubIndex==0" (click)="removeSubIocsZ(attackCampaignSubIndex, units, 'urls')"> <i class="pi pi-times"></i>  </span>

                              </h3>
                            </div>
                            <div class="p-field">
                              <label type="text" class="col-form-label">URL:</label>
                              <input type="text" formControlName="value" pInputText class="p-inputtext animation" >

                            </div>
                          </div>

                        </div>
                      </p-accordionTab>
                    </div>
                  </div>

                </div>
              </p-accordionTab>
              <p-accordionTab header="Registry Entry">
                <div formArrayName="registeries" class="p-grid"
                     *ngFor="let units of updateCampaignForm.get('registeries')['controls']; let attackCampaignIndex = index;">
                  <div class="p-col "[formGroupName]="attackCampaignIndex">
                    <div class="p-col-12">
                      <h3 class="form-add">
                            <span *ngIf="attackCampaignIndex===0 || attackCampaignIndex===updateCampaignForm.get('registeries')['controls'].length - 1"
                                  (click)="addRegisteries()"> <i class="pi pi-plus"></i> </span>
                        <span *ngIf="attackCampaignIndex!=0" (click)="removeRegisteries(attackCampaignIndex)"><i class="pi pi-times"></i>  </span>
                        <span *ngIf="attackCampaignIndex==0" (click)="removeProcessZ(attackCampaignIndex, 'registeries', 'registeries')"> <i class="pi pi-times"></i>  </span>

                      </h3>
                    </div>
                    <div class="p-md-6 p-field  p-fluid">
                      <label type="text" class="col-form-label">Date:</label>
                      <p-calendar formControlName="date" [maxDate]="minDateValue" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2021"
                      ></p-calendar>
                      <div *ngIf="units.controls.date.errors">
                        <span class="p-error" *ngIf="((units.controls.date.dirty || units.controls.date.touched) && units.controls.date.errors?.required && !submitNextThree)">
                          Date is required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && units.controls.date.errors?.required)">
                          Date is required
                        </span>
                      </div>
                    </div>

                    <div class="p-md-12">
                      <p-accordionTab header="Registry Entry">
                        <div formArrayName="registeries" class="p-grid"
                             *ngFor="let unit of units.get('registeries')['controls']; let attackCampaignSubIndex = index;">
                          <div class="p-col" [formGroupName]="attackCampaignSubIndex">
                            <div class="p-col-12">
                              <h3 class="form-add">
                                <span *ngIf="attackCampaignSubIndex===0 || attackCampaignSubIndex===units.get('registeries')['controls'].length - 1"
                                      (click)="addSubIoc(units, 'registeries')"> <i class="pi pi-plus"></i> </span>
                                <span *ngIf="attackCampaignSubIndex!=0" (click)="removeSubIocs(attackCampaignSubIndex, units, 'registeries')"><i class="pi pi-times"></i>  </span>
                                <span *ngIf="attackCampaignSubIndex==0" (click)="removeSubIocsZ(attackCampaignSubIndex, units, 'registeries')"> <i class="pi pi-times"></i>  </span>

                              </h3>
                            </div>
                            <div class="p-field">
                              <label type="text" class="col-form-label">Registry Value:</label>
                              <input type="text" formControlName="value" pInputText class="p-inputtext animation" >

                            </div>
                          </div>

                        </div>
                      </p-accordionTab>
                    </div>
                  </div>

                </div>
              </p-accordionTab>
              <p-accordionTab header="Mutex">
                <div formArrayName="mutexes" class="p-grid"
                     *ngFor="let units of updateCampaignForm.get('mutexes')['controls']; let attackCampaignIndex = index;">
                  <div class="p-col "[formGroupName]="attackCampaignIndex">
                    <div class="p-col-12">
                      <h3 class="form-add">
                            <span *ngIf="attackCampaignIndex===0 || attackCampaignIndex===updateCampaignForm.get('mutexes')['controls'].length - 1"
                                  (click)="addMutexes()"> <i class="pi pi-plus"></i> </span>
                        <span *ngIf="attackCampaignIndex!=0" (click)="removeMutexes(attackCampaignIndex)"><i class="pi pi-times"></i>  </span>
                        <span *ngIf="attackCampaignIndex==0" (click)="removeProcessZ(attackCampaignIndex, 'mutexes', 'mutexes')"> <i class="pi pi-times"></i>  </span>

                      </h3>
                    </div>
                    <div class="p-md-6 p-field  p-fluid">
                      <label type="text" class="col-form-label">Date:</label>
                      <p-calendar formControlName="date" [maxDate]="minDateValue" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2021"
                      ></p-calendar>
                      <div *ngIf="units.controls.date.errors">
                        <span class="p-error" *ngIf="((units.controls.date.dirty || units.controls.date.touched) && units.controls.date.errors?.required && !submitNextThree)">
                          Date is required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && units.controls.date.errors?.required)">
                          Date is required
                        </span>
                      </div>
                    </div>

                    <div class="p-md-12">
                      <p-accordionTab header="Mutex">
                        <div formArrayName="mutexes" class="p-grid"
                             *ngFor="let unit of units.get('mutexes')['controls']; let attackCampaignSubIndex = index;">
                          <div class="p-col" [formGroupName]="attackCampaignSubIndex">
                            <div class="p-col-12">
                              <h3 class="form-add">
                                <span *ngIf="attackCampaignSubIndex===0 || attackCampaignSubIndex===units.get('mutexes')['controls'].length - 1"
                                      (click)="addSubIoc(units, 'mutexes')"> <i class="pi pi-plus"></i> </span>
                                <span *ngIf="attackCampaignSubIndex!=0" (click)="removeSubIocs(attackCampaignSubIndex, units, 'mutexes')"><i class="pi pi-times"></i>  </span>
                                <span *ngIf="attackCampaignSubIndex==0" (click)="removeSubIocsZ(attackCampaignSubIndex, units, 'mutexes')"> <i class="pi pi-times"></i>  </span>

                              </h3>
                            </div>
                            <div class="p-field">
                              <label type="text" class="col-form-label">Mutex:</label>
                              <input type="text" formControlName="value" pInputText class="p-inputtext animation" >

                            </div>
                          </div>

                        </div>
                      </p-accordionTab>
                    </div>
                  </div>

                </div>
              </p-accordionTab>
              <p-accordionTab header="File Path">
                <div formArrayName="paths" class="p-grid"
                     *ngFor="let units of updateCampaignForm.get('paths')['controls']; let attackCampaignIndex = index;">
                  <div class="p-col "[formGroupName]="attackCampaignIndex">
                    <div class="p-col-12">
                      <h3 class="form-add">
                            <span *ngIf="attackCampaignIndex===0 || attackCampaignIndex===updateCampaignForm.get('paths')['controls'].length - 1"
                                  (click)="addPath()"> <i class="pi pi-plus"></i> </span>
                        <span *ngIf="attackCampaignIndex!=0" (click)="removePath(attackCampaignIndex)"><i class="pi pi-times"></i>  </span>
                        <span *ngIf="attackCampaignIndex==0" (click)="removeProcessZ(attackCampaignIndex, 'paths', 'paths')"> <i class="pi pi-times"></i>  </span>

                      </h3>
                    </div>
                    <div class="p-md-6 p-field  p-fluid">
                      <label type="text" class="col-form-label">Date:</label>
                      <p-calendar formControlName="date" [maxDate]="minDateValue" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2021"
                      ></p-calendar>
                      <div *ngIf="units.controls.date.errors">
                        <span class="p-error" *ngIf="((units.controls.date.dirty || units.controls.date.touched) && units.controls.date.errors?.required && !submitNextThree)">
                          Date is required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && units.controls.date.errors?.required)">
                          Date is required
                        </span>
                      </div>
                    </div>

                    <div class="p-md-12">
                      <p-accordionTab header="File Path">
                        <div formArrayName="paths" class="p-grid"
                             *ngFor="let unit of units.get('paths')['controls']; let attackCampaignSubIndex = index;">
                          <div class="p-col" [formGroupName]="attackCampaignSubIndex">
                            <div class="p-col-12">
                              <h3 class="form-add">
                                <span *ngIf="attackCampaignSubIndex===0 || attackCampaignSubIndex===units.get('paths')['controls'].length - 1"
                                      (click)="addSubIoc(units, 'paths')"> <i class="pi pi-plus"></i> </span>
                                <span *ngIf="attackCampaignSubIndex!=0" (click)="removeSubIocs(attackCampaignSubIndex, units, 'paths')"><i class="pi pi-times"></i>  </span>
                                <span *ngIf="attackCampaignSubIndex==0" (click)="removeSubIocsZ(attackCampaignSubIndex, units, 'paths')"> <i class="pi pi-times"></i>  </span>

                              </h3>
                            </div>
                            <div class="p-field">
                              <label type="text" class="col-form-label">Path:</label>
                              <input type="text" formControlName="value" pInputText class="p-inputtext animation" >

                            </div>
                          </div>

                        </div>
                      </p-accordionTab>
                    </div>
                  </div>

                </div>
              </p-accordionTab>

              <p-accordionTab header="File Name">
                <div formArrayName="fileName" class="p-grid"
                     *ngFor="let units of updateCampaignForm.get('fileName')['controls']; let attackCampaignIndex = index;">
                  <div class="p-col "[formGroupName]="attackCampaignIndex">
                    <div class="p-col-12">
                      <h3 class="form-add">
                            <span *ngIf="attackCampaignIndex===0 || attackCampaignIndex===updateCampaignForm.get('fileName')['controls'].length - 1"
                                  (click)="addFileName()"> <i class="pi pi-plus"></i> </span>
                        <span *ngIf="attackCampaignIndex!=0" (click)="removeFileName(attackCampaignIndex)"><i class="pi pi-times"></i>  </span>
                        <span *ngIf="attackCampaignIndex==0" (click)="removeProcessZ(attackCampaignIndex, 'fileName', 'Files')"> <i class="pi pi-times"></i>  </span>

                      </h3>
                    </div>
                    <div class="p-md-6 p-field  p-fluid">
                      <label type="text" class="col-form-label">Date:</label>
                      <p-calendar formControlName="date" [maxDate]="minDateValue" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2021"
                      ></p-calendar>
                      <div *ngIf="units.controls.date.errors">
                        <span class="p-error" *ngIf="((units.controls.date.dirty || units.controls.date.touched) && units.controls.date.errors?.required && !submitNextThree)">
                          Date is required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && units.controls.date.errors?.required)">
                          Date is required
                        </span>
                      </div>
                    </div>

                    <div class="p-md-12">
                      <p-accordionTab header="File Name">
                        <div formArrayName="Files" class="p-grid"
                             *ngFor="let unit of units.get('Files')['controls']; let attackCampaignSubIndex = index;">
                          <div class="p-col" [formGroupName]="attackCampaignSubIndex">
                            <div class="p-col-12">
                              <h3 class="form-add">
                                <span *ngIf="attackCampaignSubIndex===0 || attackCampaignSubIndex===units.get('Files')['controls'].length - 1"
                                      (click)="addSubIoc(units, 'fileName')"> <i class="pi pi-plus"></i> </span>
                                <span *ngIf="attackCampaignSubIndex!=0" (click)="removeSubIocs(attackCampaignSubIndex, units, 'fileName')"><i class="pi pi-times"></i>  </span>
                                <span *ngIf="attackCampaignSubIndex==0" (click)="removeSubIocsZ(attackCampaignSubIndex, units, 'Files')"> <i class="pi pi-times"></i>  </span>

                              </h3>
                            </div>
                            <div class="p-field">
                              <label type="text" class="col-form-label">File:</label>
                              <input type="text" formControlName="value" pInputText class="p-inputtext animation" >

                            </div>
                          </div>

                        </div>
                      </p-accordionTab>
                    </div>
                  </div>

                </div>
              </p-accordionTab>
              <p-accordionTab header="Hostname">
                <div formArrayName="hostName" class="p-grid"
                     *ngFor="let units of updateCampaignForm.get('hostName')['controls']; let attackCampaignIndex = index;">
                  <div class="p-col "[formGroupName]="attackCampaignIndex">
                    <div class="p-col-12">
                      <h3 class="form-add">
                            <span *ngIf="attackCampaignIndex===0 || attackCampaignIndex===updateCampaignForm.get('hostName')['controls'].length - 1"
                                  (click)="addHostName()"> <i class="pi pi-plus"></i> </span>
                        <span *ngIf="attackCampaignIndex!=0" (click)="removeHostName(attackCampaignIndex)"><i class="pi pi-times"></i>  </span>
                        <span *ngIf="attackCampaignIndex==0" (click)="removeProcessZ(attackCampaignIndex, 'hostName', 'hostNames')"> <i class="pi pi-times"></i>  </span>

                      </h3>
                    </div>
                    <div class="p-md-6 p-field  p-fluid">
                      <label type="text" class="col-form-label">Date:</label>
                      <p-calendar formControlName="date" [maxDate]="minDateValue" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2021"
                      ></p-calendar>
                      <div *ngIf="units.controls.date.errors">
                        <span class="p-error" *ngIf="((units.controls.date.dirty || units.controls.date.touched) && units.controls.date.errors?.required && !submitNextThree)">
                          Date is required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && units.controls.date.errors?.required)">
                          Date is required
                        </span>
                      </div>
                    </div>

                    <div class="p-md-12">
                      <p-accordionTab header="Hostname">
                        <div formArrayName="hostNames" class="p-grid"
                             *ngFor="let unit of units.get('hostNames')['controls']; let attackCampaignSubIndex = index;">
                          <div class="p-col" [formGroupName]="attackCampaignSubIndex">
                            <div class="p-col-12">
                              <h3 class="form-add">
                                <span *ngIf="attackCampaignSubIndex===0 || attackCampaignSubIndex===units.get('hostNames')['controls'].length - 1"
                                      (click)="addSubIoc(units, 'hostName')"> <i class="pi pi-plus"></i> </span>
                                <span *ngIf="attackCampaignSubIndex!=0" (click)="removeSubIocs(attackCampaignSubIndex, units, 'hostName')"><i class="pi pi-times"></i>  </span>
                                <span *ngIf="attackCampaignSubIndex==0" (click)="removeSubIocsZ(attackCampaignSubIndex, units, 'hostNames')"> <i class="pi pi-times"></i>  </span>

                              </h3>
                            </div>
                            <div class="p-field">
                              <label type="text" class="col-form-label">Hostname:</label>
                              <input type="text" formControlName="value" pInputText class="p-inputtext animation" >

                            </div>
                          </div>

                        </div>
                      </p-accordionTab>
                    </div>
                  </div>

                </div>
              </p-accordionTab>
              <p-accordionTab header="Email Address">
                <div formArrayName="email" class="p-grid"
                     *ngFor="let units of updateCampaignForm.get('email')['controls']; let attackCampaignIndex = index;">
                  <div class="p-col "[formGroupName]="attackCampaignIndex">
                    <div class="p-col-12">
                      <h3 class="form-add">
                            <span *ngIf="attackCampaignIndex===0 || attackCampaignIndex===updateCampaignForm.get('email')['controls'].length - 1"
                                  (click)="addEmail()"> <i class="pi pi-plus"></i> </span>
                        <span *ngIf="attackCampaignIndex!=0" (click)="removeEmail(attackCampaignIndex)"><i class="pi pi-times"></i>  </span>
                        <span *ngIf="attackCampaignIndex==0" (click)="removeProcessZ(attackCampaignIndex, 'email', 'emails')"> <i class="pi pi-times"></i>  </span>

                      </h3>
                    </div>
                    <div class="p-md-6 p-field  p-fluid">
                      <label type="text" class="col-form-label">Date:</label>
                      <p-calendar formControlName="date" [maxDate]="minDateValue" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2021"
                      ></p-calendar>
                      <div *ngIf="units.controls.date.errors">
                        <span class="p-error" *ngIf="((units.controls.date.dirty || units.controls.date.touched) && units.controls.date.errors?.required && !submitNextThree)">
                          Date is required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && units.controls.date.errors?.required)">
                          Date is required
                        </span>
                      </div>
                    </div>

                    <div class="p-md-12">
                      <p-accordionTab header="Email Address">
                        <div formArrayName="emails" class="p-grid"
                             *ngFor="let unit of units.get('emails')['controls']; let attackCampaignSubIndex = index;">
                          <div class="p-col" [formGroupName]="attackCampaignSubIndex">
                            <div class="p-col-12">
                              <h3 class="form-add">
                                <span *ngIf="attackCampaignSubIndex===0 || attackCampaignSubIndex===units.get('emails')['controls'].length - 1"
                                      (click)="addSubIoc(units, 'email')"> <i class="pi pi-plus"></i> </span>
                                <span *ngIf="attackCampaignSubIndex!=0" (click)="removeSubIocs(attackCampaignSubIndex, units, 'email')"><i class="pi pi-times"></i>  </span>
                                <span *ngIf="attackCampaignSubIndex==0" (click)="removeSubIocsZ(attackCampaignSubIndex, units, 'emails')"> <i class="pi pi-times"></i>  </span>

                              </h3>
                            </div>
                            <div class="p-field">
                              <label type="text" class="col-form-label">Email:</label>
                              <input type="text" formControlName="value" pInputText class="p-inputtext animation" >

                            </div>
                          </div>

                        </div>
                      </p-accordionTab>
                    </div>
                  </div>

                </div>
              </p-accordionTab>
              <p-accordionTab header="CVE">
                <div formArrayName="cve" class="p-grid"
                     *ngFor="let units of updateCampaignForm.get('cve')['controls']; let attackCampaignIndex = index;">
                  <div class="p-col "[formGroupName]="attackCampaignIndex">
                    <div class="p-col-12">
                      <h3 class="form-add">
                            <span *ngIf="attackCampaignIndex===0 || attackCampaignIndex===updateCampaignForm.get('cve')['controls'].length - 1"
                                  (click)="addCVE()"> <i class="pi pi-plus"></i> </span>
                        <span *ngIf="attackCampaignIndex!=0" (click)="removeCVE(attackCampaignIndex)"><i class="pi pi-times"></i>  </span>
                        <span *ngIf="attackCampaignIndex==0" (click)="removeProcessZ(attackCampaignIndex, 'cve', 'cves')"> <i class="pi pi-times"></i>  </span>

                      </h3>
                    </div>
                    <div class="p-md-6 p-field  p-fluid">
                      <label type="text" class="col-form-label">Date:</label>
                      <p-calendar formControlName="date" [maxDate]="minDateValue" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2021"
                      ></p-calendar>
                      <div *ngIf="units.controls.date.errors">
                        <span class="p-error" *ngIf="((units.controls.date.dirty || units.controls.date.touched) && units.controls.date.errors?.required && !submitNextThree)">
                          Date is required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && units.controls.date.errors?.required)">
                          Date is required
                        </span>
                      </div>
                    </div>

                    <div class="p-md-12">
                      <p-accordionTab header="CVE">
                        <div formArrayName="cves" class="p-grid"
                             *ngFor="let unit of units.get('cves')['controls']; let attackCampaignSubIndex = index;">
                          <div class="p-col" [formGroupName]="attackCampaignSubIndex">
                            <div class="p-col-12">
                              <h3 class="form-add">
                                <span *ngIf="attackCampaignSubIndex===0 || attackCampaignSubIndex===units.get('cves')['controls'].length - 1"
                                      (click)="addSubIoc(units, 'cve')"> <i class="pi pi-plus"></i> </span>
                                <span *ngIf="attackCampaignSubIndex!=0" (click)="removeSubIocs(attackCampaignSubIndex, units, 'cve')"><i class="pi pi-times"></i>  </span>
                                <span *ngIf="attackCampaignSubIndex==0" (click)="removeSubIocsZ(attackCampaignSubIndex, units, 'cves')"> <i class="pi pi-times"></i>  </span>

                              </h3>
                            </div>
                            <div class="p-field">
                              <label type="text" class="col-form-label">CVE:</label>
                              <input type="text" formControlName="value" pInputText class="p-inputtext animation" >

                            </div>
                          </div>

                        </div>
                      </p-accordionTab>
                    </div>
                  </div>

                </div>
              </p-accordionTab>
            </p-accordionTab>
          </p-accordion>

        </p-card>

        <div class="p-mt-4 p-d-flex">
          <button class="p-button p-component ng-star-inserted w-auto" type="submit">
            <span class="p-button-label">Update Attack/Campaign</span>
          </button>
          <button class="p-button p-component ng-star-inserted w-auto" type="button" (click)="onCancel()">
            <span class="p-button-label">Cancel</span>
          </button>

        </div>
      </form>
    </p-card>
  </div>

</div>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>


