//@import "variables";
//#prefrencesRegion {  width: 785px; height: 496px; position: relative; margin: auto; }
//
//.red-star {
//  color: red;
//}
//.p-error {
//  color: red;
//}
//.p-button {
//  width: 130px;
//  margin: 5px;
//}
//.block-div {
//  display: inline-flex;
//}
//.ui-autocomplete-input-token {
//  width: 100% !important;
//}
//
//.btn-file {
//  margin-bottom: 30px;
//  display: block;
//}
//.msg-dashBoard {
//  font-size: $primary-font-size;
//  font-weight: $font-bold;
//  background: $orange;
//  color: $white;
//  display: block;
//  padding: 11px;
//  text-align: center;
//  margin: 13px 0 0;
//}
//::ng-deep .p-accordion-tab {
//  margin-bottom: 10px;
//  padding-bottom: 10px;
//  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
//}
//
//.form-add {
//  display: flex;
//  justify-content: flex-end;
//  margin: 0;
//
//  span {
//    margin-left: 10px;
//    cursor: pointer;
//  }
//
//}
