<div class="p-grid">
  <div class="p-col">
    <p-card header="Display Options">
      <ngx-spinner name="preferences-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
                   type="ball-clip-rotate"
                   [fullScreen]="true"><p> Loading... </p></ngx-spinner>
      <div class="p-d-flex p-justify-end p-align-center">
        <button class="p-button p-component ng-star-inserted w-auto p-mt-3" type="button"
                (click)="search()">
          <span class="p-button-label">Save Settings</span>
        </button>
      </div>
      <h2>
        Target Sectors
      </h2>
      <div *ngIf="!spin" class="table-responsive" style="margin-bottom:0;">

          <div class="p-grid">
            <div class="p-md-6">
              <table width="100%" class="app-table">
                <tr *ngFor="let target of sectorResult.slice(0, sectorResult?.length/2)">
                  <td width="80px">
                    <span><img src="../../../assets/icons/{{target?.itemName}}.svg" height="40"></span>
                  </td>
                  <td width="50%">
                    <h5 [ngStyle]="{'text-transform':target.itemName === 'NGOs' ? 'none' : 'uppercase' }">
                      <span class="btn-link">{{target?.itemName}}</span>
                    </h5>
                  </td>
                  <td>
                    <p-inputSwitch  (onChange)="handleSectors($event, target.id)"
                                    [(ngModel)]="target.selected" ></p-inputSwitch></td>
                </tr>
              </table>
            </div>
            <div class="p-md-6">
              <table width="100%" class="app-table">
                <tr *ngFor="let target of sectorResult.slice(sectorResult?.length/2)">
                  <td width="80px">
                <span>
                                <img src="../../../assets/icons/{{target?.itemName}}.svg" height="40">
                              </span>
                  </td>
                  <td width="50%">
                    <h5 [ngStyle]="{'text-transform':target.itemName === 'NGOs' ? 'none' : 'uppercase' }">
                      <span class="btn-link">{{target?.itemName}}</span>
                    </h5>
                  </td>
                  <td>
                    <p-inputSwitch  (onChange)="handleSectors($event, target.id)"
                                    [(ngModel)]="target.selected" ></p-inputSwitch></td>
                </tr>
              </table>
            </div>
          </div>
      </div>
    </p-card>

      <p-card header="Target Regions">
        <div class="p-grid">
          <div class="p-md-8">
            <div id="prefrencesRegion"></div>
          </div>
          <div  *ngIf="itemList && itemList.length > 0" class="p-md-4">
            <div style="margin-top: 10px;">
              <table class="">
                <div class="row">

                  <tbody class="p-md-12">
                  <tr  *ngFor="let target of itemList">
                    <td style="padding-right: 30px">
                      <p-inputSwitch (onChange)="handleRegions($event, target.category)"
                                     [(ngModel)]="target.selected"></p-inputSwitch>
                    </td>
                    <td>
                      <h5>
                        <span>
                        {{target?.category}}
                      </span>
                      </h5>
                    </td>
                  </tr>
                  </tbody>
                </div>
              </table>

            </div>
          </div>
        </div>
      </p-card>
    <p-card header="Notifications">
      <div style="margin-top: 10px;">

        <table  class="app-table p-md-12">
          <tbody>
          <tr *ngFor="let target of alerts">
            <td width="80px">
              <p-inputSwitch [(ngModel)]="target.selected"></p-inputSwitch>
            </td>
            <td>
              <h5 style="text-transform: none">{{target?.label}}</h5>
            </td>
            <td width="200px">
              <select name="{{target.frequency}}" class="p-inputtext animation  " [(ngModel)]="target.frequencyValue"
                      (change)="switchFrequency(target.frequencyValue, target.frequency)">
                <option *ngFor="let v of days" [ngValue]="v.value">
                  Every {{v.label}} day(s)</option>
              </select>
            </td>
          </tr>
          </tbody>
        </table>

      </div>

    </p-card>
  </div>
</div>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
