<div class="p-grid attack-list">
  <div class="p-col-12">
    <p-card>
      <form [formGroup]="registerForm">
        <div class="p-field" *ngIf="(sectorResult && sectorResult.length > 0)">
          <div  class="col-md-12 mb-3">
            <h2 class="p-mt-0">Targeted Sectors</h2>
            <div>
              <ul class="targeted-sectors-list">
                <li *ngFor="let target of sectorResult.slice(0, sectorResult?.length/2)">
                  <a (click)="handleSectors(target, target.id)">
                      <span  [pTooltip]="target?.itemName" tooltipPosition="top">
                        <img [ngClass]="{'filter-gray' : !target?.selected}" src="../../../assets/icons/{{target?.itemName}}.svg">
                      </span>
                    <!--<p-inputSwitch  (onChange)="handleSectors($event, target.id)" formControlName="sectors" [(ngModel)]="target.selected"></p-inputSwitch>-->
                  </a>
                </li>
                <li *ngFor="let target of sectorResult.slice(sectorResult?.length/2)">
                  <a (click)="handleSectors(target, target.id)">
                      <span  [pTooltip]="target?.itemName" tooltipPosition="top">
                        <img [ngClass]="{'filter-gray' : !target?.selected}" src="../../../assets/icons/{{target?.itemName}}.svg">
                      </span>
                    <!--<p-inputSwitch  (onChange)="handleSectors($event, target.id)" formControlName="sectors" [(ngModel)]="target.selected"></p-inputSwitch>-->
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="p-field"  *ngIf="itemList && itemList.length > 0" >
          <div class="col-md-12 mb-3">
            <h2 class="p-mt-0">Targeted Regions</h2>
            <div>
              <ul class="switch-listing">
                <li *ngFor="let target of itemList">
                  <h5 class="switch">
                    <p-inputSwitch (onChange)="handleRegions($event, target.category)" formControlName="countries" [(ngModel)]="target.selected"></p-inputSwitch>
                    <span class="switch-label">
                        {{target?.category}}
                      </span>
                  </h5>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="p-field p-fluid">
            <p-autoComplete [(ngModel)]="selectedCountries"
                            formControlName="values"
                            (onKeyUp)="onKeyUp($event)"
                            [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" class="p-autocomplete"

                            placeholder="Enter any IOC , Attack/Campaign Name,  Group Name, MITRE Name, Alias"
                            [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)"
                            field="name" [multiple]="true">
            </p-autoComplete>
        </div>
        <div class="p-field block-div p-m-0">
          <button [disabled]="spin" (click)="search()" class="p-button p-component ng-star-inserted" type="button">
            <span class="p-button-label">Search</span></button>
          <button [disabled]="spin" class="p-button p-component ng-star-inserted" type="button"
                  (click)="getGroupsList('clear')"><span class="p-button-label">Clear Filters</span></button>
        </div>
      </form>
    </p-card>
    <p-card header="Groups">
      <ngx-spinner  name="listGroup-spinner" bdOpacity = 0.9 bdColor = "#f4f4f9" size = "medium" color = "#1010ee"
                    type = "ball-clip-rotate" [fullScreen] = "false"></ngx-spinner>
      <div class="table-has-scroll">
        <div class="has-scoll">
      <p-table #dt [value]="requestIncident" [showCurrentPageReport]="true"
               currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
               [alwaysShowPaginator]="false"
               [paginator]="true" [rows]="10"
               (onPage)="pagination()"
               styleClass="p-datatable-customers p-datatable-gridlines app-table">
        <ng-template pTemplate="caption">
          <div *ngIf="isSoc" class="p-d-flex p-justify-end p-align-center">
            <button class="p-button p-component ng-star-inserted w-auto p-mt-3" type="button"
                    (click)="createGroups()">
              <span class="p-button-label">Create Group</span>
            </button>
          </div>
        </ng-template>
        <ng-template pTemplate="header" let-columns>
          <tr>
            <th> Group Name</th>
            <th> MITRE Name</th>
            <th> Targeted Countries</th>
            <th> Targeted Sectors</th>
            <th class="p-text-center"> Attacks/Campaigns</th>
            <th class="p-text-center"> Indicator Count
              <span class="position-relative tbl-datepicker">
              <input hidden type="text" ngxDaterangepickerMd [(ngModel)]="selected" [showCustomRangeLabel]="false"
                     [alwaysShowCalendars]="false" [ranges]="ranges" [linkedCalendars]="true"
                     (ngModelChange)="selectedDate()" placeholder="Select please.../" class="p-inputtext custom-daterange">
              <i class="pi pi-filter ngx-daterangepicker-action" (click)="openDatepicker()"></i>
                </span>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
          <tr>

            <td><a class="onRowClick" (click)="viewGroups(rowData.id)">{{rowData.groupName}}</a></td>
            <td>{{rowData.mitreName}}</td>
            <td>
              <span *ngFor="let symbols of rowData.countries">
                <p-tag styleClass="p-mr-2" severity="warning" value="{{symbols.countryName || '-'}}">
                </p-tag>
              </span>
            </td>
            <td>
              <span *ngFor="let symbols of rowData.sectors" [pTooltip]="symbols?.value" style="margin-right: 15px;">
                <img style=" height: 35px;" src="../../../assets/icons/{{symbols?.value}}.svg">
              </span>
            </td>
            <td class="p-text-center">
              {{rowData.attackCampaignCount}}
            </td>
            <td class="p-text-center">
              {{rowData.indicatorCount}}
            </td>

          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage" let-columns>
          <tr>
            <td [attr.colspan]="6">
              <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-12">
                  <div class="panel panel-default">
                    <p class="msg-dashBoard"> No Record Found </p>
                  </div>
                </div>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
        </div>
      </div>
    </p-card>
  </div>
</div>

<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
