<div class="p-grid">
  <div class="p-col">
    <p-breadcrumb [model]="breadCrumbs"></p-breadcrumb>
    <p-card header="Attack/Campaigns Details">
      <ngx-spinner name="aptAttackCampaigns-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
                   type="ball-clip-rotate"
                   [fullScreen]="true"><p> Loading... </p></ngx-spinner>
      <div class="p-d-flex p-justify-end p-align-center">

        <button *ngIf="showRole" class="p-button p-component ng-star-inserted w-auto p-mt-3 p-ml-1" type="button"
                (click)="updateAttackCampaign(alertId)">
          <span class="p-button-label">Edit</span>
        </button>

        <button *ngIf="showRole" class="p-button p-component ng-star-inserted w-auto p-mt-3 p-ml-1" type="button"
                (click)="deleteAttackCampaign(alertId)">
          <span class="p-button-label">Delete</span>
        </button>

        <button class="p-button p-component ng-star-inserted w-auto p-mt-3 p-ml-1" type="button"
                (click)="downloadProfile(details?.caseName, attprofile)">
          <span class="p-button-label">Download Profile</span>
        </button>

        <button *ngIf="showIoC" class="p-button p-component ng-star-inserted w-auto p-mt-3" type="button"
                (click)="downloadAttack(details?.caseName, alertId)">
          <span class="p-button-label">Download IoCs</span>
        </button>

        <button class="p-button p-component ng-star-inserted w-auto p-mt-3" type="button"
                (click)="onNoClick()">
          <span class="p-button-label">Back</span>
        </button>
      </div>

        <div class="table-responsive" style="margin-bottom:0;">
          <table class="app-table">
            <tbody>
            <tr *ngIf="details?.caseName">
              <th width="20%"> Attack/Campaign Name</th>
              <td>{{details?.caseName || "--"}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="card mt-2 mb-2" *ngIf="details?.groups && details?.groups.length > 0">
          <p-accordion class="accordion" [multiple]="true">
            <p-accordionTab header="Groups" [selected]="true">
              <div class="" *ngFor="let symbols of details.groups">
                <div style="border: 1px solid #e5e8eb;" class="card-body  mt-3 mb-3">
                  <div style="border: none" class="card mt-3 mb-3">
                    <div *ngIf="symbols?.groupName" class="p-grid">
                      <div class="p-col-12">
                        <table class="app-table">
                          <tr>
                            <th width="100">Group Name</th>
                            <td>{{symbols.groupName}}</td>
                          </tr>
                          <tr *ngIf="symbols?.mitreName">
                            <th>
                              MITRE Name
                            </th>
                            <td>
                              {{symbols.mitreName}}
                            </td>
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </p-accordionTab>
          </p-accordion>
        </div>

        <div class="table-responsive" style="margin-bottom:0;">
          <table class="app-table">
            <tbody>
            <tr *ngIf="details?.aliases && details?.aliases.length > 0">
              <th width="20%">Alias</th>
              <td >
                          <span  *ngFor="let symbols of details?.aliases">
                        <p-tag styleClass="p-mr-2" severity="warning" value="{{symbols.value || '-'}}"></p-tag>
                    </span>
              </td>
            </tr>
            <tr *ngIf="details?.methodToolUsed">
              <th width="20%">Method Tool Used</th>
              <td>{{details?.methodToolUsed || "--"}}</td>
            </tr>
            <tr *ngIf="details?.specialCharacteristics">
              <th width="20%">Special Characteristics</th>
              <td>{{details?.specialCharacteristics || "--"}}</td>
            </tr>
            <tr *ngIf="details?.summary">
              <th width="20%">Summary</th>
              <td>{{details?.summary || "--"}}</td>
            </tr>
            <tr *ngIf="details?.sources">
              <th width="20%">Sources</th>
              <td><a   [routerLink]="" (click)="openSite(details.sources)">{{details?.sources || "--"}}</a></td>
            </tr>
            <tr *ngIf="details?.associatedIndicators">
              <th width="20%">Associated Indicators</th>
              <td>{{details?.associatedIndicators || "--"}}</td>
            </tr>
            <tr *ngIf="details?.sectors && details?.sectors.length>0">
              <th width="20%">Sectors</th>
              <td>
                 <span *ngFor="let symbols of details?.sectors" [pTooltip]="symbols.value">
                          <img src="../../../assets/icons/{{symbols?.value}}.svg">
                        </span>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <br>
        <p-card header="Countries:" *ngIf="(details && details.countries)">
          <div  id="container1"></div>
        </p-card>

        <div *ngIf="showChart">
          <!--<div echarts [options]="options" class="echarts"></div>-->
          <p-chart type="bar" [data]="datacombo" height="60vh" [options]="chartOptionscombo"></p-chart>

        </div>
        <br>
        <p-tabView
                *ngIf="(details?.domains && details?.domains?.length>0) || (details?.ips && details?.ips?.length>0)
|| (details?.urls && details?.urls?.length>0) || (details?.hashes && details?.hashes?.length>0)
|| (details?.mutexes && details?.mutexes?.length>0) || (details?.paths && details?.paths?.length>0)
|| (details?.process && details?.process?.length>0) || (details?.registries && details?.registries?.length>0)">
          <p-tabPanel leftIcon="pi pi-search" header="Domains" tooltip="Domains"
                      *ngIf="details?.domains && details?.domains?.length>0">
            <h3>Domains</h3>
            <div class="table-responsive table"
                 *ngIf="details?.domains && details?.domains?.length>0">
              <p-table [value]="details?.domains" [paginator]="true" [rows]="10"
                       [showCurrentPageReport]="true"
                       currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"

                       styleClass="p-datatable-customers p-datatable-gridlines app-table">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th> Dates</th>
                    <th> Domains</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td [pTooltip]="rowData.date">{{rowData.date || "--"}}</td>
                    <td>
                          <span *ngIf="rowData.domainData && rowData.domainData?.length > 0">
                              <span  *ngFor="let symbols of rowData.domainDat">
                        <p-tag styleClass="p-mr-2" severity="warning" value="{{symbols.value || '-'}}"></p-tag>
                    </span>
                          </span>
                      <span *ngIf="!rowData.domainData && rowData.domainData?.length === 0">-</span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </p-tabPanel>
          <p-tabPanel leftIcon="pi pi-search" header="IPs" tooltip="IPs"
                      *ngIf="details?.ips && details?.ips?.length>0">
            <h3>IPs</h3>
            <div class="table-responsive table"
                 *ngIf="details?.ips && details?.ips?.length>0">
              <p-table styleClass="p-datatable-customers p-datatable-gridlines app-table" [value]="details?.ips"
                       [showCurrentPageReport]="true"
                       currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                       [paginator]="true" [rows]="10">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th> Dates</th>
                    <th> Domains</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td [pTooltip]="rowData.date">{{rowData.date || "--"}}</td>
                    <td>
                      <div *ngIf="rowData.ipData && rowData.ipData?.length > 0">
                              <span  *ngFor="let symbols of rowData.domainDat">
                        <p-tag styleClass="p-mr-2" severity="warning" value="{{symbols.value || '-'}}"></p-tag>
                    </span>
                      </div>
                      <span *ngIf="!rowData.ipData && rowData.ipData?.length === 0">-</span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </p-tabPanel>
          <p-tabPanel leftIcon="pi pi-search" header="URLs" tooltip="URLs"
                      *ngIf="details?.urls && details?.urls?.length>0">
            <h3>URLs</h3>
            <div class="table-responsive table"
                 *ngIf="details?.urls && details?.urls?.length>0">
              <p-table styleClass="p-datatable-customers p-datatable-gridlines app-table" [value]="details?.urls"
                       [showCurrentPageReport]="true"
                       currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                       [paginator]="true" [rows]="10">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th> Dates</th>
                    <th> Domains</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td [pTooltip]="rowData.date">{{rowData.date || "--"}}</td>
                    <td>
                          <span *ngIf="rowData.urlData && rowData.urlData?.length > 0">
                              <span  *ngFor="let symbols of rowData.urlData">
                        <p-tag styleClass="p-mr-2" severity="warning" value="{{symbols.value || '-'}}"></p-tag>
                    </span>
                          </span>
                      <span *ngIf="!rowData.urlData && rowData.urlData?.length === 0">-</span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </p-tabPanel>
          <p-tabPanel leftIcon="pi pi-search" header="Hashes" tooltip="Hashes"
                      *ngIf="details?.hashes && details?.hashes?.length>0">
            <h3>Hashes</h3>
            <div class="table-responsive table"
                 *ngIf="details?.hashes && details?.hashes?.length>0">
              <p-table styleClass="p-datatable-customers p-datatable-gridlines app-table" [value]="details?.hashes"
                       [showCurrentPageReport]="true"
                       currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                       [paginator]="true" [rows]="10">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th> Dates</th>
                    <th> Hashes</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td [pTooltip]="rowData.date">{{rowData.date || "--"}}</td>
                    <td>
                          <span *ngIf="rowData.hashData && rowData.hashData?.length > 0">
                            <span *ngFor="let symbols of rowData.hashData">
                                <span class="mb-3"><b>File Description:</b> {{symbols.fileDescription}}<br>
                                <b>File Type:</b> {{symbols.fileType}}<br>
                                <b>Hash Value:</b> {{symbols.hashValue}}<br>
                                <b>Malware Signature Type:</b> {{symbols.malwareSignatureType}}<br>
                                <b>MD5:</b> {{symbols.md5}}<br>
                                <b>SHA1:</b> {{symbols.sha1}}<br>
                                <b>SHA256:</b> {{symbols.sha256}}<br>
                                <b>Target Machine:</b> {{symbols.targetMachine}}<br></span>
                          </span>
                          </span>
                      <span *ngIf="!rowData.hashData && rowData.hashData?.length === 0">-</span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </p-tabPanel>
          <p-tabPanel leftIcon="pi pi-search" header="Mutexes" tooltip="Mutexes"
                      *ngIf="details?.mutexes && details?.mutexes?.length>0">
            <h3>Mutexes</h3>
            <div class="table-responsive table"
                 *ngIf="details?.mutexes && details?.mutexes?.length>0">
              <p-table styleClass="p-datatable-customers p-datatable-gridlines app-table"  [value]="details?.mutexes"
                       [showCurrentPageReport]="true"
                       currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                       [paginator]="true" [rows]="10">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th> Dates</th>
                    <th> Domains</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td [pTooltip]="rowData.date">{{rowData.date || "--"}}</td>
                    <td>
                          <span *ngIf="rowData.mutexData && rowData.mutexData?.length > 0">
                           <span  *ngFor="let symbols of rowData.mutexData">
                        <p-tag styleClass="p-mr-2" severity="warning" value="{{symbols.value || '-'}}"></p-tag>
                    </span>
                          </span>
                      <span *ngIf="!rowData.mutexData && rowData.mutexData?.length === 0">-</span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </p-tabPanel>
          <p-tabPanel leftIcon="pi pi-search" header="Paths" tooltip="Paths"
                      *ngIf="details?.paths && details?.paths?.length>0">
            <h3>Paths</h3>
            <div class="table-responsive table"
                 *ngIf="details?.paths && details?.paths?.length>0">
              <p-table styleClass="p-datatable-customers p-datatable-gridlines app-table"  [value]="details?.paths" [paginator]="true"
                       [showCurrentPageReport]="true"
                       currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                       [rows]="10">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th> Dates</th>
                    <th> Domains</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td [pTooltip]="rowData.date">{{rowData.date || "--"}}</td>
                    <td>
                          <span *ngIf="rowData.pathData && rowData.pathData?.length > 0">
                        <span  *ngFor="let symbols of rowData.pathData">
                        <p-tag styleClass="p-mr-2" severity="warning" value="{{symbols.value || '-'}}"></p-tag>
                    </span>
                          </span>
                      <span *ngIf="!rowData.pathData && rowData.pathData?.length === 0">-</span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </p-tabPanel>
          <p-tabPanel leftIcon="pi pi-search" header="Process" tooltip="Process"
                      *ngIf="details?.process && details?.process?.length>0">
            <h3>Process</h3>
            <div class="table-responsive table"
                 *ngIf="details?.process && details?.process?.length>0">
              <p-table styleClass="p-datatable-customers p-datatable-gridlines app-table"  [value]="details?.process"
                       [showCurrentPageReport]="true"
                       currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                       [paginator]="true" [rows]="10">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th> Dates</th>
                    <th> Domains</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td [pTooltip]="rowData.date">{{rowData.date || "--"}}</td>
                    <td>
                          <span *ngIf="rowData.processData && rowData.processData?.length > 0">
                      <span  *ngFor="let symbols of rowData.processData">
                        <p-tag styleClass="p-mr-2" severity="warning" value="{{symbols.value || '-'}}"></p-tag>
                    </span>
                          </span>
                      <span *ngIf="!rowData.processData && rowData.processData?.length === 0">-</span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </p-tabPanel>
          <p-tabPanel leftIcon="pi pi-search" header="Registries" tooltip="Registries"
                      *ngIf="details?.registries && details?.registries?.length>0">
            <h3>Registries</h3>
            <div class="table-responsive table"
                 *ngIf="details?.registries && details?.registries?.length>0">
              <p-table styleClass="p-datatable-customers p-datatable-gridlines app-table" [value]="details?.registries"
                       [showCurrentPageReport]="true"
                       currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                       [paginator]="true" [rows]="10">
                <ng-template pTemplate="header" let-columns>
                  <tr>
                    <th> Dates</th>
                    <th> Domains</th>
                  </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                  <tr>
                    <td [pTooltip]="rowData.date">{{rowData.date || "--"}}</td>
                    <td>
                          <span *ngIf="rowData.registryData && rowData.registryData?.length > 0">
                       <span  *ngFor="let symbols of rowData.registryData">
                        <p-tag styleClass="p-mr-2" severity="warning" value="{{symbols.value || '-'}}"></p-tag>
                    </span>
                          </span>
                      <span *ngIf="!rowData.registryData && rowData.registryData?.length === 0">-</span>
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </p-tabPanel>
        </p-tabView>
        <p-card *ngIf="details?.iocs && details?.iocs.length > 0">
          <p-accordion [multiple]="true">
            <p-accordionTab header="IoC" [selected]="true">

              <p-accordionTab header="Files" *ngIf="hashes && hashes.length > 0">
                <p-accordionTab *ngFor="let date of hashes | keyvalue" header="Date: {{date?.key}}">

                  <p-accordionTab styleClass="someStyleClass" style="width: 100%"
                                  *ngFor="let hash of date.value" header="Hash">
                    <div class="">
                      <div style="border: 1px solid #e5e8eb;" class="card-body  mt-3 mb-3">
                        <div style="border: none" class="card">
                          <div class="table-responsive" style="margin-bottom:0;">
                            <table class="app-table">
                              <tbody>
                              <tr>
                                <th>
                                  <b>Hash</b>
                                </th>
                                <td>
                                  <a (click)="search(hash.iocType.value, hash.value)"
                                  >
                                    {{hash?.value || 'Not Avalaible'}}
                                  </a>
                                </td>
                              </tr>
                              <tr>
                                <th>
                                  <b>SHA256</b>
                                </th>
                                <td>
                                  {{hash?.sha256 || 'Not Avalaible'}}
                                </td>
                              </tr>
                              <tr>
                                <th>
                                  <b>SHA1</b>
                                </th>
                                <td>
                                  {{hash?.sha1 || 'Not Avalaible'}}
                                </td>
                              </tr>
                              <tr>
                                <th>
                                  <b>MD5</b>
                                </th>
                                <td>
                                  {{hash?.md5 || 'Not Avalaible'}}
                                </td>
                              </tr>
                              <tr>
                                <th>
                                  <b>File Description</b>
                                </th>
                                <td>
                                  {{hash?.fileDescription || 'Not Avalaible'}}
                                </td>
                              </tr>
                              <tr>
                                <th>
                                  <b>File Type</b>
                                </th>
                                <td>
                                  {{hash?.fileType || 'Not Avalaible'}}
                                </td>
                              </tr>
                              <tr>
                                <th>
                                  <b>Malware Signature/Type</b>
                                </th>
                                <td>
                                  {{hash?.malwareSignatureType || 'Not Avalaible'}}
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>

                  </p-accordionTab>
                </p-accordionTab>
              </p-accordionTab>
              <p-accordionTab header="Process Name"*ngIf="process && process.length > 0">
                <p-accordionTab *ngFor="let date of process | keyvalue" header="Date: {{date?.key}}">
                  <div class="">
                    <div style="border: 1px solid #e5e8eb;" class="card-body  mt-3 mb-3">
                      <div style="border: none" class="card">

                        <div class="table-responsive" style="margin-bottom:0;">
                          <table class="app-table">
                            <tbody>
                            <tr *ngFor="let element of date.value">
                              <th><b>Process Name</b></th>
                              <td>
                                        <span>
                                               {{element?.value || 'Not Avalaible'}}
                                        </span>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </div>

                      </div>
                    </div>
                  </div>

                </p-accordionTab>
              </p-accordionTab>
              <p-accordionTab header="DNS"*ngIf="domains && domains.length > 0">
                <p-accordionTab *ngFor="let date of domains | keyvalue" header="Date: {{date?.key}}">
                  <div class="">
                    <div style="border: 1px solid #e5e8eb;" class="card-body  mt-3 mb-3">
                      <div style="border: none" class="card">

                        <div class="table-responsive" style="margin-bottom:0;">
                          <table class="app-table">
                            <tbody>
                            <tr *ngFor="let element of date.value">
                              <th><b>Domain</b></th>
                              <td>
                                <a (click)="search(element.iocType.value, element.value)"
                                >
                                  {{element?.value || 'Not Avalaible'}}
                                </a>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </div>

                      </div>
                    </div>
                  </div>

                </p-accordionTab>
              </p-accordionTab>
              <p-accordionTab header="IP Addresses" *ngIf="ips && ips.length > 0">
                <p-accordionTab *ngFor="let date of ips | keyvalue" header="Date: {{date?.key}}">
                  <div class="">
                    <div style="border: 1px solid #e5e8eb;" class="card-body  mt-3 mb-3">
                      <div style="border: none" class="card">

                        <div class="table-responsive" style="margin-bottom:0;">
                          <table class="app-table">
                            <tbody>
                            <tr *ngFor="let element of date.value">
                              <th><b>IP</b></th>
                              <td>
                                <a (click)="search(element.iocType.value, element.value)"
                                >
                                  {{element?.value || 'Not Avalaible'}}
                                </a>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </div>

                      </div>
                    </div>
                  </div>

                </p-accordionTab>
              </p-accordionTab>
              <p-accordionTab header="HTTP Request"*ngIf="urls && urls.length > 0">
                <p-accordionTab *ngFor="let date of urls | keyvalue" header="Date: {{date?.key}}">
                  <div class="">
                    <div style="border: 1px solid #e5e8eb;" class="card-body  mt-3 mb-3">
                      <div style="border: none" class="card">

                        <div class="table-responsive" style="margin-bottom:0;">
                          <table class="app-table">
                            <tbody>
                            <tr *ngFor="let element of date.value">
                              <th><b>URL</b></th>
                              <td>
                                <a (click)="search(element.iocType.value, element.value)"
                                >
                                  {{element?.value || 'Not Avalaible'}}
                                </a>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </div>

                      </div>
                    </div>
                  </div>

                </p-accordionTab>
              </p-accordionTab>
              <p-accordionTab header="Registeries"*ngIf="registries && registries.length > 0">
                <p-accordionTab *ngFor="let date of registries | keyvalue" header="Date: {{date?.key}}">
                  <div class="">
                    <div style="border: 1px solid #e5e8eb;" class="card-body  mt-3 mb-3">
                      <div style="border: none" class="card">

                        <div class="table-responsive" style="margin-bottom:0;">
                          <table class="app-table">
                            <tbody>
                            <tr *ngFor="let element of date.value">
                              <th><b>Registry</b></th>
                              <td>
                                        <span>
                                               {{element?.value || 'Not Avalaible'}}
                                        </span>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </div>

                      </div>
                    </div>
                  </div>

                </p-accordionTab>
              </p-accordionTab>
              <p-accordionTab header="Mutex"*ngIf="mutexes && mutexes.length > 0">
                <p-accordionTab *ngFor="let date of mutexes | keyvalue" header="Date: {{date?.key}}">
                  <div class="">
                    <div style="border: 1px solid #e5e8eb;" class="card-body  mt-3 mb-3">
                      <div style="border: none" class="card">

                        <div class="table-responsive" style="margin-bottom:0;">
                          <table class="app-table">
                            <tbody>
                            <tr *ngFor="let element of date.value">
                              <th><b>Mutex</b></th>
                              <td>
                                        <span>
                                               {{element?.value || 'Not Avalaible'}}
                                        </span>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </div>

                      </div>
                    </div>
                  </div>

                </p-accordionTab>
              </p-accordionTab>
              <p-accordionTab header="File Path"*ngIf="paths && paths.length > 0">
                <p-accordionTab *ngFor="let date of paths | keyvalue" header="Date: {{date?.key}}">
                  <div class="">
                    <div style="border: 1px solid #e5e8eb;" class="card-body  mt-3 mb-3">
                      <div style="border: none" class="card">

                        <div class="table-responsive" style="margin-bottom:0;">
                          <table class="app-table">
                            <tbody>
                            <tr *ngFor="let element of date.value">
                              <th><b>Path</b></th>
                              <td>
                                        <span>
                                               {{element?.value || 'Not Avalaible'}}
                                        </span>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </div>

                      </div>
                    </div>
                  </div>

                </p-accordionTab>
              </p-accordionTab>

              <p-accordionTab header="File Name"*ngIf="fileName && fileName.length > 0">
                <p-accordionTab *ngFor="let date of fileName | keyvalue" header="Date: {{date?.key}}">
                  <div class="">
                    <div style="border: 1px solid #e5e8eb;" class="card-body  mt-3 mb-3">
                      <div style="border: none" class="card">

                        <div class="table-responsive" style="margin-bottom:0;">
                          <table class="app-table">
                            <tbody>
                            <tr *ngFor="let element of date.value">
                              <th><b>File</b></th>
                              <td>
                                        <span>
                                               {{element?.value || 'Not Avalaible'}}
                                        </span>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </div>

                      </div>
                    </div>
                  </div>

                </p-accordionTab>
              </p-accordionTab>
              <p-accordionTab header="Hostname"*ngIf="hostName && hostName.length > 0">
                <p-accordionTab *ngFor="let date of hostName | keyvalue" header="Date: {{date?.key}}">
                  <div class="">
                    <div style="border: 1px solid #e5e8eb;" class="card-body  mt-3 mb-3">
                      <div style="border: none" class="card">

                        <div class="table-responsive" style="margin-bottom:0;">
                          <table class="app-table">
                            <tbody>
                            <tr *ngFor="let element of date.value">
                              <th><b>Hostname</b></th>
                              <td>
                                <a (click)="search(element.iocType.value, element.value)"
                                >
                                  {{element?.value || 'Not Avalaible'}}
                                </a>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </div>

                      </div>
                    </div>
                  </div>

                </p-accordionTab>
              </p-accordionTab>
              <p-accordionTab header="Email"*ngIf="email && email.length > 0">
                <p-accordionTab *ngFor="let date of email | keyvalue" header="Date: {{date?.key}}">
                  <div class="">
                    <div style="border: 1px solid #e5e8eb;" class="card-body  mt-3 mb-3">
                      <div style="border: none" class="card">

                        <div class="table-responsive" style="margin-bottom:0;">
                          <table class="app-table">
                            <tbody>
                            <tr *ngFor="let element of date.value">
                              <th><b>Email</b></th>
                              <td>
                                <a (click)="search(element.iocType.value, element.value)"
                                >
                                  {{element?.value || 'Not Avalaible'}}
                                </a>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </div>

                      </div>
                    </div>
                  </div>

                </p-accordionTab>
              </p-accordionTab>
              <p-accordionTab header="CVE"*ngIf="cve && cve.length > 0">
                <p-accordionTab *ngFor="let date of cve | keyvalue" header="Date: {{date?.key}}">
                  <div class="">
                    <div style="border: 1px solid #e5e8eb;" class="card-body  mt-3 mb-3">
                      <div style="border: none" class="card">

                        <div class="table-responsive" style="margin-bottom:0;">
                          <table class="app-table">
                            <tbody>
                            <tr *ngFor="let element of date.value">
                              <th><b>CVE</b></th>
                              <td>
                                <a (click)="search(element.iocType.value, element.value)"
                                >
                                  {{element?.value || 'Not Avalaible'}}
                                </a>
                              </td>
                            </tr>
                            </tbody>
                          </table>
                        </div>

                      </div>
                    </div>
                  </div>

                </p-accordionTab>
              </p-accordionTab>
            </p-accordionTab>

          </p-accordion>
        </p-card>
      <div *ngIf="!showTable">
            <div class="row">
              <div class="col-sm-12 col-xs-12 col-md-12">
                <div class="panel panel-default">
                  <p class="msg-dashBoard"> No Record Found </p>
                </div>
              </div>
            </div>

      </div>
    </p-card>
  </div>
</div>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
