<div class="p-grid">
  <div class="p-col">
      <p-breadcrumb [model]="breadCrumbs"></p-breadcrumb>
    <p-card header="Group Details">
        <ngx-spinner name="aptgroups-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
                     type="ball-clip-rotate"
                     [fullScreen]="true"><p> Loading... </p></ngx-spinner>
        <div class="p-d-flex p-justify-end p-align-center">


            <button *ngIf="showRole" class="p-button p-component ng-star-inserted w-auto p-mt-3" type="button"
                    (click)="updateGroups(alertId)">
                <span class="p-button-label">Edit</span>
            </button>

            <button *ngIf="showRole"  class="p-button p-component ng-star-inserted w-auto p-mt-3 p-ml-1" type="button"
                    (click)="deleteGroups(alertId)">
                <span class="p-button-label">Delete</span>
            </button>

            <button class="p-button p-component ng-star-inserted w-auto p-mt-3 p-ml-1" type="button"
                    (click)="downloadProfile(details?.groupName, details)">
                <span class="p-button-label"><i class="pi pi-spin pi-spinner" style="font-size: 1em" *ngIf="export_reporting"></i> Download Profile</span>
            </button>

            <button class="p-button p-component ng-star-inserted w-auto p-mt-3 p-ml-1" type="button"
                    (click)="onNoClick()">
                <span class="p-button-label">Back</span>
            </button>

        </div>

        <table class="app-table">
            <tr *ngIf="details?.groupName">
                <td width="100">
                    <b>Group Name:</b>

                </td>
                <td>
                    {{details?.groupName}}
                </td>
            </tr>
            <tr *ngIf="details?.mitreName">
                <td>
                    <b>MITRE Name:</b>
                </td>
                <td>
                    {{details?.mitreName}}
                </td>
            </tr>
            <tr *ngIf="details?.aliases && details?.aliases.length > 0">
                <td>
                    <b>Alias: </b>
                </td>
                <td>
                    <span  *ngFor="let symbols of details?.aliases">
                        <p-tag styleClass="p-mr-2" severity="warning" value="{{symbols.value || '-'}}"></p-tag>
                    </span>
                </td>
            </tr>
            <tr *ngIf="details?.summary">
                <td>
                    <b>Summary: </b>
                </td>
                <td>
                    {{details?.summary}}
                </td>
            </tr>
            <tr *ngIf="details?.sectors && details?.sectors.length>0">
                <td>
                    <b>Sectors: </b>
                </td>
                <td>
                    <span *ngFor="let symbols of details?.sectors" [pTooltip]="symbols.value" class="p-mr-3">
                      <img src="../../../assets/icons/{{symbols?.value}}.svg">
                    </span>
                </td>
            </tr>
        </table>

        <p-card header="Countries:">
            <div  id="container1"></div>
        </p-card>
        <p-card *ngIf="details?.techniques && details?.techniques.length > 0">
            <p-accordion class="accordion" [multiple]="true">
                <p-accordionTab header="MITRE Attack Mapping" [selected]="true">

                    <p-accordionTab header="Reconnaissance" *ngIf="mitreReconnaissance && mitreReconnaissance.length > 0">
                        <div class="">
                            <div style="border: 1px solid #e5e8eb;" class="card-body  mt-3 mb-3"  *ngFor="let symbols of mitreReconnaissance">
                                <div style="border: none" class="card">
                                    <div class="table-responsive" style="margin-bottom:0;">
                                        <table class="app-table">
                                            <tbody>
                                            <tr>
                                                <th>
                                                    <b>Technique ID</b>
                                                </th>
                                                <td>
                                           <span >
                                               {{symbols.techniqueId || 'Not Avalaible'}}
                                        </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <b>Technique Name</b>
                                                </th>
                                                <td>
                                                    {{symbols?.name || 'Not Avalaible'}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <b>Technique Description</b>
                                                </th>
                                                <td>
                                                    {{symbols?.description || 'Not Avalaible'}}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </p-accordionTab>
                    <p-accordionTab header="Resource Development" *ngIf="mitreResourceDevelopment && mitreResourceDevelopment.length > 0">
                        <div class="">
                            <div style="border: 1px solid #e5e8eb;" class="card-body  mt-3 mb-3"  *ngFor="let symbols of mitreResourceDevelopment">
                                <div style="border: none" class="card">
                                    <div class="table-responsive" style="margin-bottom:0;">
                                        <table class="app-table">
                                            <tbody>
                                            <tr>
                                                <th>
                                                    <b>Technique ID</b>
                                                </th>
                                                <td>
                                           <span >
                                               {{symbols.techniqueId || 'Not Avalaible'}}
                                        </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <b>Technique Name</b>
                                                </th>
                                                <td>
                                                    {{symbols?.name || 'Not Avalaible'}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <b>Technique Description</b>
                                                </th>
                                                <td>
                                                    {{symbols?.description || 'Not Avalaible'}}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </p-accordionTab>

                    <p-accordionTab header="Initial Access" *ngIf="mitreInitial && mitreInitial.length > 0">
                        <div class="">
                            <div style="border: 1px solid #e5e8eb;" class="card-body  mt-3 mb-3"  *ngFor="let symbols of mitreInitial">
                                <div style="border: none" class="card">
                                    <div class="table-responsive" style="margin-bottom:0;">
                                        <table class="app-table">
                                            <tbody>
                                            <tr>
                                                <th>
                                                    <b>Technique ID</b>
                                                </th>
                                                <td>
                                           <span >
                                               {{symbols.techniqueId || 'Not Avalaible'}}
                                        </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <b>Technique Name</b>
                                                </th>
                                                <td>
                                                    {{symbols?.name || 'Not Avalaible'}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <b>Technique Description</b>
                                                </th>
                                                <td>
                                                    {{symbols?.description || 'Not Avalaible'}}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </p-accordionTab>
                    <p-accordionTab header="Execution"  *ngIf="mitreExecution && mitreExecution.length > 0">
                        <div class="">
                            <div style="border: 1px solid #e5e8eb;" class="card-body  mt-3 mb-3"  *ngFor="let symbols of mitreExecution">
                                <div style="border: none" class="card">
                                    <div class="table-responsive" style="margin-bottom:0;">
                                        <table class="app-table">
                                            <tbody>
                                            <tr>
                                                <th>
                                                    <b>Technique ID</b>
                                                </th>
                                                <td>
                                           <span >
                                               {{symbols.techniqueId || 'Not Avalaible'}}
                                        </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <b>Technique Name</b>
                                                </th>
                                                <td>
                                                    {{symbols?.name || 'Not Avalaible'}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <b>Technique Description</b>
                                                </th>
                                                <td>
                                                    {{symbols?.description || 'Not Avalaible'}}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </p-accordionTab>
                    <p-accordionTab header="Persistence" *ngIf="mitrePersistence && mitrePersistence.length > 0">
                        <div class="">
                            <div style="border: 1px solid #e5e8eb;" class="card-body  mt-3 mb-3"  *ngFor="let symbols of mitrePersistence">
                                <div style="border: none" class="card">
                                    <div class="table-responsive" style="margin-bottom:0;">
                                        <table class="app-table">
                                            <tbody>
                                            <tr>
                                                <th>
                                                    <b>Technique ID</b>
                                                </th>
                                                <td>
                                           <span >
                                               {{symbols.techniqueId || 'Not Avalaible'}}
                                        </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <b>Technique Name</b>
                                                </th>
                                                <td>
                                                    {{symbols?.name || 'Not Avalaible'}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <b>Technique Description</b>
                                                </th>
                                                <td>
                                                    {{symbols?.description || 'Not Avalaible'}}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </p-accordionTab>
                    <p-accordionTab header="Privilege Escalation"
                                    *ngIf="mitrePrivilegeEscalation && mitrePrivilegeEscalation.length > 0">
                        <div class="">
                            <div style="border: 1px solid #e5e8eb;" class="card-body  mt-3 mb-3"  *ngFor="let symbols of mitrePrivilegeEscalation">
                                <div style="border: none" class="card">
                                    <div class="table-responsive" style="margin-bottom:0;">
                                        <table class="app-table">
                                            <tbody>
                                            <tr>
                                                <th>
                                                    <b>Technique ID</b>
                                                </th>
                                                <td>
                                           <span >
                                               {{symbols.techniqueId || 'Not Avalaible'}}
                                        </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <b>Technique Name</b>
                                                </th>
                                                <td>
                                                    {{symbols?.name || 'Not Avalaible'}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <b>Technique Description</b>
                                                </th>
                                                <td>
                                                    {{symbols?.description || 'Not Avalaible'}}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </p-accordionTab>
                    <p-accordionTab header="Defence Evasion"  *ngIf="mitreDefenseEvasion && mitreDefenseEvasion.length > 0">
                        <div class="">
                            <div style="border: 1px solid #e5e8eb;" class="card-body  mt-3 mb-3"  *ngFor="let symbols of mitreDefenseEvasion">
                                <div style="border: none" class="card">
                                    <div class="table-responsive" style="margin-bottom:0;">
                                        <table class="app-table">
                                            <tbody>
                                            <tr>
                                                <th>
                                                    <b>Technique ID</b>
                                                </th>
                                                <td>
                                           <span >
                                               {{symbols.techniqueId || 'Not Avalaible'}}
                                        </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <b>Technique Name</b>
                                                </th>
                                                <td>
                                                    {{symbols?.name || 'Not Avalaible'}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <b>Technique Description</b>
                                                </th>
                                                <td>
                                                    {{symbols?.description || 'Not Avalaible'}}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </p-accordionTab>
                    <p-accordionTab header="Credential Access"
                                    *ngIf="mitreCredentialAccess && mitreCredentialAccess.length > 0">
                        <div class="">
                            <div style="border: 1px solid #e5e8eb;" class="card-body  mt-3 mb-3"  *ngFor="let symbols of mitreCredentialAccess">
                                <div style="border: none" class="card">
                                    <div class="table-responsive" style="margin-bottom:0;">
                                        <table class="app-table">
                                            <tbody>
                                            <tr>
                                                <th>
                                                    <b>Technique ID</b>
                                                </th>
                                                <td>
                                           <span >
                                               {{symbols.techniqueId || 'Not Avalaible'}}
                                        </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <b>Technique Name</b>
                                                </th>
                                                <td>
                                                    {{symbols?.name || 'Not Avalaible'}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <b>Technique Description</b>
                                                </th>
                                                <td>
                                                    {{symbols?.description || 'Not Avalaible'}}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </p-accordionTab>
                    <p-accordionTab header="Discovery" *ngIf="mitreDiscovery && mitreDiscovery.length > 0">
                        <div class="">
                            <div style="border: 1px solid #e5e8eb;" class="card-body  mt-3 mb-3"  *ngFor="let symbols of mitreDiscovery">
                                <div style="border: none" class="card">
                                    <div class="table-responsive" style="margin-bottom:0;">
                                        <table class="app-table">
                                            <tbody>
                                            <tr>
                                                <th>
                                                    <b>Technique ID</b>
                                                </th>
                                                <td>
                                           <span >
                                               {{symbols.techniqueId || 'Not Avalaible'}}
                                        </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <b>Technique Name</b>
                                                </th>
                                                <td>
                                                    {{symbols?.name || 'Not Avalaible'}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <b>Technique Description</b>
                                                </th>
                                                <td>
                                                    {{symbols?.description || 'Not Avalaible'}}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </p-accordionTab>
                    <p-accordionTab header="Lateral Movement" *ngIf="mitreLateralMovement && mitreLateralMovement.length > 0">
                        <div class="">
                            <div style="border: 1px solid #e5e8eb;" class="card-body  mt-3 mb-3"  *ngFor="let symbols of mitreLateralMovement">
                                <div style="border: none" class="card">
                                    <div class="table-responsive" style="margin-bottom:0;">
                                        <table class="app-table">
                                            <tbody>
                                            <tr>
                                                <th>
                                                    <b>Technique ID</b>
                                                </th>
                                                <td>
                                           <span >
                                               {{symbols.techniqueId || 'Not Avalaible'}}
                                        </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <b>Technique Name</b>
                                                </th>
                                                <td>
                                                    {{symbols?.name || 'Not Avalaible'}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <b>Technique Description</b>
                                                </th>
                                                <td>
                                                    {{symbols?.description || 'Not Avalaible'}}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </p-accordionTab>
                    <p-accordionTab header="Collection" *ngIf="mitreCollection && mitreCollection.length > 0">
                        <div class="">
                            <div style="border: 1px solid #e5e8eb;" class="card-body  mt-3 mb-3"  *ngFor="let symbols of mitreCollection">
                                <div style="border: none" class="card">
                                    <div class="table-responsive" style="margin-bottom:0;">
                                        <table class="app-table">
                                            <tbody>
                                            <tr>
                                                <th>
                                                    <b>Technique ID</b>
                                                </th>
                                                <td>
                                           <span >
                                               {{symbols.techniqueId || 'Not Avalaible'}}
                                        </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <b>Technique Name</b>
                                                </th>
                                                <td>
                                                    {{symbols?.name || 'Not Avalaible'}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <b>Technique Description</b>
                                                </th>
                                                <td>
                                                    {{symbols?.description || 'Not Avalaible'}}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </p-accordionTab>
                    <p-accordionTab header="Command and Control" *ngIf="mitreCommandAndControl && mitreCommandAndControl.length > 0">
                        <div class="">
                            <div style="border: 1px solid #e5e8eb;" class="card-body  mt-3 mb-3"  *ngFor="let symbols of mitreCommandAndControl">
                                <div style="border: none" class="card">
                                    <div class="table-responsive" style="margin-bottom:0;">
                                        <table class="app-table">
                                            <tbody>
                                            <tr>
                                                <th>
                                                    <b>Technique ID</b>
                                                </th>
                                                <td>
                                           <span >
                                               {{symbols.techniqueId || 'Not Avalaible'}}
                                        </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <b>Technique Name</b>
                                                </th>
                                                <td>
                                                    {{symbols?.name || 'Not Avalaible'}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <b>Technique Description</b>
                                                </th>
                                                <td>
                                                    {{symbols?.description || 'Not Avalaible'}}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </p-accordionTab>
                    <p-accordionTab header="Exfiltration" *ngIf="mitreExfiltration && mitreExfiltration.length > 0">
                        <div class="">
                            <div style="border: 1px solid #e5e8eb;" class="card-body  mt-3 mb-3"  *ngFor="let symbols of mitreExfiltration">
                                <div style="border: none" class="card">
                                    <div class="table-responsive" style="margin-bottom:0;">
                                        <table class="app-table">
                                            <tbody>
                                            <tr>
                                                <th>
                                                    <b>Technique ID</b>
                                                </th>
                                                <td>
                                           <span >
                                               {{symbols.techniqueId || 'Not Avalaible'}}
                                        </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <b>Technique Name</b>
                                                </th>
                                                <td>
                                                    {{symbols?.name || 'Not Avalaible'}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <b>Technique Description</b>
                                                </th>
                                                <td>
                                                    {{symbols?.description || 'Not Avalaible'}}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </p-accordionTab>
                    <p-accordionTab header="Impact"  *ngIf="mitreImpact && mitreImpact.length > 0">
                        <div class="">
                            <div style="border: 1px solid #e5e8eb;" class="card-body  mt-3 mb-3"  *ngFor="let symbols of mitreImpact">
                                <div style="border: none" class="card">
                                    <div class="table-responsive" style="margin-bottom:0;">
                                        <table class="app-table">
                                            <tbody>
                                            <tr>
                                                <th>
                                                    <b>Technique ID</b>
                                                </th>
                                                <td>
                                           <span >
                                               {{symbols.techniqueId || 'Not Avalaible'}}
                                        </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <b>Technique Name</b>
                                                </th>
                                                <td>
                                                    {{symbols?.name || 'Not Avalaible'}}
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>
                                                    <b>Technique Description</b>
                                                </th>
                                                <td>
                                                    {{symbols?.description || 'Not Avalaible'}}
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </p-accordionTab>
                </p-accordionTab>

            </p-accordion>
        </p-card>

        <br>
        <span *ngIf="details?.attackCampaigns && details?.attackCampaigns.length>0"><h3>Attacks/Campaigns</h3></span>
        <div class="table-responsive table"
             *ngIf="details?.attackCampaigns && details?.attackCampaigns.length>0">
            <p-table [value]="details?.attackCampaigns" [paginator]="true"
                     [showCurrentPageReport]="true"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} records"
                     [rows]="10"
                     styleClass="p-datatable-customers p-datatable-gridlines app-table">
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th> Attack/Campaign</th>
                        <th> Associated Indicators</th>
                        <th> Sectors</th>
                        <th> Countries</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData let-columns="columns">
                    <tr>
                        <td>
                            <a [pTooltip]="rowData.caseName" tooltipPosition="top" (click)="viewAttackCampaign(rowData.id)">  {{rowData.caseName || "--"}}</a>
                        <td>
                            <span [pTooltip]="rowData.associatedIndicators" tooltipPosition="top">{{rowData.associatedIndicators || "--"}}</span>
                        </td>
                        <td>
                                 <span  *ngFor="let symbols of rowData.sectors" [pTooltip]="symbols?.value" class="p-mr-3">
                                    <img src="../../../assets/icons/{{symbols?.value}}.svg">
                    </span>
                        </td>
                        <td>
                                 <span *ngFor="let symbols of rowData.countries">
                        <p-tag styleClass="p-mr-2" severity="warning" value="{{symbols.countryName || '-'}}"></p-tag>
                    </span>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div *ngIf="!showTable">
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-12">
                    <div class="panel panel-default">
                        <p class="msg-dashBoard p-text-center"> No Record Found </p>
                    </div>
                </div>
            </div>

        </div>
    </p-card>
  </div>
</div>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
