//
//@import "variables";
//#container1 {  width: 785px; height: 496px; position: relative; margin: auto; }
//
//.red-star {
//  color: red;
//}
//.p-error {
//  color: red;
//}
//.p-button {
//  width: 130px;
//  margin: 5px;
//}
//.block-div {
//  display: inline-flex;
//}
//.form-add {
//  float: right;
//}
//
//.login-form {
//  width: 340px;
//  margin: 130px auto;
//}
//.login-form form {
//  margin-bottom: 15px;
//  background: rgba(255,255,255,0.7);
//  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
//  padding: 30px;
//}
//.login-form h2 {
//  margin: 0 0 15px;
//}
//.form-control {
//  min-height: 38px;
//  border-radius: 2px;
//  font-size: 14px;
//}
//.input-group-addon .fa {
//  font-size: 18px;
//}
//.btn {
//  text-transform: capitalize;
//}
//td th {
//  justify-content: center;
//  text-align: center;
//}
//.msg-dashBoard {
//  font-size: $primary-font-size;
//  font-weight: $font-bold;
//  background: $orange;
//  color: $white;
//  display: block;
//  padding: 11px;
//  text-align: center;
//  margin: 13px 0 0;
//}
///*:host ::ng-deep button {*/
///*margin-right: .25em;*/
///*}*/
//
///*:host ::ng-deep .custom-toast .ui-toast-message {*/
///*color: #ffffff;*/
///*background: #FC466B;*/
///*background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);*/
///*background: linear-gradient(to right, #3F5EFB, #FC466B);*/
///*}*/
//
///*:host ::ng-deep .custom-toast .ui-toast-close-icon {*/
///*color: #ffffff;*/
///*}*/
//.switch {
//  margin-top: 7px;
//  width: 150px;
//  text-align: right;
//  margin-right: 20px;
//
//span {
//  top: 6px !important;
//}
//
//}
//.label-danger {
//  background: #dc3545;
//  padding: 2px 4px;
//  vertical-align: middle;
//  border-radius: 3px;
//  color: #fff;
//  font-weight: 700;
//  font-size: 11px;
//  position: relative;
//  top: 1px;
//  float: left;
//}
//.label-success {
//  background: green;
//  padding: 2px 4px;
//  vertical-align: middle;
//  border-radius: 3px;
//  color: #fff;
//  font-weight: 700;
//  font-size: 11px;
//  position: relative;
//  top: 1px;
//  float: left;
//}
//::ng-deep .p-datatable-wrapper {
//  margin-top: 20px;
//}
//::ng-deep .p-input-icon-left {
//
//i {
//  left: 0.8rem;
//  top: 1.7rem;
//}
//
//input {
//  padding: 0.9rem 0.8rem 0.8rem 1.8rem;
//  border: 1px solid $black-20;
//  border-radius: 5px;
//  font-family: $font-stack;
//  font-size: $primary-font-size;
//  color: $primary-color;
//  height: 47px;
//
//&:hover, &:focus {
//            outline: none;
//            border: 1px solid $black-50;
//          }
//
//}
//
//}
//
//::ng-deep .onRowClick {
//
//.pi {
//  margin-right: 7px;
//  cursor: pointer;
//  font-size: $font-15;
//}
//
//}
//.filter-gray {
//  filter: grayscale(100%);
//}
//.switch {
//  margin-top: 7px;
//  width: 150px;
//  text-align: right;
//  margin-right: 20px;
//
//span {
//  top: 6px !important;
//}
//
//}
//::ng-deep .user-list {
//.app-table {
//  overflow-x: hidden;
//  width: 100%;
//}
//.p-datatable-wrapper {
//  overflow-x: auto;
//
//table {
//  min-width: 1600px;
//}
//
//}
//}
//
//::ng-deep app-apt-groups .p-accordion-tab {
//  padding: 10px 0;
//
//  .card-body {
//    margin-top: 15px;
//
//    th {
//      width: 20% !important;
//      padding: 0.75rem !important;
//    }
//
//    tr:last-child {
//      td, th {
//        border:0 !important;
//      }
//    }
//
//  }
//
//}
//
