#container1 {  width: 940px; height: 740px; position: relative; margin: auto; }
#container2 {  width: 940px; height: 740px; position: relative; margin: auto; }
select {
  max-height: 50px;
  overflow-y: scroll;
}

.mainActivities {
  height: 538px;
  max-width: 246px;
  min-width: 246px;
  overflow-y: auto;
  position: absolute;
  top:0;
  right:0;
}

.recent-blocks {
  position: relative;
  /* border-left: 1px solid #000000; */
  padding-left: 10px;
  margin-bottom: 10px;
}
.recent-blocks::before {
   /* content: ''; */
   position: absolute;
   bottom: 0;
   left: 0;
   width: 9px;
   height: 9px;
   margin-left: -5px;
   background-color: #000000;
   border-color: inherit;
   border-style: solid;
   border-width: 1px;
   border-radius: 10px;
 }
.recent-blocks::after {
   /* content: ''; */
   position: absolute;
   left: 0;
   top: 8px;
   width: 9px;
   height: 9px;
   margin-left: -5px;
   background-color: #000000;
   border: 1px solid inherit;
   border-radius: 10px;
 }


.country-dropdown {
  width:180px;
}
.source-dest {
  margin-left: 10px;
  margin-top:-30px;
}


