<div class="p-grid">
  <div class="p-col">
      <p-breadcrumb [model]="breadCrumbs"></p-breadcrumb>
    <p-card header="Create Group">
        <ngx-spinner name="creategroup-spinner" bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff"
                   type="ball-clip-rotate"
                   [fullScreen]="true"><p> Loading... </p></ngx-spinner>
      <form [formGroup]="createGroupForm" (ngSubmit)="onSubmit()">
          <div class="p-field">
        <label type="text" class="col-form-label"><span class="red-star">*</span> Group Name:</label>
        <input type="text" pInputText class="p-inputtext animation" formControlName="groupName"/>
        <div *ngIf="errorControl.groupName.errors">
          <span class="p-error" *ngIf="((errorControl.groupName.dirty || errorControl.groupName.touched) && errorControl.groupName.errors?.required && !errorControl.groupName.errors?.pattern && !submitNextOne)">
            Group Name is required
          </span>
          <span class="p-error" *ngIf="((submitNextOne) && errorControl.groupName.errors?.required && !errorControl.groupName.errors?.pattern)">
            Group Name is required
          </span>
        </div>
      </div>
          <div class="p-grid">
              <div class="p-col-12 p-md-4  p-field">
          <label type="text" class="col-form-label">MITRE Name:</label>
          <input type="text" pInputText class="p-inputtext animation" formControlName="mitreName"/>
        </div>
              <div class="p-col-12 p-md-8  p-field  p-fluid">
                <label type="text" class="col-form-label">Alias:</label>
                <p-chips  [addOnBlur]="true" [max]="25" [allowDuplicate]="false" formControlName="alias"
                    placeholder="Enter Alias"
                    (onAdd)="add($event)" (onRemove)="remove($event)"></p-chips>
            </div>
          </div>
          <div class="p-field">
          <label type="text" class="col-form-label">Summary:</label>
          <textarea type="text" pInputText class="p-inputtext animation" formControlName="summary"></textarea>
        </div>
          <div class="p-grid">

              <div class="p-col-12 p-md-6 p-field">
                  <label type="text" class="col-form-label">Sectors:</label>
                  <angular2-multiselect [data]="sectorResult"
                                        [settings]="settingsSector"
                                        formControlName="sectors">
                  </angular2-multiselect>
              </div>

              <div class="p-col-12 p-md-6 p-field">
                  <label type="text" class="col-form-label">Countries:</label>
                  <angular2-multiselect [data]="countryList"
                                        [settings]="settings"
                                        formControlName="regions">
                  </angular2-multiselect>
              </div>
          </div>
          <p-card header="MITRE Attack Mapping">
          <p-accordion class="accordion" [multiple]="true" (onOpen)="getTechnique($event)">
            <span class="btn btn-default btn-file">
              <input type="file" [attr.disabled]="file_loading ? '' : null" formControlName="filess"
                     class="form-control" accept=".csv" #file (change)="onFilesAdded()"
                     placeholder="Enter CSV file">
            <ngx-spinner  name="mitre-spinner" bdOpacity = 0.9 bdColor = "#f4f4f9" size = "medium" color = "#1010ee"
                          type = "ball-clip-rotate" [fullScreen] = "false"></ngx-spinner>
            </span>
            <p-accordionTab header="Reconnaissance" [selected]="reconopen">
              <div formArrayName="mitreReconnaissance" class="p-grid"
                   *ngFor="let unit of createGroupForm.get('mitreReconnaissance')['controls']; let createGroupIndex = index;">
                <div class="p-col "  [formGroupName]="createGroupIndex">
                      <div class="p-col-12">
                        <h3 class="form-add">
                            <span *ngIf="createGroupIndex===0 || createGroupIndex===createGroupForm.get('mitreReconnaissance')['controls'].length - 1"
                                  (click)="addMitreInitial('Reconnaissance')"> <i class="pi pi-plus"></i> </span>
                          <span *ngIf="createGroupIndex!=0" (click)="removeMitreInitial(createGroupIndex, 'Reconnaissance')"><i class="pi pi-times"></i>  </span>
                          <span *ngIf="createGroupIndex==0" (click)="removeMitreInitialZ(createGroupIndex, 'mitreReconnaissance')"> <i class="pi pi-times"></i>  </span>

                        </h3>
                      </div>
                  <div class="block-div p-col-12 p-p-0">
                    <div class="p-col-12 p-md-6 p-field p-fluid">
                      <label type="text" class="col-form-label">Technique ID</label>
                      <p-autoComplete formControlName="techniqueId"  [forceSelection]="true"
                                      id="validationCustoms2111"
                                      [suggestions]="techniqueIdResult" [dropdown]="true"
                                      (completeMethod)="searchTechniqueById($event, 0)"
                                      (onClear)="clear('mitreReconnaissance', createGroupIndex)"
                                      (ngModelChange)="patchMitreDetails(unit.controls, 'mitreReconnaissance', createGroupIndex, 'id')"
                      >
                        <ng-template let-techniqueId pTemplate="item">
                          {{techniqueId}}
                        </ng-template>
                      </p-autoComplete>
                      <div *ngIf="unit.controls.techniqueId.errors">
                        <span class="p-error" *ngIf="((unit.controls.techniqueId.dirty || unit.controls.techniqueId.touched) && unit.controls.techniqueId.errors?.required && !submitNextThree)">
                          Technique ID required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.techniqueId.errors?.required)">
                          Technique ID is required
                        </span>
                      </div>
                    </div>
                    <div class="p-col-12 p-md-6 p-field">
                      <label type="text" class="col-form-label">Technique Name</label>
                      <input formControlName="name" id="validationCustoms02121"
                             type="text" pInputText class="p-inputtext animation" readonly [disabled]="true"
                      >
                      <div *ngIf="unit.controls.name.errors">
                        <span class="p-error" *ngIf="((unit.controls.name.dirty || unit.controls.name.touched) && unit.controls.name.errors?.required && !submitNextThree)">
                          Technique Name is required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.name.errors?.required)">
                          Technique Name is required
                        </span>
                      </div>

                    </div>
                  </div>
                  <div class="p-col-12 p-md-12 p-field">
                    <label type="text" class="col-form-label">Description</label>
                      <textarea type="text" formControlName="description" id="validationCustom02222"
                                 pInputText class="p-inputtext animation"
                      ></textarea>
                      <div *ngIf="unit.controls.description.errors">
                        <span class="p-error" *ngIf="((unit.controls.description.dirty || unit.controls.description.touched) && unit.controls.description.errors?.required && !submitNextThree)">
                          Description is required
                        </span>
                        <span class="p-error" *ngIf="((submitNextThree) && unit.controls.description.errors?.required)">
                          Description is required
                        </span>
                      </div>


                    </div>
                  </div>
                </div>
            </p-accordionTab>
            <p-accordionTab header="Resource Development"  [selected]="resopen">
                <div formArrayName="mitreResourceDevelopment" class="p-grid"
                     *ngFor="let unit of createGroupForm.get('mitreResourceDevelopment')['controls']; let createGroupIndex = index;">
                    <div class="p-col "  [formGroupName]="createGroupIndex">
                        <div class="p-col-12">
                            <h3 class="form-add">
                            <span *ngIf="createGroupIndex===0 || createGroupIndex===createGroupForm.get('mitreResourceDevelopment')['controls'].length - 1"
                                  (click)="addMitreInitial('Resource Development')"> <i class="pi pi-plus"></i> </span>
                                <span *ngIf="createGroupIndex!=0" (click)="removeMitreInitial(createGroupIndex, 'Resource Development')"><i class="pi pi-times"></i>  </span>
                                <span *ngIf="createGroupIndex==0" (click)="removeMitreInitialZ(createGroupIndex, 'mitreResourceDevelopment')"> <i class="pi pi-times"></i>  </span>

                            </h3>
                        </div>
                        <div class="block-div p-col-12 p-p-0">
                            <div class="p-col-12 p-md-6 p-field">
                                <label type="text" class="col-form-label">Technique ID</label>
                                <p-autoComplete formControlName="techniqueId"  [forceSelection]="true"
                                                [suggestions]="techniqueIdResult" [dropdown]="true"
                                                (completeMethod)="searchTechniqueById($event, 1)"
                                                (onClear)="clear('mitreResourceDevelopment', createGroupIndex)"
                                                (ngModelChange)="patchMitreDetails(unit.controls, 'mitreResourceDevelopment', createGroupIndex, 'id')"
                                >
                                    <ng-template let-techniqueId pTemplate="item">
                                        {{techniqueId}}
                                    </ng-template>
                                </p-autoComplete>
                                <div *ngIf="unit.controls.techniqueId.errors">
                        <span class="p-error" *ngIf="((unit.controls.techniqueId.dirty || unit.controls.techniqueId.touched) && unit.controls.techniqueId.errors?.required && !submitNextThree)">
                          Technique ID required
                        </span>
                                    <span class="p-error" *ngIf="((submitNextThree) && unit.controls.techniqueId.errors?.required)">
                          Technique ID is required
                        </span>
                                </div>
                            </div>
                            <div class="p-col-12 p-md-6 p-field">
                                <label type="text" class="col-form-label">Technique Name</label>
                                <input formControlName="name" type="text" pInputText class="p-inputtext animation" readonly [disabled]="true"
                                >
                                <div *ngIf="unit.controls.name.errors">
                        <span class="p-error" *ngIf="((unit.controls.name.dirty || unit.controls.name.touched) && unit.controls.name.errors?.required && !submitNextThree)">
                          Technique Name is required
                        </span>
                                    <span class="p-error" *ngIf="((submitNextThree) && unit.controls.name.errors?.required)">
                          Technique Name is required
                        </span>
                                </div>

                            </div>
                        </div>
                        <div class="p-col-12 p-md-12 p-field">
                            <label type="text" class="col-form-label">Description</label>
                            <textarea type="text" formControlName="description"
                                       pInputText class="p-inputtext animation"
                            ></textarea>
                            <div *ngIf="unit.controls.description.errors">
                        <span class="p-error" *ngIf="((unit.controls.description.dirty || unit.controls.description.touched) && unit.controls.description.errors?.required && !submitNextThree)">
                          Description is required
                        </span>
                                <span class="p-error" *ngIf="((submitNextThree) && unit.controls.description.errors?.required)">
                          Description is required
                        </span>
                            </div>


                        </div>
                    </div>
                </div>
            </p-accordionTab>

            <p-accordionTab header="Initial Access"  [selected]="iaopen">
                <div formArrayName="mitreInitialAccess" class="p-grid"
                     *ngFor="let unit of createGroupForm.get('mitreInitialAccess')['controls']; let createGroupIndex = index;">
                    <div class="p-col "  [formGroupName]="createGroupIndex">
                        <div class="p-col-12">
                            <h3 class="form-add">
                            <span *ngIf="createGroupIndex===0 || createGroupIndex===createGroupForm.get('mitreInitialAccess')['controls'].length - 1"
                                  (click)="addMitreInitial('Initial Access')"> <i class="pi pi-plus"></i> </span>
                                <span *ngIf="createGroupIndex!=0" (click)="removeMitreInitial(createGroupIndex, 'Initial Access')"><i class="pi pi-times"></i>  </span>
                                <span *ngIf="createGroupIndex==0" (click)="removeMitreInitialZ(createGroupIndex, 'mitreInitialAccess')"> <i class="pi pi-times"></i>  </span>

                            </h3>
                        </div>
                        <div class="block-div p-col-12">
                            <div class="p-col-12 p-md-6 p-field">
                                <label type="text" class="col-form-label">Technique ID</label>
                                <p-autoComplete formControlName="techniqueId"  [forceSelection]="true"
                                                [suggestions]="techniqueIdResult" [dropdown]="true"
                                                (completeMethod)="searchTechniqueById($event, 2)"
                                                (onClear)="clear('mitreInitialAccess', createGroupIndex)"
                                                (ngModelChange)="patchMitreDetails(unit.controls, 'mitreInitialAccess', createGroupIndex, 'id')"
                                >
                                    <ng-template let-techniqueId pTemplate="item">
                                        {{techniqueId}}
                                    </ng-template>
                                </p-autoComplete>
                                <div *ngIf="unit.controls.techniqueId.errors">
                        <span class="p-error" *ngIf="((unit.controls.techniqueId.dirty || unit.controls.techniqueId.touched) && unit.controls.techniqueId.errors?.required && !submitNextThree)">
                          Technique ID required
                        </span>
                                    <span class="p-error" *ngIf="((submitNextThree) && unit.controls.techniqueId.errors?.required)">
                          Technique ID is required
                        </span>
                                </div>
                            </div>
                            <div class="p-col-12 p-md-6 p-field">
                                <label type="text" class="col-form-label">Technique Name</label>
                                <input formControlName="name" type="text" pInputText class="p-inputtext animation" readonly [disabled]="true"
                                >
                                <div *ngIf="unit.controls.name.errors">
                        <span class="p-error" *ngIf="((unit.controls.name.dirty || unit.controls.name.touched) && unit.controls.name.errors?.required && !submitNextThree)">
                          Technique Name is required
                        </span>
                                    <span class="p-error" *ngIf="((submitNextThree) && unit.controls.name.errors?.required)">
                          Technique Name is required
                        </span>
                                </div>

                            </div>
                        </div>
                        <div class="p-col-12 p-md-12 p-field">
                            <label type="text" class="col-form-label">Description</label>
                            <textarea type="text" formControlName="description"
                                       pInputText class="p-inputtext animation"
                            ></textarea>
                            <div *ngIf="unit.controls.description.errors">
                        <span class="p-error" *ngIf="((unit.controls.description.dirty || unit.controls.description.touched) && unit.controls.description.errors?.required && !submitNextThree)">
                          Description is required
                        </span>
                                <span class="p-error" *ngIf="((submitNextThree) && unit.controls.description.errors?.required)">
                          Description is required
                        </span>
                            </div>


                        </div>
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab header="Execution"  [selected]="exeopen">
                <div formArrayName="mitreExecution" class="p-grid"
                     *ngFor="let unit of createGroupForm.get('mitreExecution')['controls']; let createGroupIndex = index;">
                    <div class="p-col "  [formGroupName]="createGroupIndex">
                        <div class="p-col-12">
                            <h3 class="form-add">
                            <span *ngIf="createGroupIndex===0 || createGroupIndex===createGroupForm.get('mitreExecution')['controls'].length - 1"
                                  (click)="addMitreInitial('Execution')"> <i class="pi pi-plus"></i> </span>
                                <span *ngIf="createGroupIndex!=0" (click)="removeMitreInitial(createGroupIndex, 'Execution')"><i class="pi pi-times"></i>  </span>
                                <span *ngIf="createGroupIndex==0" (click)="removeMitreInitialZ(createGroupIndex, 'mitreExecution')"> <i class="pi pi-times"></i>  </span>

                            </h3>
                        </div>
                        <div class="block-div p-col-12">
                            <div class="p-col-12 p-md-6 p-field">
                                <label type="text" class="col-form-label">Technique ID</label>
                                <p-autoComplete formControlName="techniqueId"  [forceSelection]="true"
                                                [suggestions]="techniqueIdResult" [dropdown]="true"
                                                (completeMethod)="searchTechniqueById($event, 3)"
                                                (onClear)="clear('mitreExecution', createGroupIndex)"
                                                (ngModelChange)="patchMitreDetails(unit.controls, 'mitreExecution', createGroupIndex, 'id')"
                                >
                                    <ng-template let-techniqueId pTemplate="item">
                                        {{techniqueId}}
                                    </ng-template>
                                </p-autoComplete>
                                <div *ngIf="unit.controls.techniqueId.errors">
                        <span class="p-error" *ngIf="((unit.controls.techniqueId.dirty || unit.controls.techniqueId.touched) && unit.controls.techniqueId.errors?.required && !submitNextThree)">
                          Technique ID required
                        </span>
                                    <span class="p-error" *ngIf="((submitNextThree) && unit.controls.techniqueId.errors?.required)">
                          Technique ID is required
                        </span>
                                </div>
                            </div>
                            <div class="p-col-12 p-md-6 p-field">
                                <label type="text" class="col-form-label">Technique Name</label>
                                <input formControlName="name" type="text" pInputText class="p-inputtext animation" readonly [disabled]="true"
                                >
                                <div *ngIf="unit.controls.name.errors">
                        <span class="p-error" *ngIf="((unit.controls.name.dirty || unit.controls.name.touched) && unit.controls.name.errors?.required && !submitNextThree)">
                          Technique Name is required
                        </span>
                                    <span class="p-error" *ngIf="((submitNextThree) && unit.controls.name.errors?.required)">
                          Technique Name is required
                        </span>
                                </div>

                            </div>
                        </div>
                        <div class="p-col-12 p-md-12 p-field">
                            <label type="text" class="col-form-label">Description</label>
                            <textarea type="text" formControlName="description"
                                       pInputText class="p-inputtext animation"
                            ></textarea>
                            <div *ngIf="unit.controls.description.errors">
                        <span class="p-error" *ngIf="((unit.controls.description.dirty || unit.controls.description.touched) && unit.controls.description.errors?.required && !submitNextThree)">
                          Description is required
                        </span>
                                <span class="p-error" *ngIf="((submitNextThree) && unit.controls.description.errors?.required)">
                          Description is required
                        </span>
                            </div>


                        </div>
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab header="Persistence"  [selected]="persopen">
                <div formArrayName="mitrePersistence" class="p-grid"
                     *ngFor="let unit of createGroupForm.get('mitrePersistence')['controls']; let createGroupIndex = index;">
                    <div class="p-col "  [formGroupName]="createGroupIndex">
                        <div class="p-col-12">
                            <h3 class="form-add">
                            <span *ngIf="createGroupIndex===0 || createGroupIndex===createGroupForm.get('mitrePersistence')['controls'].length - 1"
                                  (click)="addMitreInitial('Persistence')"> <i class="pi pi-plus"></i> </span>
                                <span *ngIf="createGroupIndex!=0" (click)="removeMitreInitial(createGroupIndex, 'Persistence')"><i class="pi pi-times"></i>  </span>
                                <span *ngIf="createGroupIndex==0" (click)="removeMitreInitialZ(createGroupIndex, 'mitrePersistence')"> <i class="pi pi-times"></i>  </span>

                            </h3>
                        </div>
                        <div class="block-div p-col-12">
                            <div class="p-col-12 p-md-6 p-field">
                                <label type="text" class="col-form-label">Technique ID</label>
                                <p-autoComplete formControlName="techniqueId"  [forceSelection]="true"
                                                [suggestions]="techniqueIdResult" [dropdown]="true"
                                                (completeMethod)="searchTechniqueById($event, 4)"
                                                (onClear)="clear('mitrePersistence', createGroupIndex)"
                                                (ngModelChange)="patchMitreDetails(unit.controls, 'mitrePersistence', createGroupIndex, 'id')"
                                >
                                    <ng-template let-techniqueId pTemplate="item">
                                        {{techniqueId}}
                                    </ng-template>
                                </p-autoComplete>
                                <div *ngIf="unit.controls.techniqueId.errors">
                        <span class="p-error" *ngIf="((unit.controls.techniqueId.dirty || unit.controls.techniqueId.touched) && unit.controls.techniqueId.errors?.required && !submitNextThree)">
                          Technique ID required
                        </span>
                                    <span class="p-error" *ngIf="((submitNextThree) && unit.controls.techniqueId.errors?.required)">
                          Technique ID is required
                        </span>
                                </div>
                            </div>
                            <div class="p-col-12 p-md-6 p-field">
                                <label type="text" class="col-form-label">Technique Name</label>
                                <input formControlName="name" type="text" pInputText class="p-inputtext animation" readonly [disabled]="true"
                                >
                                <div *ngIf="unit.controls.name.errors">
                        <span class="p-error" *ngIf="((unit.controls.name.dirty || unit.controls.name.touched) && unit.controls.name.errors?.required && !submitNextThree)">
                          Technique Name is required
                        </span>
                                    <span class="p-error" *ngIf="((submitNextThree) && unit.controls.name.errors?.required)">
                          Technique Name is required
                        </span>
                                </div>

                            </div>
                        </div>
                        <div class="p-col-12 p-md-12 p-field">
                            <label type="text" class="col-form-label">Description</label>
                            <textarea type="text" formControlName="description"
                                       pInputText class="p-inputtext animation"
                            ></textarea>
                            <div *ngIf="unit.controls.description.errors">
                        <span class="p-error" *ngIf="((unit.controls.description.dirty || unit.controls.description.touched) && unit.controls.description.errors?.required && !submitNextThree)">
                          Description is required
                        </span>
                                <span class="p-error" *ngIf="((submitNextThree) && unit.controls.description.errors?.required)">
                          Description is required
                        </span>
                            </div>


                        </div>
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab header="Privilege Escalation"  [selected]="privopen">
                <div formArrayName="mitrePrivilegeEscalation" class="p-grid"
                     *ngFor="let unit of createGroupForm.get('mitrePrivilegeEscalation')['controls']; let createGroupIndex = index;">
                    <div class="p-col "  [formGroupName]="createGroupIndex">
                        <div class="p-col-12">
                            <h3 class="form-add">
                            <span *ngIf="createGroupIndex===0 || createGroupIndex===createGroupForm.get('mitrePrivilegeEscalation')['controls'].length - 1"
                                  (click)="addMitreInitial('Privilege Escalation')"> <i class="pi pi-plus"></i> </span>
                                <span *ngIf="createGroupIndex!=0" (click)="removeMitreInitial(createGroupIndex, 'Privilege Escalation')"><i class="pi pi-times"></i>  </span>
                                <span *ngIf="createGroupIndex==0" (click)="removeMitreInitialZ(createGroupIndex, 'mitrePrivilegeEscalation')"> <i class="pi pi-times"></i>  </span>

                            </h3>
                        </div>
                        <div class="block-div p-col-12">
                            <div class="p-col-12 p-md-6 p-field">
                                <label type="text" class="col-form-label">Technique ID</label>
                                <p-autoComplete formControlName="techniqueId"  [forceSelection]="true"
                                                [suggestions]="techniqueIdResult" [dropdown]="true"
                                                (completeMethod)="searchTechniqueById($event, 5)"
                                                (onClear)="clear('mitrePrivilegeEscalation', createGroupIndex)"
                                                (ngModelChange)="patchMitreDetails(unit.controls, 'mitrePrivilegeEscalation', createGroupIndex, 'id')"
                                >
                                    <ng-template let-techniqueId pTemplate="item">
                                        {{techniqueId}}
                                    </ng-template>
                                </p-autoComplete>
                                <div *ngIf="unit.controls.techniqueId.errors">
                        <span class="p-error" *ngIf="((unit.controls.techniqueId.dirty || unit.controls.techniqueId.touched) && unit.controls.techniqueId.errors?.required && !submitNextThree)">
                          Technique ID required
                        </span>
                                    <span class="p-error" *ngIf="((submitNextThree) && unit.controls.techniqueId.errors?.required)">
                          Technique ID is required
                        </span>
                                </div>
                            </div>
                            <div class="p-col-12 p-md-6 p-field">
                                <label type="text" class="col-form-label">Technique Name</label>
                                <input formControlName="name" type="text" pInputText class="p-inputtext animation" readonly [disabled]="true"
                                >
                                <div *ngIf="unit.controls.name.errors">
                        <span class="p-error" *ngIf="((unit.controls.name.dirty || unit.controls.name.touched) && unit.controls.name.errors?.required && !submitNextThree)">
                          Technique Name is required
                        </span>
                                    <span class="p-error" *ngIf="((submitNextThree) && unit.controls.name.errors?.required)">
                          Technique Name is required
                        </span>
                                </div>

                            </div>
                        </div>
                        <div class="p-col-12 p-md-12 p-field">
                            <label type="text" class="col-form-label">Description</label>
                            <textarea type="text" formControlName="description"
                                       pInputText class="p-inputtext animation"
                            ></textarea>
                            <div *ngIf="unit.controls.description.errors">
                        <span class="p-error" *ngIf="((unit.controls.description.dirty || unit.controls.description.touched) && unit.controls.description.errors?.required && !submitNextThree)">
                          Description is required
                        </span>
                                <span class="p-error" *ngIf="((submitNextThree) && unit.controls.description.errors?.required)">
                          Description is required
                        </span>
                            </div>


                        </div>
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab header="Defence Evasion"  [selected]="defEVAopen">
                <div formArrayName="mitreDefenseEvasion" class="p-grid"
                     *ngFor="let unit of createGroupForm.get('mitreDefenseEvasion')['controls']; let createGroupIndex = index;">
                    <div class="p-col "  [formGroupName]="createGroupIndex">
                        <div class="p-col-12">
                            <h3 class="form-add">
                            <span *ngIf="createGroupIndex===0 || createGroupIndex===createGroupForm.get('mitreDefenseEvasion')['controls'].length - 1"
                                  (click)="addMitreInitial('Defense Evasion')"> <i class="pi pi-plus"></i> </span>
                                <span *ngIf="createGroupIndex!=0" (click)="removeMitreInitial(createGroupIndex, 'Defense Evasion')"><i class="pi pi-times"></i>  </span>
                                <span *ngIf="createGroupIndex==0" (click)="removeMitreInitialZ(createGroupIndex, 'mitreDefenseEvasion')"> <i class="pi pi-times"></i>  </span>

                            </h3>
                        </div>
                        <div class="block-div p-col-12">
                            <div class="p-col-12 p-md-6 p-field">
                                <label type="text" class="col-form-label">Technique ID</label>
                                <p-autoComplete formControlName="techniqueId"  [forceSelection]="true"
                                                [suggestions]="techniqueIdResult" [dropdown]="true"
                                                (completeMethod)="searchTechniqueById($event, 6)"
                                                (onClear)="clear('mitreDefenseEvasion', createGroupIndex)"

                                                (ngModelChange)="patchMitreDetails(unit.controls, 'mitreDefenseEvasion', createGroupIndex, 'id')"
                                >
                                    <ng-template let-techniqueId pTemplate="item">
                                        {{techniqueId}}
                                    </ng-template>
                                </p-autoComplete>
                                <div *ngIf="unit.controls.techniqueId.errors">
                        <span class="p-error" *ngIf="((unit.controls.techniqueId.dirty || unit.controls.techniqueId.touched) && unit.controls.techniqueId.errors?.required && !submitNextThree)">
                          Technique ID required
                        </span>
                                    <span class="p-error" *ngIf="((submitNextThree) && unit.controls.techniqueId.errors?.required)">
                          Technique ID is required
                        </span>
                                </div>
                            </div>
                            <div class="p-col-12 p-md-6 p-field">
                                <label type="text" class="col-form-label">Technique Name</label>
                                <input formControlName="name" type="text" pInputText class="p-inputtext animation" readonly [disabled]="true"
                                >
                                <div *ngIf="unit.controls.name.errors">
                        <span class="p-error" *ngIf="((unit.controls.name.dirty || unit.controls.name.touched) && unit.controls.name.errors?.required && !submitNextThree)">
                          Technique Name is required
                        </span>
                                    <span class="p-error" *ngIf="((submitNextThree) && unit.controls.name.errors?.required)">
                          Technique Name is required
                        </span>
                                </div>

                            </div>
                        </div>
                        <div class="p-col-12 p-md-12 p-field">
                            <label type="text" class="col-form-label">Description</label>
                            <textarea type="text" formControlName="description"
                                       pInputText class="p-inputtext animation"
                            ></textarea>
                            <div *ngIf="unit.controls.description.errors">
                        <span class="p-error" *ngIf="((unit.controls.description.dirty || unit.controls.description.touched) && unit.controls.description.errors?.required && !submitNextThree)">
                          Description is required
                        </span>
                                <span class="p-error" *ngIf="((submitNextThree) && unit.controls.description.errors?.required)">
                          Description is required
                        </span>
                            </div>


                        </div>
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab header="Credential Access"  [selected]="credAccopen">
                <div formArrayName="mitreCredentialAccess" class="p-grid"
                     *ngFor="let unit of createGroupForm.get('mitreCredentialAccess')['controls']; let createGroupIndex = index;">
                    <div class="p-col "  [formGroupName]="createGroupIndex">
                        <div class="p-col-12">
                            <h3 class="form-add">
                            <span *ngIf="createGroupIndex===0 || createGroupIndex===createGroupForm.get('mitreCredentialAccess')['controls'].length - 1"
                                  (click)="addMitreInitial('Credential Access')"> <i class="pi pi-plus"></i> </span>
                                <span *ngIf="createGroupIndex!=0" (click)="removeMitreInitial(createGroupIndex, 'Credential Access')"><i class="pi pi-times"></i>  </span>
                                <span *ngIf="createGroupIndex==0" (click)="removeMitreInitialZ(createGroupIndex, 'mitreCredentialAccess')"> <i class="pi pi-times"></i>  </span>

                            </h3>
                        </div>
                        <div class="block-div p-col-12">
                            <div class="p-col-12 p-md-6 p-field">
                                <label type="text" class="col-form-label">Technique ID</label>
                                <p-autoComplete formControlName="techniqueId"  [forceSelection]="true"
                                                [suggestions]="techniqueIdResult" [dropdown]="true"
                                                (completeMethod)="searchTechniqueById($event, 7)"
                                                (onClear)="clear('mitreCredentialAccess', createGroupIndex)"

                                                (ngModelChange)="patchMitreDetails(unit.controls, 'mitreCredentialAccess', createGroupIndex, 'id')"
                                >
                                    <ng-template let-techniqueId pTemplate="item">
                                        {{techniqueId}}
                                    </ng-template>
                                </p-autoComplete>
                                <div *ngIf="unit.controls.techniqueId.errors">
                        <span class="p-error" *ngIf="((unit.controls.techniqueId.dirty || unit.controls.techniqueId.touched) && unit.controls.techniqueId.errors?.required && !submitNextThree)">
                          Technique ID required
                        </span>
                                    <span class="p-error" *ngIf="((submitNextThree) && unit.controls.techniqueId.errors?.required)">
                          Technique ID is required
                        </span>
                                </div>
                            </div>
                            <div class="p-col-12 p-md-6 p-field">
                                <label type="text" class="col-form-label">Technique Name</label>
                                <input formControlName="name" type="text" pInputText class="p-inputtext animation" readonly [disabled]="true"
                                >
                                <div *ngIf="unit.controls.name.errors">
                        <span class="p-error" *ngIf="((unit.controls.name.dirty || unit.controls.name.touched) && unit.controls.name.errors?.required && !submitNextThree)">
                          Technique Name is required
                        </span>
                                    <span class="p-error" *ngIf="((submitNextThree) && unit.controls.name.errors?.required)">
                          Technique Name is required
                        </span>
                                </div>

                            </div>
                        </div>
                        <div class="p-col-12 p-md-12 p-field">
                            <label type="text" class="col-form-label">Description</label>
                            <textarea type="text" formControlName="description"
                                       pInputText class="p-inputtext animation"
                            ></textarea>
                            <div *ngIf="unit.controls.description.errors">
                        <span class="p-error" *ngIf="((unit.controls.description.dirty || unit.controls.description.touched) && unit.controls.description.errors?.required && !submitNextThree)">
                          Description is required
                        </span>
                                <span class="p-error" *ngIf="((submitNextThree) && unit.controls.description.errors?.required)">
                          Description is required
                        </span>
                            </div>


                        </div>
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab header="Discovery"  [selected]="discopen">
                <div formArrayName="mitreDiscovery" class="p-grid"
                     *ngFor="let unit of createGroupForm.get('mitreDiscovery')['controls']; let createGroupIndex = index;">
                    <div class="p-col "  [formGroupName]="createGroupIndex">
                        <div class="p-col-12">
                            <h3 class="form-add">
                            <span *ngIf="createGroupIndex===0 || createGroupIndex===createGroupForm.get('mitreDiscovery')['controls'].length - 1"
                                  (click)="addMitreInitial('Discovery')"> <i class="pi pi-plus"></i> </span>
                                <span *ngIf="createGroupIndex!=0" (click)="removeMitreInitial(createGroupIndex, 'Discovery')"><i class="pi pi-times"></i>  </span>
                                <span *ngIf="createGroupIndex==0" (click)="removeMitreInitialZ(createGroupIndex, 'mitreDiscovery')"> <i class="pi pi-times"></i>  </span>

                            </h3>
                        </div>
                        <div class="block-div p-col-12">
                            <div class="p-col-12 p-md-6 p-field">
                                <label type="text" class="col-form-label">Technique ID</label>
                                <p-autoComplete formControlName="techniqueId"  [forceSelection]="true"
                                                [suggestions]="techniqueIdResult" [dropdown]="true"
                                                (completeMethod)="searchTechniqueById($event, 8)"
                                                (onClear)="clear('mitreDiscovery', createGroupIndex)"
                                                (ngModelChange)="patchMitreDetails(unit.controls, 'mitreDiscovery', createGroupIndex, 'id')"
                                >
                                    <ng-template let-techniqueId pTemplate="item">
                                        {{techniqueId}}
                                    </ng-template>
                                </p-autoComplete>
                                <div *ngIf="unit.controls.techniqueId.errors">
                        <span class="p-error" *ngIf="((unit.controls.techniqueId.dirty || unit.controls.techniqueId.touched) && unit.controls.techniqueId.errors?.required && !submitNextThree)">
                          Technique ID required
                        </span>
                                    <span class="p-error" *ngIf="((submitNextThree) && unit.controls.techniqueId.errors?.required)">
                          Technique ID is required
                        </span>
                                </div>
                            </div>
                            <div class="p-col-12 p-md-6 p-field">
                                <label type="text" class="col-form-label">Technique Name</label>
                                <input formControlName="name" type="text" pInputText class="p-inputtext animation" readonly [disabled]="true"
                                >
                                <div *ngIf="unit.controls.name.errors">
                        <span class="p-error" *ngIf="((unit.controls.name.dirty || unit.controls.name.touched) && unit.controls.name.errors?.required && !submitNextThree)">
                          Technique Name is required
                        </span>
                                    <span class="p-error" *ngIf="((submitNextThree) && unit.controls.name.errors?.required)">
                          Technique Name is required
                        </span>
                                </div>

                            </div>
                        </div>
                        <div class="p-col-12 p-md-12 p-field">
                            <label type="text" class="col-form-label">Description</label>
                            <textarea type="text" formControlName="description"
                                       pInputText class="p-inputtext animation"
                            ></textarea>
                            <div *ngIf="unit.controls.description.errors">
                        <span class="p-error" *ngIf="((unit.controls.description.dirty || unit.controls.description.touched) && unit.controls.description.errors?.required && !submitNextThree)">
                          Description is required
                        </span>
                                <span class="p-error" *ngIf="((submitNextThree) && unit.controls.description.errors?.required)">
                          Description is required
                        </span>
                            </div>


                        </div>
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab header="Lateral Movement"  [selected]="lateralopen">
                <div formArrayName="mitreLateralMovement" class="p-grid"
                     *ngFor="let unit of createGroupForm.get('mitreLateralMovement')['controls']; let createGroupIndex = index;">
                    <div class="p-col "  [formGroupName]="createGroupIndex">
                        <div class="p-col-12">
                            <h3 class="form-add">
                            <span *ngIf="createGroupIndex===0 || createGroupIndex===createGroupForm.get('mitreLateralMovement')['controls'].length - 1"
                                  (click)="addMitreInitial('Lateral Movement')"> <i class="pi pi-plus"></i> </span>
                                <span *ngIf="createGroupIndex!=0" (click)="removeMitreInitial(createGroupIndex, 'Lateral Movement')"><i class="pi pi-times"></i>  </span>
                                <span *ngIf="createGroupIndex==0" (click)="removeMitreInitialZ(createGroupIndex, 'mitreLateralMovement')"> <i class="pi pi-times"></i>  </span>

                            </h3>
                        </div>
                        <div class="block-div p-col-12">
                            <div class="p-col-12 p-md-6 p-field">
                                <label type="text" class="col-form-label">Technique ID</label>
                                <p-autoComplete formControlName="techniqueId"  [forceSelection]="true"
                                                [suggestions]="techniqueIdResult" [dropdown]="true"
                                                (completeMethod)="searchTechniqueById($event, 9)"
                                                (onClear)="clear('mitreLateralMovement', createGroupIndex)"

                                                (ngModelChange)="patchMitreDetails(unit.controls, 'mitreLateralMovement', createGroupIndex, 'id')"
                                >
                                    <ng-template let-techniqueId pTemplate="item">
                                        {{techniqueId}}
                                    </ng-template>
                                </p-autoComplete>
                                <div *ngIf="unit.controls.techniqueId.errors">
                        <span class="p-error" *ngIf="((unit.controls.techniqueId.dirty || unit.controls.techniqueId.touched) && unit.controls.techniqueId.errors?.required && !submitNextThree)">
                          Technique ID required
                        </span>
                                    <span class="p-error" *ngIf="((submitNextThree) && unit.controls.techniqueId.errors?.required)">
                          Technique ID is required
                        </span>
                                </div>
                            </div>
                            <div class="p-col-12 p-md-6 p-field">
                                <label type="text" class="col-form-label">Technique Name</label>
                                <input formControlName="name" type="text" pInputText class="p-inputtext animation" readonly [disabled]="true"
                                >
                                <div *ngIf="unit.controls.name.errors">
                        <span class="p-error" *ngIf="((unit.controls.name.dirty || unit.controls.name.touched) && unit.controls.name.errors?.required && !submitNextThree)">
                          Technique Name is required
                        </span>
                                    <span class="p-error" *ngIf="((submitNextThree) && unit.controls.name.errors?.required)">
                          Technique Name is required
                        </span>
                                </div>

                            </div>
                        </div>
                        <div class="p-col-12 p-md-12 p-field">
                            <label type="text" class="col-form-label">Description</label>
                            <textarea type="text" formControlName="description"
                                       pInputText class="p-inputtext animation"
                            ></textarea>
                            <div *ngIf="unit.controls.description.errors">
                        <span class="p-error" *ngIf="((unit.controls.description.dirty || unit.controls.description.touched) && unit.controls.description.errors?.required && !submitNextThree)">
                          Description is required
                        </span>
                                <span class="p-error" *ngIf="((submitNextThree) && unit.controls.description.errors?.required)">
                          Description is required
                        </span>
                            </div>


                        </div>
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab header="Collection"  [selected]="collecopen">
                <div formArrayName="mitreCollection" class="p-grid"
                     *ngFor="let unit of createGroupForm.get('mitreCollection')['controls']; let createGroupIndex = index;">
                    <div class="p-col "  [formGroupName]="createGroupIndex">
                        <div class="p-col-12">
                            <h3 class="form-add">
                            <span *ngIf="createGroupIndex===0 || createGroupIndex===createGroupForm.get('mitreCollection')['controls'].length - 1"
                                  (click)="addMitreInitial('Collection')"> <i class="pi pi-plus"></i> </span>
                                <span *ngIf="createGroupIndex!=0" (click)="removeMitreInitial(createGroupIndex, 'Collection')"><i class="pi pi-times"></i>  </span>
                                <span *ngIf="createGroupIndex==0" (click)="removeMitreInitialZ(createGroupIndex, 'mitreCollection')"> <i class="pi pi-times"></i>  </span>

                            </h3>
                        </div>
                        <div class="block-div p-col-12">
                            <div class="p-col-12 p-md-6 p-field">
                                <label type="text" class="col-form-label">Technique ID</label>
                                <p-autoComplete formControlName="techniqueId"  [forceSelection]="true"
                                                [suggestions]="techniqueIdResult" [dropdown]="true"
                                                (completeMethod)="searchTechniqueById($event, 10)"
                                                (onClear)="clear('mitreCollection', createGroupIndex)"

                                                (ngModelChange)="patchMitreDetails(unit.controls, 'mitreCollection', createGroupIndex, 'id')"
                                >
                                    <ng-template let-techniqueId pTemplate="item">
                                        {{techniqueId}}
                                    </ng-template>
                                </p-autoComplete>
                                <div *ngIf="unit.controls.techniqueId.errors">
                        <span class="p-error" *ngIf="((unit.controls.techniqueId.dirty || unit.controls.techniqueId.touched) && unit.controls.techniqueId.errors?.required && !submitNextThree)">
                          Technique ID required
                        </span>
                                    <span class="p-error" *ngIf="((submitNextThree) && unit.controls.techniqueId.errors?.required)">
                          Technique ID is required
                        </span>
                                </div>
                            </div>
                            <div class="p-col-12 p-md-6 p-field">
                                <label type="text" class="col-form-label">Technique Name</label>
                                <input formControlName="name" type="text" pInputText class="p-inputtext animation" readonly [disabled]="true"
                                >
                                <div *ngIf="unit.controls.name.errors">
                        <span class="p-error" *ngIf="((unit.controls.name.dirty || unit.controls.name.touched) && unit.controls.name.errors?.required && !submitNextThree)">
                          Technique Name is required
                        </span>
                                    <span class="p-error" *ngIf="((submitNextThree) && unit.controls.name.errors?.required)">
                          Technique Name is required
                        </span>
                                </div>

                            </div>
                        </div>
                        <div class="p-col-12 p-md-12 p-field">
                            <label type="text" class="col-form-label">Description</label>
                            <textarea type="text" formControlName="description"
                                       pInputText class="p-inputtext animation"
                            ></textarea>
                            <div *ngIf="unit.controls.description.errors">
                        <span class="p-error" *ngIf="((unit.controls.description.dirty || unit.controls.description.touched) && unit.controls.description.errors?.required && !submitNextThree)">
                          Description is required
                        </span>
                                <span class="p-error" *ngIf="((submitNextThree) && unit.controls.description.errors?.required)">
                          Description is required
                        </span>
                            </div>


                        </div>
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab header="Command and Control"  [selected]="cacopen">
                <div formArrayName="mitreCommandAndControl" class="p-grid"
                     *ngFor="let unit of createGroupForm.get('mitreCommandAndControl')['controls']; let createGroupIndex = index;">
                    <div class="p-col "  [formGroupName]="createGroupIndex">
                        <div class="p-col-12">
                            <h3 class="form-add">
                            <span *ngIf="createGroupIndex===0 || createGroupIndex===createGroupForm.get('mitreCommandAndControl')['controls'].length - 1"
                                  (click)="addMitreInitial('Command and Control')"> <i class="pi pi-plus"></i> </span>
                                <span *ngIf="createGroupIndex!=0" (click)="removeMitreInitial(createGroupIndex, 'Command and Control')"><i class="pi pi-times"></i>  </span>
                                <span *ngIf="createGroupIndex==0" (click)="removeMitreInitialZ(createGroupIndex, 'mitreCommandAndControl')"> <i class="pi pi-times"></i>  </span>

                            </h3>
                        </div>
                        <div class="block-div p-col-12">
                            <div class="p-col-12 p-md-6 p-field">
                                <label type="text" class="col-form-label">Technique ID</label>
                                <p-autoComplete formControlName="techniqueId"  [forceSelection]="true"
                                                [suggestions]="techniqueIdResult" [dropdown]="true"
                                                (completeMethod)="searchTechniqueById($event, 11)"
                                                (onClear)="clear('mitreCommandAndControl', createGroupIndex)"

                                                (ngModelChange)="patchMitreDetails(unit.controls, 'mitreCommandAndControl', createGroupIndex, 'id')"
                                >
                                    <ng-template let-techniqueId pTemplate="item">
                                        {{techniqueId}}
                                    </ng-template>
                                </p-autoComplete>
                                <div *ngIf="unit.controls.techniqueId.errors">
                        <span class="p-error" *ngIf="((unit.controls.techniqueId.dirty || unit.controls.techniqueId.touched) && unit.controls.techniqueId.errors?.required && !submitNextThree)">
                          Technique ID required
                        </span>
                                    <span class="p-error" *ngIf="((submitNextThree) && unit.controls.techniqueId.errors?.required)">
                          Technique ID is required
                        </span>
                                </div>
                            </div>
                            <div class="p-col-12 p-md-6 p-field">
                                <label type="text" class="col-form-label">Technique Name</label>
                                <input formControlName="name" type="text" pInputText class="p-inputtext animation" readonly [disabled]="true"
                                >
                                <div *ngIf="unit.controls.name.errors">
                        <span class="p-error" *ngIf="((unit.controls.name.dirty || unit.controls.name.touched) && unit.controls.name.errors?.required && !submitNextThree)">
                          Technique Name is required
                        </span>
                                    <span class="p-error" *ngIf="((submitNextThree) && unit.controls.name.errors?.required)">
                          Technique Name is required
                        </span>
                                </div>

                            </div>
                        </div>
                        <div class="p-col-12 p-md-12 p-field">
                            <label type="text" class="col-form-label">Description</label>
                            <textarea type="text" formControlName="description"
                                       pInputText class="p-inputtext animation"
                            ></textarea>
                            <div *ngIf="unit.controls.description.errors">
                        <span class="p-error" *ngIf="((unit.controls.description.dirty || unit.controls.description.touched) && unit.controls.description.errors?.required && !submitNextThree)">
                          Description is required
                        </span>
                                <span class="p-error" *ngIf="((submitNextThree) && unit.controls.description.errors?.required)">
                          Description is required
                        </span>
                            </div>


                        </div>
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab header="Exfiltration"  [selected]="exifopen">
                <div formArrayName="mitreExfiltration" class="p-grid"
                     *ngFor="let unit of createGroupForm.get('mitreExfiltration')['controls']; let createGroupIndex = index;">
                    <div class="p-col "  [formGroupName]="createGroupIndex">
                        <div class="p-col-12">
                            <h3 class="form-add">
                            <span *ngIf="createGroupIndex===0 || createGroupIndex===createGroupForm.get('mitreExfiltration')['controls'].length - 1"
                                  (click)="addMitreInitial('Exfiltration')"> <i class="pi pi-plus"></i> </span>
                                <span *ngIf="createGroupIndex!=0" (click)="removeMitreInitial(createGroupIndex, 'Exfiltration')"><i class="pi pi-times"></i>  </span>
                                <span *ngIf="createGroupIndex==0" (click)="removeMitreInitialZ(createGroupIndex, 'mitreExfiltration')"> <i class="pi pi-times"></i>  </span>

                            </h3>
                        </div>
                        <div class="block-div p-col-12">
                            <div class="p-col-12 p-md-6 p-field">
                                <label type="text" class="col-form-label">Technique ID</label>
                                <p-autoComplete formControlName="techniqueId"  [forceSelection]="true"
                                                [suggestions]="techniqueIdResult" [dropdown]="true"
                                                (completeMethod)="searchTechniqueById($event, 12)"
                                                (onClear)="clear('mitreExfiltration', createGroupIndex)"

                                                (ngModelChange)="patchMitreDetails(unit.controls, 'mitreExfiltration', createGroupIndex, 'id')"
                                >
                                    <ng-template let-techniqueId pTemplate="item">
                                        {{techniqueId}}
                                    </ng-template>
                                </p-autoComplete>
                                <div *ngIf="unit.controls.techniqueId.errors">
                        <span class="p-error" *ngIf="((unit.controls.techniqueId.dirty || unit.controls.techniqueId.touched) && unit.controls.techniqueId.errors?.required && !submitNextThree)">
                          Technique ID required
                        </span>
                                    <span class="p-error" *ngIf="((submitNextThree) && unit.controls.techniqueId.errors?.required)">
                          Technique ID is required
                        </span>
                                </div>
                            </div>
                            <div class="p-col-12 p-md-6 p-field">
                                <label type="text" class="col-form-label">Technique Name</label>
                                <input formControlName="name" type="text" pInputText class="p-inputtext animation" readonly [disabled]="true"
                                >
                                <div *ngIf="unit.controls.name.errors">
                        <span class="p-error" *ngIf="((unit.controls.name.dirty || unit.controls.name.touched) && unit.controls.name.errors?.required && !submitNextThree)">
                          Technique Name is required
                        </span>
                                    <span class="p-error" *ngIf="((submitNextThree) && unit.controls.name.errors?.required)">
                          Technique Name is required
                        </span>
                                </div>

                            </div>
                        </div>
                        <div class="p-col-12 p-md-12 p-field">
                            <label type="text" class="col-form-label">Description</label>
                            <textarea type="text" formControlName="description"
                                       pInputText class="p-inputtext animation"
                            ></textarea>
                            <div *ngIf="unit.controls.description.errors">
                        <span class="p-error" *ngIf="((unit.controls.description.dirty || unit.controls.description.touched) && unit.controls.description.errors?.required && !submitNextThree)">
                          Description is required
                        </span>
                                <span class="p-error" *ngIf="((submitNextThree) && unit.controls.description.errors?.required)">
                          Description is required
                        </span>
                            </div>


                        </div>
                    </div>
                </div>
            </p-accordionTab>
            <p-accordionTab header="Impact"  [selected]="impopen">
                <div formArrayName="mitreImpact" class="p-grid"
                     *ngFor="let unit of createGroupForm.get('mitreImpact')['controls']; let createGroupIndex = index;">
                    <div class="p-col "  [formGroupName]="createGroupIndex">
                        <div class="p-col-12">
                            <h3 class="form-add">
                            <span *ngIf="createGroupIndex===0 || createGroupIndex===createGroupForm.get('mitreImpact')['controls'].length - 1"
                                  (click)="addMitreInitial('Impact')"> <i class="pi pi-plus"></i> </span>
                                <span *ngIf="createGroupIndex!=0" (click)="removeMitreInitial(createGroupIndex, 'Impact')"><i class="pi pi-times"></i>  </span>
                                <span *ngIf="createGroupIndex==0" (click)="removeMitreInitialZ(createGroupIndex, 'mitreImpact')"> <i class="pi pi-times"></i>  </span>

                            </h3>
                        </div>
                        <div class="block-div p-col-12">
                            <div class="p-col-12 p-md-6 p-field">
                                <label type="text" class="col-form-label">Technique ID</label>
                                <p-autoComplete formControlName="techniqueId"  [forceSelection]="true"
                                                [suggestions]="techniqueIdResult" [dropdown]="true"
                                                (completeMethod)="searchTechniqueById($event, 13)"
                                                (onClear)="clear('mitreImpact', createGroupIndex)"

                                                (ngModelChange)="patchMitreDetails(unit.controls, 'mitreImpact', createGroupIndex, 'id')"
                                >
                                    <ng-template let-techniqueId pTemplate="item">
                                        {{techniqueId}}
                                    </ng-template>
                                </p-autoComplete>
                                <div *ngIf="unit.controls.techniqueId.errors">
                        <span class="p-error" *ngIf="((unit.controls.techniqueId.dirty || unit.controls.techniqueId.touched) && unit.controls.techniqueId.errors?.required && !submitNextThree)">
                          Technique ID required
                        </span>
                                    <span class="p-error" *ngIf="((submitNextThree) && unit.controls.techniqueId.errors?.required)">
                          Technique ID is required
                        </span>
                                </div>
                            </div>
                            <div class="p-col-12 p-md-6 p-field">
                                <label type="text" class="col-form-label">Technique Name</label>
                                <input formControlName="name" type="text" pInputText class="p-inputtext animation" readonly [disabled]="true"
                                >
                                <div *ngIf="unit.controls.name.errors">
                        <span class="p-error" *ngIf="((unit.controls.name.dirty || unit.controls.name.touched) && unit.controls.name.errors?.required && !submitNextThree)">
                          Technique Name is required
                        </span>
                                    <span class="p-error" *ngIf="((submitNextThree) && unit.controls.name.errors?.required)">
                          Technique Name is required
                        </span>
                                </div>

                            </div>
                        </div>
                        <div class="p-col-12 p-md-12 p-field">
                            <label type="text" class="col-form-label">Description</label>
                            <textarea type="text" formControlName="description"
                                       pInputText class="p-inputtext animation"
                            ></textarea>
                            <div *ngIf="unit.controls.description.errors">
                        <span class="p-error" *ngIf="((unit.controls.description.dirty || unit.controls.description.touched) && unit.controls.description.errors?.required && !submitNextThree)">
                          Description is required
                        </span>
                                <span class="p-error" *ngIf="((submitNextThree) && unit.controls.description.errors?.required)">
                          Description is required
                        </span>
                            </div>


                        </div>
                    </div>
                </div>
            </p-accordionTab>
          </p-accordion>

        </p-card>
          <p-card header="Attacks/Campaigns">
              <p-accordion class="accordion" [multiple]="true">
                  <p-accordionTab header="Attacks/Campaigns">
                      <div formArrayName="attackCampaigns" class="p-grid"
                           *ngFor="let unit of createGroupForm.get('attackCampaigns')['controls']; let createGroupIndex = index;">
                          <div class="p-col " [formGroupName]="createGroupIndex">
                              <div class="p-col-12">
                                  <h3 class="form-add">
                            <span *ngIf="createGroupIndex===0 || createGroupIndex===createGroupForm.get('attackCampaigns')['controls'].length - 1"
                                  (click)="addAttackCampaigns()"> <i class="pi pi-plus"></i> </span>
                                      <span *ngIf="createGroupIndex!=0" (click)="removeAttackCampaigns(createGroupIndex)"><i class="pi pi-times"></i>  </span>
                                      <span *ngIf="createGroupIndex==0" (click)="removeAttackCampaignsZ(createGroupIndex)"> <i class="pi pi-times"></i>  </span>

                                  </h3>
                              </div>
                              <div class="block-div p-col-12">
                                  <div class="p-col-12 p-md-6 p-field">
                                      <label type="text" class="col-form-label">Attack/Campaign Name</label>
                                      <p-autoComplete  formControlName="caseName" [suggestions]="caseNameResult"
                                                       (ngModelChange)="patchIndiactorDetails(unit.controls, 'attackCampaigns', createGroupIndex)"
                                                       (completeMethod)="searchCasename($event)"
                                                       [dropdown]="true">
                                          <ng-template let-caseName pTemplate="item">
                                              {{caseName}}
                                          </ng-template>
                                      </p-autoComplete>
                                      <div *ngIf="unit.controls.caseName.errors">
                                      <span class="p-error" *ngIf="((unit.controls.caseName.dirty || unit.controls.caseName.touched) && unit.controls.caseName.errors?.required && !submitNextThree)">
                                          Attack/Campaign Name is required
                                      </span>
                                          <span class="p-error" *ngIf="((submitNextThree) && unit.controls.caseName.errors?.required)">
                                          Attack/Campaign Name is required
                                      </span>
                                      </div>

                                  </div>
                                  <div class="p-col-12 p-md-6 p-field">
                                      <label type="text" class="col-form-label">Associated Indicators</label>
                                      <input type="number" formControlName="associatedIndicators"
                                             readonly  pInputText class="p-inputtext animation"/>

                                      <div *ngIf="unit.controls.associatedIndicators.errors">
                                      <span class="p-error" *ngIf="((unit.controls.associatedIndicators.dirty || unit.controls.associatedIndicators.touched) && unit.controls.associatedIndicators.errors?.required && !submitNextThree)">
                                          Associated Indicator is required
                                      </span>
                                          <span class="p-error" *ngIf="((submitNextThree) && unit.controls.associatedIndicators.errors?.required)">
                                          Associated Indicator is required
                                      </span>
                                      </div>
                                  </div>
                              </div>
                              <div class="block-div p-col-12">
                                  <div class="p-col-12 p-md-6 p-field p-fluid">
                                      <label type="text" class="col-form-label">Countries</label>
                                      <angular2-multiselect [data]="regionResult"
                                                            [settings]="settings"
                                                            formControlName="regions">
                                      </angular2-multiselect>
                                      <div *ngIf="unit.controls.regions.errors">
                                      <span class="p-error" *ngIf="((unit.controls.regions.dirty || unit.controls.regions.touched) && unit.controls.regions.errors?.required && !submitNextThree)">
                                          Country Name is required
                                      </span>
                                          <span class="p-error" *ngIf="((submitNextThree) && unit.controls.regions.errors?.required)">
                                          Country Name is required
                                      </span>
                                      </div>
                                  </div>

                                  <div class="p-col-12 p-md-6 p-field">
                                      <label type="text" class="col-form-label">Sectors</label>
                                      <angular2-multiselect [data]="sectorResult"
                                                            [settings]="settingsSector"
                                                            formControlName="sectors">
                                      </angular2-multiselect>
                                      <div *ngIf="unit.controls.sectors.errors">
                                      <span class="p-error" *ngIf="((unit.controls.sectors.dirty || unit.controls.sectors.touched) && unit.controls.sectors.errors?.required && !submitNextThree)">
                                          Sector is required
                                      </span>
                                          <span class="p-error" *ngIf="((submitNextThree) && unit.controls.sectors.errors?.required)">
                                          Sector is required
                                      </span>
                                      </div>
                                  </div>
                              </div>
                          </div>

                      </div>
                  </p-accordionTab>
              </p-accordion>

          </p-card>
          <div class="p-mt-4 p-d-flex">
              <button class="p-button p-component ng-star-inserted w-auto" type="submit">
                  <span class="p-button-label">Create Group</span>
              </button>
              <button class="p-button p-component ng-star-inserted w-auto" type="button" (click)="onCancel()">
                  <span class="p-button-label">Cancel</span>
              </button>

          </div>
      </form>
    </p-card>
  </div>

</div>
<p-confirmDialog [style]="{width: '50vw'}"></p-confirmDialog>
