<app-header></app-header>
<div class="content---wrapper">
    <aside class="sidepanel">
        <app-menu></app-menu>
    </aside>
    <div class="pages">
        <router-outlet></router-outlet>
    </div>
</div>
